<template>
  <main-block>
    <template v-slot:header>
      <base-page-header title="Управление" />
    </template>
    <template v-slot:main>
      <dashboard-user-list :filters="filters"/>
    </template>
    <template v-slot:sidebar>
      <div class="d-flex flex-column gap-1">
        <base-filters v-model="filters">
          <template v-slot:header>
            <dashboard-side-panel />
          </template>
        </base-filters>
      </div>
    </template>

    <ask-dashboard-report-user ref="ask-dashboard-report-user" />
    <ask-dashboard-report-period ref="ask-dashboard-report-period" />
    <ask-dashboard-add ref="ask-dashboard-add" />
  </main-block>
</template>

<script>
import BasePageHeader from "@/components/Base/BasePageHeader";
import BaseFilters from "@/components/Base/BaseFilters";
import MainBlock from "@/layouts/MainBlock";
import DashboardUserList from "@/_modules/planner/components/PlannerDashboard/DashboardUserList";
import DashboardSidePanel from "@/_modules/planner/components/PlannerDashboard/DashboardSidePanel";
import AskDashboardAdd from "@/_modules/planner/components/Ask/AskDashboardAdd";
import AskDashboardReportPeriod from "@/_modules/planner/components/Ask/AskDashboardReportPeriod";
import AskDashboardReportUser from "@/_modules/planner/components/Ask/AskDashboardReportUser";

export default {
  name: "PlannerDashboard",
  components: {
    AskDashboardReportUser,
    AskDashboardReportPeriod,
    AskDashboardAdd,
    DashboardSidePanel,
    DashboardUserList,
    MainBlock,
    BaseFilters,
    BasePageHeader,
  },
  data() {
    return {
      filters: {},
      selectedUsers: []
    }
  },
  provide() {
    return {
      askDashboard: this.askDashboard
    }
  },
  methods: {
    askDashboard(action, data) {
      const name = `ask-dashboard-${action}`

      this.$nextTick(() => {
        this.$refs[name]?.open(data)
      })
    }
  }
}
</script>

<style scoped>
</style>