<template>
  <div>
    <base-sheet class="d-flex flex-column justify-center" v-if="schedule">
      <schedule-header :editable="!schedule.isApprove" :title="schedule.title" />
    </base-sheet>
    <main-block>
      <template v-slot:main>
        <base-sheet>
          <v-sparkline
              :labels="$options.MONTHS"
              :value="daysByMonth"
              :gradient="['#f72047', '#ffd200', '#0f0']"
              auto-draw
              color="info"
              show-labels
              line-width="2"
              label-size="5"
              padding="8"
              smooth="16"
          >
          </v-sparkline>
        </base-sheet>
      </template>
      <template v-slot:sidebar>
        <base-sheet>
          <v-btn color="primary" outlined block @click="onExport">
            Экспорт
          </v-btn>
        </base-sheet>
      </template>
    </main-block>
  </div>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
// import * as XLSX from "xlsx";
import MainBlock from "@/layouts/MainBlock";
import ScheduleHeader from "@/_modules/planner/components/ScheduleHeader";

export default {
  name: "ScheduleStatistic",
  MONTHS: ['январь', 'февраль', 'март', 'апрель', 'май', 'июнь', 'июль', 'август',
    'сентябрь', 'октябрь', 'ноябрь', 'декабрь',],
  components: {ScheduleHeader, MainBlock, BaseSheet},
  data: () => ({
    schedule: {},
    vacations: [],
    daysByMonth: []
  }),
  created() {
    this.initialize()
  },
  methods: {
    initialize() {
      const id = this.$route.params.id
      this.schedule = this.$store.getters['planner/schedules/getById'](id)
      this.vacations = this.$store.getters['planner/vacations/getByScheduleId'](id)
      this.daysByMonth = Object.values(this.daysByMonths())
    },
    daysByMonths() {
      const stat = {}
      for (let month in this.$options.MONTHS) {
        stat[month] = 0
      }

      this.vacations.forEach(({days, start, end}) => {
        const startMonth = this.$moment(start).month()
        const endMonth = this.$moment(end).month()

        if (startMonth === endMonth) {
          stat[startMonth] += days
        } else {
          let day = this.$moment(start)
          stat[day.month()] += 1

          do {
            day.add(1, 'days')
            stat[day.month()] += 1
          } while (day.format('YYYY-MM-DD') !== end)
        }
      })

      return stat
    },
    onExport() {
      let header = ['ФИО', 'c', 'по']
      let rows = []
      this.vacations.forEach(vacation => {
        if (!vacation.approved) {
          return
        }

        let fullName = this.$store.getters['users/getUserById'](vacation.uid).fullName
        rows.push([fullName, this.$moment(vacation.start).format('DD.MM.YYYY'),
          this.$moment(vacation.end).format('DD.MM.YYYY')])
      })

      rows.sort()
      // var wb = XLSX.utils.book_new();
      // var ws = XLSX.utils.aoa_to_sheet([header, ...rows])
      // XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
      // XLSX.writeFile(wb, `${this.schedule.title}.xlsx`);
    }
  },
}
</script>

<style lang="scss">
</style>