<template>
  <main-block>
    <template v-slot:header>
      <base-page-header :title="schedule.title">
        <template v-slot:content>
          <base-tabs :tabs="$options.TABS" right/>
        </template>
      </base-page-header>
    </template>
    <template v-slot:main>
      <base-sheet>
        <router-view
            :schedule="schedule"
            :vacations="vacations"
            :filters="filters"
        />
      </base-sheet>
    </template>
    <template v-slot:sidebar>
      <base-filters v-model="filters"/>
    </template>

    <Can I="manage" on="Vacations">
      <ask-vacation-approve ref="ask-vacation-approve"/>
      <ask-vacation-reject ref="ask-vacation-reject"/>
      <ask-vacation-cancel ref="ask-vacation-cancel"/>
    </Can>

    <ask-vacation-details ref="ask-vacation-details"/>
  </main-block>
</template>

<script>
import BaseFilters from "@/components/Base/BaseFilters";
import ScheduleViewerHeader from "@/_modules/planner/components/ScheduleViewer/ScheduleViewerHeader";
import MainBlock from "@/layouts/MainBlock";
import AskVacationApprove from "@/_modules/planner/components/Ask/AskVacationApprove";
import AskVacationReject from "@/_modules/planner/components/Ask/AskVacationReject";
import AskVacationCancel from "@/_modules/planner/components/Ask/AskVacationCancel";
import AskVacationDetails from "@/_modules/planner/components/Ask/AskVacationDetails";
import BaseSheet from "@/components/Base/BaseSheet";
import BaseTabs from "@/components/Base/BaseTabs";
import BasePageHeader from "@/components/Base/BasePageHeader";

export default {
  name: 'ScheduleViewer',
  components: {
    BasePageHeader,
    BaseTabs,
    BaseSheet,
    MainBlock,
    ScheduleViewerHeader,
    BaseFilters,
    AskVacationDetails,
    AskVacationApprove,
    AskVacationReject,
    AskVacationCancel
  },
  TABS: [
    {name: 'ScheduleViewerList', title: 'Список', component: 'ListView'},
    {name: 'ScheduleViewerTimeline', title: 'Таймлайн', component: 'TimelineView'},
  ],
  data() {
    return {
      filters: {},
    }
  },
  computed: {
    schedule() {
      const id = this.$route.params.id
      return this.$store.getters['planner/schedules/getById'](id)
    },
    vacations() {
      const scheduleId = this.$route.params.id

      let vacations = this.$store.getters['planner/vacations/getByScheduleId'](scheduleId)

      vacations = vacations
          .filter(vacation => vacation.active)
          .map(vacation => {
            vacation.user = this.$store.getters['users/getUserById'](vacation.userId)
            vacation.job = vacation.user.job
            vacation.depId = vacation.user.depId
            return vacation
          })

      return vacations
    }
  },
  created() {
    if (!this.schedule) {
      this.$router.replace({name: 'ScheduleHome'})
    }
  },
  provide() {
    return {
      askVacation: this.askVacation
    }
  },
  methods: {
    askVacation(action, data) {
      const name = `ask-vacation-${action}`

      this.$nextTick(() => {
        this.$refs[name]?.open(Object.assign({}, data, {sid: this.schedule.id}))
      })
    }
  }
}
</script>
