<template>
  <main-block hide-side>
    <template v-slot:header>
    <base-page-header title="Графики отпусков" />
    </template>
    <template v-slot:main>
      <base-sheet>
        <v-data-table
            :headers="$options.HEADERS"
            :items="schedules"
            no-data-text="Нет активных графиков"
            dense
            hide-default-footer
            :items-per-page="-1"
        >
          <template v-if="$can('create', 'Schedule')" v-slot:top>
            <div class="d-flex justify-end">
              <base-btn-expanded @click="askSchedule('edit', {})">
                Создать
              </base-btn-expanded>
            </div>
          </template>
          <template v-slot:item.status="{item}">
            <schedule-status-chip :status="item.status" />
          </template>
          <template v-slot:item.locked="{item}">
            <base-btn-lock
                v-if="item.isActive"
                :value="item.isLocked"
                @input="onChangeLock(item.id)"
                :disabled="!$can('update', item)"
            />
            <v-icon v-else disabled>
              mdi-lock
            </v-icon>
          </template>
          <template v-slot:item.action="{item}">
            <schedule-item-actions :schedule="item"/>
          </template>
        </v-data-table>
      </base-sheet>
    </template>

    <Can I="manage" on="Schedule">
      <ask-schedule-lock ref="ask-schedule-lock" />
      <ask-schedule-delete ref="ask-schedule-delete"/>
      <ask-schedule-activate ref="ask-schedule-activate"/>
      <ask-schedule-draft ref="ask-schedule-draft"/>
      <ask-schedule-archive ref="ask-schedule-archive"/>

      <modal-schedule-edit ref="ask-schedule-edit"/>
    </Can>
  </main-block>
</template>
<script>
import BaseSheet from "@/components/Base/BaseSheet";
import ScheduleTableCols from "@/_modules/planner/components/ScheduleList/ScheduleTableCols";
import AskScheduleDelete from "@/_modules/planner/components/Ask/AskScheduleDelete";
import AskScheduleActivate from "@/_modules/planner/components/Ask/AskScheduleActivate";
import AskScheduleDraft from "@/_modules/planner/components/Ask/AskScheduleDraft";
import AskScheduleArchive from "@/_modules/planner/components/Ask/AskScheduleArchive";
import ScheduleStatusChip from "@/_modules/planner/components/ScheduleStatusChip";
import ModalScheduleEdit from "@/_modules/planner/components/Modals/ModalScheduleEdit";
import AskVacationReject from "@/_modules/planner/components/Ask/AskVacationReject";
import BasePageHeader from "@/components/Base/BasePageHeader";
import MainBlock from "@/layouts/MainBlock";
import BaseBtnExpanded from "@/components/Base/Buttons/BaseBtnExpanded";
import ScheduleItemActions from "@/_modules/planner/components/ScheduleList/ScheduleItemActions";
import BaseBtnLock from "@/components/Base/Buttons/BaseBtnLock";
import AskScheduleLock from "@/_modules/planner/components/Ask/AskScheduleLock";

export default {
  name: 'ScheduleList',
  components: {
    AskScheduleLock,
    BaseBtnLock,
    ScheduleItemActions,
    BaseBtnExpanded,
    MainBlock,
    BasePageHeader,
    AskVacationReject,
    ModalScheduleEdit,
    ScheduleStatusChip,
    AskScheduleArchive,
    AskScheduleDraft,
    AskScheduleActivate,
    AskScheduleDelete,
    BaseSheet,
  },
  HEADERS: ScheduleTableCols,
  provide() {
    return {
      askSchedule: this.askSchedule
    }
  },
  computed: {
    schedules() {
      return this.$store.getters['planner/schedules/get']
    }
  },
  methods: {
    onChangeLock(id) {
      this.askSchedule('lock', {id})
    },
    askSchedule(action, data) {
      const ref = this.$refs[`ask-schedule-${action}`]
      if (!ref) {
        return
      }

      const open = ref.open
      if (!open) {
        console.error('ask modal should has "open" method')
      }

      open(data)
    }
  }
}
</script>

<style lang="scss">

</style>
