<template>
  <setting-block
      title="Настройки доступа"
      @submit="onSubmit"
      :no-action="disabled"
  >
    <setting-row label="Управление графиком" description="Управление графиком отпусков">
      <setting-select-roles v-model="permission.Schedule" owner-disable hide-user :disabled="disabled" />
    </setting-row>
  </setting-block>
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import SettingBlock from "@/components/Settings/SettingBlock";
import SettingSelectRoles from "@/components/Settings/SettingSelectRoles";
import {mapGetters} from "vuex";
export default {
  name: "SettingPlannerPermission",
  components: {SettingSelectRoles, SettingBlock, SettingRow},
  computed: {
    ...mapGetters('organization', {'permission': "permission"}),
    disabled() {
      return !this.$can('manage', 'Service')
    }
  },
  methods: {
    onSubmit() {
      const org = this.$store.getters['organization/get']
      org.permission.Schedule = this.permission.Schedule

      org.save()
    }
  }
}
</script>

<style scoped>

</style>