<template>
  <div class="d-flex flex-column gap-1">
    <setting-planner-blank />
    <setting-email name="Уведомление о приближении отпуска" :email="email"/>
  </div>
</template>

<script>
import SettingBlock from "@/components/Settings/SettingBlock";
import SettingPlannerBlank from "@/_modules/planner/components/Settings/SettingPlannerBlank";
import SettingEmail from "@/_modules/planner/components/Settings/SettingEmail";
import {mapGetters} from "vuex";

export default {
  name: "SettingPlannerCommon",
  components: {
    SettingEmail,
    SettingPlannerBlank,
    SettingBlock
  },
  computed: {
    ...mapGetters('planner/email', {'email': 'get'})
  }
}
</script>

<style lang="scss">
</style>
