<template>
  <main-block hide-side>
    <template v-slot:header>
      <user-vacations-header
          :schedule="schedule"
          :user="user"
          :vacations="vacations"
      />
    </template>
    <template v-slot:main>
      <base-sheet>
        <v-data-table
            :expanded="expanded"
            :headers="$options.HEADERS"
            :items="vacations"
            no-data-text="Отпуска ещё не добавлены"
            show-expand
            sort-by="start"
            hide-default-footer
            :items-per-page="-1"
        >
          <template v-if="$can('manageVacation', user)" v-slot:top="item">
            <div class="d-flex justify-end">
              <base-btn-expanded color="light-green darken-2" @click="askUserVacation('edit')">
                добавить отпуск
              </base-btn-expanded>
            </div>
          </template>
          <template v-slot:expanded-item="{ headers, item }">
            <vacation-item-details :cols="headers.length" :events="item.history"/>
          </template>
          <template v-slot:item.start="{item}">
            <vacation-item-dates :no-icon="$vuetify.breakpoint.smAndDown" :end="item.end" :start="item.start"/>
          </template>
          <template v-slot:item.status="{item}">
            <vacation-item-status :status="item.status"/>
          </template>
          <template v-slot:item.comment="{value}">
            <div class="py-1 fill-height">
              <base-comment :comment="value" />
            </div>
          </template>
          <template v-slot:item.action="{item}">
            <vacation-item-actions-user :vacation="item"  :user="user"/>
          </template>
        </v-data-table>
      </base-sheet>
    </template>

    <Can I="manageVacation" :on="user">
      <ask-vacation-to-draft ref="ask-vacation-toDraft"/>
      <ask-vacation-to-approving ref="ask-vacation-toApproving"/>
      <ask-vacation-delete ref="ask-vacation-delete"/>
      <modal-vacation-edit ref="ask-vacation-edit"/>
    </Can>
  </main-block>
</template>

<script>
import VacationItemDetails from "@/_modules/planner/components/VacationItem/VacationItemDetails"
import BaseSheet from "@/components/Base/BaseSheet";
import UserVacationsTableCols from "@/_modules/planner/components/UserVacationsView/UserVacationsTableCols";
import AskVacationDelete from "@/_modules/planner/components/Ask/AskVacationDelete";
import ModalVacationEdit from "@/_modules/planner/components/Modals/ModalVacationEdit";
import AskVacationToApproving from "@/_modules/planner/components/Ask/AskVacationToApproving";
import AskVacationToDraft from "@/_modules/planner/components/Ask/AskVacationToDraft";
import UserVacationsHeader from "@/_modules/planner/components/UserVacationsView/UserVacationsHeader";
import MainBlock from "@/layouts/MainBlock";
import VacationItemActionsUser from "@/_modules/planner/components/VacationItem/VacationItemActionsUser";
import VacationItemStatus from "@/_modules/planner/components/VacationItem/VacationItemStatus";
import VacationItemDates from "@/_modules/planner/components/VacationItem/VacationItemDates";
import BaseBtnExpanded from "@/components/Base/Buttons/BaseBtnExpanded";
import BaseComment from "@/components/Base/Labels/BaseComment";

export default {
  name: 'UserVacationsView',
  components: {
    BaseComment,
    BaseBtnExpanded,
    MainBlock,
    BaseSheet,
    VacationItemDates,
    VacationItemStatus,
    VacationItemActionsUser,
    VacationItemDetails,
    UserVacationsHeader,
    AskVacationToDraft,
    AskVacationToApproving,
    AskVacationDelete,
    ModalVacationEdit,
  },
  HEADERS: UserVacationsTableCols,
  data() {
    return {
      schedule: null,
      user: null,
      expanded: [],
      item: null
    }
  },
  created() {
    const {id: sid, uid} = this.$route.params

    const user = this.$store.getters['users/getUserById'](uid)
    const schedule = this.$store.getters['planner/schedules/getById'](sid)

    if (!user || !schedule) {
      this.$router.replace({name: 'Vacations'})
    }

    this.schedule = schedule
    this.user = user
  },
  provide() {
    return {
      askUserVacation: this.askUserVacation
    }
  },
  computed: {
    vacations() {
      return this.$store.getters['planner/vacations/getByScheduleAndUserId'](this.schedule.id, this.user.id)
    }
  },
  methods: {
    askUserVacation(action, data = {}) {
      const name = `ask-vacation-${action}`

      this.$refs[name]?.open
          .call(this, Object.assign(
              {},
              data,
              {scheduleId: this.schedule.id, userId: this.user.id}
          ))
    },
  }
}
</script>

<style lang="scss" scoped>

</style>
