<template>
  <user-schedules-list :user-id="id" />
</template>

<script>
import {mapGetters} from "vuex";
import UserSchedulesList from "@/_modules/planner/components/UserSchedulesList";

export default {
  name: 'UserSchedulesView',
  components: {UserSchedulesList},
  computed: {
    ...mapGetters('currentUser', ['id'])
  }
}
</script>
