<template>
  <div class="d-flex flex-wrap gap-1">
    <v-btn
        class="flex-grow-1"
        color="primary"
        outlined
        text
        @click="onclick( 'edit')"
    >
      Добавить
    </v-btn>
    <icon-btn-with-tip
        btn-style="border-radius: 4px; border-color: rgba(0, 0, 0, 0.12);"
        color="primary"
        icon="mdi-arrow-bottom-left"
        outlined
        @click="onclick('import')"
    >
      Импорт
    </icon-btn-with-tip>

    <icon-btn-with-tip
        btn-style="border-radius: 4px; border-color: rgba(0, 0, 0, 0.12);"
        color="primary"
        icon="mdi-arrow-top-right"
        outlined
        @click="onExport"
        :loading="exporting"
    >
      Экспорт
    </icon-btn-with-tip>

    <v-btn
        v-if="inactiveUsers.length"
        class="flex-grow-1"
        color="primary"
        outlined
        text
        block
        @click="inviteAllUsers"
        :loading="inviting"
    >
      Пригласить всех
    </v-btn>
  </div>
</template>
<script>
import IconBtnWithTip from "@/components/IconBtnWithTip"
import {users} from "@/mixins";
import User from "@/models/User";

export default {
  name: 'OrgEmployeesTools',
  mixins: [users],
  components: {IconBtnWithTip},
  data() {
    return {
      inviting: false,
      exporting: false
    }
  },
  inject: ['askOrgEmployees'],
  computed: {
    inactiveUsers() {
      return this.users.filter(user => !user.isActive)
    }
  },
  methods: {
    async onExport() {
      this.exporting = true
      await User.exportAll()
      this.exporting = false
    },
    async inviteAllUsers() {
      this.inviting = true
      await User.inviteMany(this.inactiveUsers)
      this.inviting = false
    },
    onclick(action) {
      this.askOrgEmployees('employee', action, {})
    }
  }
}
</script>