<template>
  <base-sheet>
    <v-data-table
        :items="users"
        item-key="id"
        :search="JSON.stringify(filters)"
        :custom-filter="CUSTOM_FILTER"
        :group-by.sync="groupBy"
        :headers="headers"
        class="th-xs-pa-0 org-employees"
        dense
    >
      <template v-slot:top>
        <base-toolbar>
          <base-grouping-tool v-model="groupBy" :groups="groups" />
        </base-toolbar>
      </template>
      <template v-slot:group.header="data">
        <base-table-group-header :groups="groups" :data="data" />
      </template>
      <template v-slot:item="{item, isMobile, headers}">
        <org-employees-list-item
            v-if="!isMobile"
            :user="item"
            :cols="headers.map(h => h.value)"
            :dragging="dragging"
        />
        <org-employees-list-item-mobile
            v-else
            :user="item"
            show-team
            show-post
        />
      </template>
    </v-data-table>
  </base-sheet>
</template>
<script>
import {CUSTOM_FILTER, users} from "@/mixins";
import EmployeesTableCols from "@/components/Organization/Employees/EmployeesTableCols";
import OrgEmployeesListItem from "@/components/Organization/Employees/OrgEmployeesListItem";
import OrgEmployeesListItemMobile from "@/components/Organization/Employees/OrgEmployeesListItemMobile";
import BaseGroupingTool from "@/components/Base/BaseGroupingTool";
import BaseTableGroupHeader from "@/components/Base/BaseTableGroupHeader";
import BaseSheet from "@/components/Base/BaseSheet";
import defaultUserGroupList from "@/helper/defaultUserGroupingItems";
import IGroup from "@/helper/interfaces/IGroup";
import BaseToolbar from "@/components/Base/BaseToolbar";

export default {
  name: 'OrgEmployeesList',
  components: {
    BaseToolbar,
    BaseSheet,
    BaseTableGroupHeader,
    BaseGroupingTool,
    OrgEmployeesListItemMobile,
    OrgEmployeesListItem,
  },
  mixins: [CUSTOM_FILTER, users],
  props: {
    filters: {
      type: Object,
      default: () => {},
    },
    dragging: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      groupBy: null
    }
  },
  computed: {
    headers() {
      const screenSize = this.$vuetify.breakpoint.name
      return EmployeesTableCols.filter(header => {
        if (header.visible && header.visible.length) {
          return header.visible.indexOf(screenSize) !== -1
        }
        return true
      })
    },
    groups() {
      const groups = [defaultUserGroupList[1], defaultUserGroupList[2]]
      groups.push(new IGroup('isActive', 'Статусу', (isActive) => isActive ? 'Зарегестрирован' : 'Не зарегестрирован'))
      return groups
    }
  }
}
</script>