<template>
    <div
        v-bind="$attrs"
        v-if="user.job.taskList.length"
        class="d-flex flex-wrap gap-1"
        :class="{'droppable': dragging && canUpdate}"
        v-on="listeners"
    >
      <org-structure-task-list-item
        v-for="task in tasks"
        :key="task.id"
        :task="task"
        :title="task.title"
        no-action
        :deletable="canUpdate"
        small

        @close="removeTask(task.id)"
      />
    </div>
    <div
        v-else
        :class="{'droppable': dragging && canUpdate}"
        v-on="listeners"
    >
      <small class="text--secondary font-italic">
        Задач нет
      </small>
    </div>
</template>
<script>
import OrgStructureTaskListItem from "@/components/Organization/Structure/TaskWidget/TaskWidgetListItem";
import User from "@/models/User";

export default {
  name: 'OrgEmployeesListItemTask',
  components: {OrgStructureTaskListItem},
  props: {
    user: {
      type: User,
      required: true
    },
    dragging: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    tasks() {
      return this.user.job?.taskList.map(id => this.$store.getters['task/getById'](id))
    },
    canUpdate() {
      return this.$can('update', this.user)
    },
    listeners() {
      if (this.canUpdate) return  {
        "drop": this.onDrop,
        "dragleave": this.onDragLeave,
        "dragover": this.onDragOver,
      }

      return {}
    }
  },
  methods: {
    onDrop(e) {
      e.preventDefault()
      const id = e.dataTransfer.getData('id')
      this.addTask(id)
    },
    onDragOver(e) {
      e.preventDefault()
      e.target.classList.add('droppable--active')
    },
    onDragLeave(e) {
      e.preventDefault()
      e.target.classList.remove('droppable--active')
    },
    addTask(id) {
      this.user.task.add(id)
    },
    removeTask(id) {
      this.user.task.remove(id)
    },
  }
}
</script>