<template>
  <base-actions
      :actions="actions"
      no-divider
      @click="onClick"
  />
</template>

<script>
import IconBtnWithTip from "@/components/IconBtnWithTip";
import BaseActions from "@/components/Base/BaseActions";
import IAction from "@/helper/interfaces/IAction";
import User from "@/models/User";
import {currentUserId} from "@/mixins";

export default {
  name: "OrgEmployeesListItemAction",
  components: {BaseActions, IconBtnWithTip},
  mixins: [currentUserId],
  props: {
    user: {
      type: User,
      required: true
    }
  },
  inject: ['askOrgEmployees'],
  computed: {
    actions() {
      const actions = []
      actions.push(new IAction('gotoUser', "Перейти в аккаунт", "mdi-eye", "info", {
        menuItem: false,
        to: {name: "Employee", params: {uid: this.user.id}}
      }))
      if (this.$can('manage', 'Structure')) {
        actions.push(new IAction("edit", "Редактировать", "mdi-account-edit", "primary",
            {disabled: !this.$can('update', this.user)}))

        actions.push(new IAction("delete", "Удалить", "mdi-delete", "error",
            {disabled: !this.$can('delete', this.user)}))
      }
      return actions
    }
  },
  methods: {
    onClick(action) {
      this.askOrgEmployees('employee', action, {id: this.user.id})
    }
  }
}
</script>