<template>
  <tr class="org-employees-row">
    <td v-if="cols.indexOf('fullName') !== -1" class="text-left">
      <base-employee-info
          :user="user"
          :show-position="$vuetify.breakpoint.mdAndDown"
          :show-team="$vuetify.breakpoint.mdAndDown"
      />
    </td>
    <td v-if="cols.indexOf('depId') !== -1">
      <base-employee-dep :id="user.depId" />
    </td>
    <td v-if="cols.indexOf('job.position') !== -1">
      <base-employee-position :id="user.job.position"/>
    </td>
    <td v-if="cols.indexOf('job.team') !== -1">
      <base-employee-team :id="user.job.team"/>
    </td>
    <td v-if="cols.indexOf('job.taskList') !== -1" class="pa-1 px-2">
      <org-employees-list-item-task
          :user="user"
          :dragging="dragging"
          :disabled="!$can('update', user)"
          :class="'justify-start justify-md-end'"
          @click="dragging = false"
      />
    </td>
    <td v-if="cols.indexOf('status') !== -1" class="pl-1 border-left">
      <base-employee-status :user="user"/>
    </td>
    <td v-if="cols.indexOf('action') !== -1">
      <org-employees-list-item-action :user="user" class="fill-height"/>
    </td>
  </tr>
</template>

<script>
import BaseEmployeeTeam from "@/components/Base/Employee/BaseEmployeeTeam";
import BaseEmployeePosition from "@/components/Base/Employee/BaseEmployeePosition";
import OrgEmployeesListItemTask from "@/components/Organization/Employees/OrgEmployeesListItemTask";
import BaseEmployeeRole from "@/components/Base/Employee/BaseEmployeeRole";
import OrgEmployeesListItemAction from "@/components/Organization/Employees/OrgEmployeesListItemAction";
import BaseEmployeeInfo from "@/components/Base/Employee/BaseEmployeeInfo";
import BaseEmployeeStatus from "@/components/Base/Employee/BaseEmployeeStatus";
import User from "@/models/User";
import BaseEmployeeDep from "@/components/Base/Employee/BaseEmployeeDep";

export default {
  name: "OrgEmployeesListItem",
  components: {
    BaseEmployeeDep,
    BaseEmployeePosition,
    BaseEmployeeTeam,
    BaseEmployeeStatus,
    BaseEmployeeInfo,
    OrgEmployeesListItemAction,
    BaseEmployeeRole,
    OrgEmployeesListItemTask,
  },
  props: {
    user: {
      type: User,
      required: true
    },
    cols: {
      type: Array,
      required: true
    },
    dragging: {
      type: Boolean,
      default: false
    }
  },
}
</script>

<style lang="scss">
</style>