<template>
  <div>
    <div class="d-flex justify-space-between align-start">
      <base-employee-info
          :user="user"
          show-email
          show-position
          show-team
      />
      <div class="d-flex">
        <base-employee-status :user="user"/>
        <org-employees-list-item-action :user="user" class="fill-height"/>
      </div>
    </div>
    <org-employees-list-item-task class="pa-1"  :user="user"/>
    <v-divider />
  </div>
</template>

<script>
import User from "@/models/User";
import BaseEmployeeInfo from "@/components/Base/Employee/BaseEmployeeInfo";
import OrgEmployeesListItemTask from "@/components/Organization/Employees/OrgEmployeesListItemTask";
import OrgEmployeesListItemAction from "@/components/Organization/Employees/OrgEmployeesListItemAction";
import BaseEmployeeStatus from "@/components/Base/Employee/BaseEmployeeStatus";

export default {
  name: "OrgEmployeesListItemMobile",
  components: {BaseEmployeeStatus, OrgEmployeesListItemAction, OrgEmployeesListItemTask, BaseEmployeeInfo},
  props: {
    user: {
      type: User,
      required: true
    }
  }
}
</script>

<style scoped>

</style>