<template>
  <base-actions
      :actions="actions"
      @click="onClick"
  />
</template>

<script>
import BaseActions from "@/components/Base/BaseActions";
import IAction from "@/helper/interfaces/IAction";
import Schedule from "@/_modules/planner/models/Schedule";

export default {
  name: "ScheduleItemActions",
  components: {BaseActions},
  props: {
    schedule: {
      type: Schedule,
      required: true
    }
  },
  computed: {
    actions() {
      const id = this.schedule.id
      const actions = []
      // actions.push(new IAction('stat', "Статистика", "mdi-chart-box-outline", "light-green darken-1", {
      //   menuItem: false,
      //   to: {name: 'ScheduleStatistic', params: {id}}
      // }))
      actions.push(new IAction("list", "Список", "mdi-format-list-bulleted", "deep-purple", {
        menuItem: false,
        to: {name: 'ScheduleViewerList', params: {id}}
      }))
      actions.push(new IAction("timeline", "Таймлайн", "mdi-chart-gantt", "info", {
        menuItem: false,
        to: {name: 'ScheduleViewerTimeline', params: {id}}
      }))

      if (this.$can('update', this.schedule)) {
        if (!this.schedule.isClosed) {
          actions.push(new IAction("edit", "Редактировать", "mdi-pencil", "info"))
        }

        actions.push(new IAction("delete", "Удалить", "mdi-trash-can-outline", "error"))
        actions.push({divider: true, key: 'div-1'})

        if (!this.schedule.isDraft) actions.push(new IAction("draft", "В черновик", "mdi-file-document-edit-outline", "blue-grey darken-2"))
        if (!this.schedule.isActive) actions.push(new IAction("activate", "Активировать", "mdi-progress-check", "success"))
        if (!this.schedule.isClosed) actions.push(new IAction("archive", "Закрыть", "mdi-archive-outline", "error"))
      }

      return actions
    }
  },
  inject: ['askSchedule'],
  methods: {
    onClick(action) {
      this.askSchedule(action, {id: this.schedule.id})
    }
  }
}
</script>