<template>
  <div class="d-flex flex-column gap-1">
    <period-viewer-toolbar :group-by.sync="groupBy" :sort-by.sync="sort.by" :sort-desc.sync="sort.desc"/>
    <v-data-iterator
        :items="users"
        :search="JSON.stringify(filters)"
        :custom-filter="CUSTOM_FILTER"
        :group-by="groupBy"
        :sort-by="sort.by"
        :sort-desc="sort.desc"
        selectable-key="id"
        :items-per-page="-1"
        hide-default-footer
    >
      <template v-slot:default="{items, groupedItems}">
        <template v-if="!groupedItems || !groupedItems.length">
          <period-viewer-list :period-id="period.id" :items="items"/>
        </template>
        <template v-else>
          <div class="d-flex flex-column gap-2">
            <div v-for="(group, id) in groupedItems" :key="id" class="d-flex flex-column gap-1">
              <period-viewer-list-group-header
                :group-name="group.name"
                :group-by="groupBy"
                :hidden="hiddenGroup.includes(id)"
                :close="closeGroup"
                :collapse="() => hideGroup(id)"
                :expand="() => showGroup(id)"
              />
              <v-expand-transition>
                <period-viewer-list
                  v-if="!hiddenGroup.includes(id)"
                  :items="group.items"
                  :period-id="period.id"
                />
              </v-expand-transition>
            </div>
          </div>
        </template>
      </template>
    </v-data-iterator>
  </div>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import {users} from "@/mixins";
import Tools from "@/plugins/Tools";
import PeriodViewerList from "@/_modules/performance/components/PeriodViewer/PeriodViewerList";
import PeriodViewerListGroupHeader from "@/_modules/performance/components/PeriodViewer/PeriodViewerListGroupHeader";
import PeriodViewerToolbar from "@/_modules/performance/components/PeriodViewer/PeriodViewerToolbar";
import Period from "@/_modules/performance/models/Period";

export default {
  name: "PeriodViewerData",
  components: {
    PeriodViewerToolbar,
    PeriodViewerListGroupHeader,
    PeriodViewerList,
    BaseSheet
  },
  mixins: [users],
  props: {
    period: {
      type: Period,
      required: true
    },
    filters: {}
  },
  data() {
    return {
      groupBy: null,
      sort: {
        by: null,
        desc: true
      },
      hiddenGroup: [],
    }
  },
  methods: {
    hideGroup(id) {
      if (!this.hiddenGroup.includes(id)) {
        this.hiddenGroup.push(id)
      }
    },
    showGroup(id) {
      this.hiddenGroup = this.hiddenGroup.filter(i => i !== id)
    },
    closeGroup() {
      this.groupBy = null
    },
    CUSTOM_FILTER(items, search) {
      const filters = JSON.parse(search || "")

      let filterKeys = Object.keys(filters).filter(f => filters[f] !== null)
      if (!filterKeys.length) {
        return items
      }

      return items.filter(item => {
        return filterKeys.every((key) => {
          const innerValue = Tools.getInnerValue(item, key)

          if (filters[key] === "none") {
            return innerValue === undefined || innerValue === ""
          } else if (Array.isArray(innerValue)) {
            return innerValue.indexOf(filters[key]) !== -1
          } else {
            return innerValue === filters[key]
          }
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>