<template>
  <base-sheet>
    <base-grouping-tool v-model="group" :groups="groups">
      <base-sorting-tool v-model="sort" :sort-desc.sync="desc" :sorts="sorts" />
      <base-btn-open-sidebar/>
    </base-grouping-tool>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import BaseGroupingTool from "@/components/Base/BaseGroupingTool";
import BaseSortingTool from "@/components/Base/BaseSortingTool";
import BaseBtnOpenSidebar from "@/components/Base/Buttons/BaseBtnOpenSidebar";
import DefaultUserGroupList from "@/helper/defaultUserGroupingItems";
import defaultUserSorts from "@/helper/defaultUserSortingItems";

export default {
  name: "PeriodViewerToolbar",
  components: {BaseBtnOpenSidebar, BaseSortingTool, BaseGroupingTool, BaseSheet},
  props: {
    groupBy: {
      type: String,
    },
    sortBy: {
      type: String,
    },
    sortDesc: {
      type: Boolean
    }
  },
  data() {
    return {
      sorts: defaultUserSorts,
      sort: "",
      desc: true
    }
  },
  computed: {
    group: {
      get(){return this.groupBy},
      set(val) {this.$emit('update:groupBy', val)}
    },
    groups() {
      const groups = []

      groups.push(DefaultUserGroupList[1])
      groups.push(DefaultUserGroupList[2])

      return groups
    },
  },
  watch: {
    sort(val) {
      this.$emit('update:sortBy', val)
    },
    desc(val) {
      this.$emit('update:sortDesc', val)
    }
  }
}
</script>

<style scoped>

</style>