<template>
  <div class="d-grid grid-cols-sm gap-1">
    <user-goals-card
        v-for="item in items"
        :key="item.id"
        :period-id="periodId"
        :user="item"
    />
  </div>
</template>

<script>
import UserGoalsCard from "@/_modules/performance/components/UserGoalsCard";
export default {
  name: "PeriodViewerList",
  components: {UserGoalsCard},
  props: {
    periodId: {
      type: [String, Number],
      required: true
    },
    items: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>

</style>