<template>
  <base-sheet class="">
    <div class="d-flex align-center gap-1 ml-2">
      <base-btn-expand :value="!hidden" @input="toggle"/>
      <div class="font-weight-bold">{{ header }}</div>
      <v-btn icon small v-if="close" @click="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </div>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import defaultUserGroupList from "@/helper/defaultUserGroupingItems";
import BaseBtnExpand from "@/components/Base/Buttons/BaseBtnExpand";

export default {
  name: "PeriodViewerListGroupHeader",
  components: {BaseBtnExpand, BaseSheet},
  props: {
    groupName: {
      type: String,
    },
    groupBy: {
      type: String,
    },
    hidden: {
      type: Boolean,
      default: false
    },
    close: {
      type: Function,
    },
    collapse: {
      type: Function
    },
    expand: {
      type: Function
    }
  },
  data() {
    return {
      groups: defaultUserGroupList
    }
  },
  computed: {
    header() {
      const val = this.groupName
      if (val === "" || val === undefined) {
        return "Нет"
      }

      return this.groups.find(g => g.value === this.groupBy).handler(val)
    }
  },
  methods: {
    toggle() {
      this.hidden ? this.expand() : this.collapse()
    }
  }
}
</script>

<style scoped>

</style>