<template>
  <v-form v-model="formValid" ref="goalsForm" class="d-flex flex-column gap-1 mb-12">
    <base-sheet color="none" class="user-goals__progress" :class="{'user-goals__progress-error': error}">
      <v-progress-linear
          v-model="weightsSum"
          :color="isSumValid(weightsSum) ? 'light-green darken-1' : 'deep-orange lighten-1'"
          striped
          rounded
          height="20"
          readonly
      >
        <template v-slot:default="{ value }">
          <strong class="progress__label">{{ Math.ceil(value) }}%</strong>
        </template>
      </v-progress-linear>
      <v-text-field class="d-none" v-model="weightsSum" :rules="[isSumValid]" />
    </base-sheet>
    <div class="d-grid grid-cols-md gap-1">
      <div
          v-for="(item, idx) in items"
          :key="item.id"
          class="relative"
      >
        <goal-card-form
            :num="idx + 1"
            :item="item"
            @delete="deleteItem(item.id)"
        />
        <v-btn
            v-if="idx === items.length - 1"
            fab
            absolute
            bottom
            right
            color="#ffaa15"
            @click="addItem"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </div>
    </div>
  </v-form>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import {MessageService} from "@/services/MessageService";
import Goal from "@/_modules/performance/models/Goal";
import GoalCardForm from "@/_modules/performance/components/GoalCard/GoalCardForm";

export default {
  name: "GoalsEditor",
  components: {GoalCardForm, BaseSheet},
  props: {
    goals: {
      type: Array,
      required: true,
      validator: (arr) => arr.every(item => item instanceof Goal)
    }
  },
  CONTROLLER: null,
  data() {
    return {
      items: [],
      error: false,
      formValid: false,
      isSumValid: (val) => val === 100
    }
  },
  mounted() {
    if (!this.goals.length) {
      this.items.push(new Goal())
      return
    }

    this.items = [...this.goals].map(item => new Goal(item))
  },
  computed: {
    weightsSum() {
      return this.items.reduce((a, b) => {
        return a + b.weight || 0
      }, 0);
    }
  },
  methods: {
    addItem() {
      this.items.push(new Goal())
    },
    deleteItem(id) {
      this.items = this.items.filter(item => item.id !== id)
    },
    save() {
      const result = new Promise((resolve, reject) => {
        this.$options.CONTROLLER = {resolve, reject}
      })

      this.saveData()
      return result
    },
    async saveData() {
      this.$refs.goalsForm.validate()

      if (!this.formValid) {
        if (!this.isSumValid(this.weightsSum)) this.showError()
        return this.$options.CONTROLLER.resolve(false)
      }

      try {
        const {id, uid} = this.$route.params

        await Goal.SAVE(this.goals, this.items, uid, id)

        return this.$options.CONTROLLER.resolve(true)
      } catch (e) {
        return this.$options.CONTROLLER.resolve(false)
      }
    },
    showError() {
      MessageService.errorMessage("Сумма весов должна быть 100%")
      this.error = true
    }
  },
  watch: {
    weightsSum() {
      if (this.error) this.error = false
    }
  }
}
</script>

<style scoped>

</style>