<template>
  <base-modal
      ref="modal"
      :title="title"
      :scrollable="false"
      class="overflow-hidden"
  >
    <setting-row description="" label="Название">
      <base-input
          v-model="period.title"
          label="Название периода"
          name="title"
          icon="mdi-clipboard-edit-outline"
          required
      />
    </setting-row>
    <setting-row description="" label="Начало">
      <v-menu
          v-model="calendarMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
          <base-input
              v-model="formattedDate"
              label="Дата начала"
              name="startDate"
              icon="mdi-clipboard-play-outline"
              readonly
              required
              v-bind="attrs"
              v-on="on"
          />
        </template>
        <vc-date-picker v-model="period.start" @input="calendarMenu = false"/>
      </v-menu>
    </setting-row>
    <setting-row description="" label="Продолжительность">
      <base-select
          v-model="period.duration"
          :items="rangeList"
          label="Продолжительность"
          name="title"
          icon="mdi-clipboard-clock-outline"
          required
      />
    </setting-row>
  </base-modal>
</template>

<script>
import BaseModal from "@/components/Base/BaseModal";
import BaseInput from "@/components/Base/Form/BaseInput";
import SettingRow from "@/components/Settings/SettingRow";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import Period from "@/_modules/performance/models/Period";


export default {
  name: "ModalPeriodAdd",
  components: {
    BaseSelect,
    SettingRow,
    BaseInput,
    BaseModal
  },
  data() {
    return {
      title: "",
      calendarMenu: false,
      period: new Period()
    }
  },
  computed: {
    rangeList() {
      return [...Array(18)].map((x, i) => {
        const m = i + 1
        return {value: m, text: this.$moment().getDurationLabel(m)}
      })
    },
    formattedDate() {
      if (!this.period.start) return ""
      return this.$moment(this.period.start).toText()
    }
  },
  methods: {
    async open({id}) {
      this.title = id ? "Редактирование" : "Новый период оценки"

      if (id) {
        const period = this.$store.getters['performance/periods/getById'](id)
        if (!period) return

        this.period = new Period(period)
      }

      const res = await this.$refs.modal.open()
      if (res) {
        await this.save()
      }
      this.reset()
    },

    async save() {
      if (this.period.id) {
        this.period.update()
      }else {
        this.period.create()
      }
    },
    reset() {
      this.$nextTick(() => {
        this.title = ""
        this.period = new Period()
        this.calendarMenu = false
      })
    }
  },
}
</script>
