<template>
  <div class="d-flex fill-height align-center justify-space-between pr-2">
    <div class="d-flex align-center gap-1" :class="{'pl-5': !item.root}">
      <div
          v-if="item.color"
          class="outlined outlined-dark rounded-circle"
          style="width: .8em; height: .8em;"
          :class="'tl-event_bg_' + item.color"
      >

      </div>
      <div>{{ item.title }}</div>
    </div>
    <div class="font-weight-bold text--primary">
      {{ item.days }}
    </div>
  </div>
</template>

<script>
export default {
  name: "ScheduleViewerTimelineHeaderRow",
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>