<template>
  <div class="d-flex justify-end fill-height" @click="onClick">
    <div
        class="rounded-circle vacation-event__sticky"
        :class="status.color"
        style="width: .7em; height: .7em;  right: 0.1em; top: 0.1em; outline: .1em solid white;"
    />
  </div>
</template>

<script>
import Vacation from "@/_modules/planner/models/Vacation";

export default {
  name: "ScheduleViewerTimelineVacation",
  props: {
    vacation: {
      type: Object,
      required: true
    }
  },
  inject: ['askVacation'],
  computed: {
    status() {
      return Vacation.STATUSES_DATA[this.vacation.status]
    }
  },
  methods: {
    onClick(e) {
      const rect = e.target.getBoundingClientRect()
      const pageHeight = document.documentElement.clientHeight
      const eventHeight = 250
      const up = pageHeight - rect.bottom < eventHeight

      const offset = 5
      const y = up ? rect.y - offset - eventHeight : rect.y + rect.height + offset

      this.askVacation('details', {vacation: this.vacation, x: e.clientX, y})
    }
  }
}
</script>

<style lang="scss">

</style>