<template>
  <v-data-table
        v-model="selected"
        :items="vacations"
        :headers="$options.headers"
        :group-by.sync="groupBy"
        :search="JSON.stringify(filters)"
        :custom-filter="CUSTOM_FILTER"
        selectable-key="id"
        :show-select="$can('manage', 'Vacations')"
        show-expand
        dense
        checkbox-color="info"
        class="sh-viewer__list"
    >
      <template v-slot:top>
        <base-toolbar style="min-height: 36px;">
          <base-grouping-tool :groups="groups" v-model="groupBy" class="flex-grow-1" />
          <v-slide-x-reverse-transition>
            <div v-if="filteredSelection.length && $can('manage', 'Vacations')" class="d-flex align-center pa-1 border-radius-2">
              <span>Выбрано: </span>
              <span class="font-weight-medium ml-1 mr-2">{{ filteredSelection.length }}</span>
              <icon-btn-with-tip small icon="mdi-checkbox-multiple-outline" color="success">
                Утвердить выбранные
              </icon-btn-with-tip>
              <icon-btn-with-tip small icon="mdi-close-box-multiple-outline" color="error">
                Отклонить выбранные
              </icon-btn-with-tip>
            </div>
          </v-slide-x-reverse-transition>
        </base-toolbar>
      </template>
      <template v-slot:expanded-item="{ headers, item }">
        <vacation-item-details :cols="headers.length" :events="item.history"/>
      </template>
      <template v-slot:group.header="data">
        <base-table-group-header :groups="groups" :data="data"/>
      </template>
      <template v-slot:item.user.id="{item}">
        <div class="text-no-wrap text-body-1">
          {{ users[item.userId].displayName }}
        </div>
      </template>
      <template v-slot:item.start="{item}">
        <vacation-item-dates :start="item.start" :end="item.end"/>
      </template>
      <template v-slot:item.status="{item}">
        <vacation-item-status :status="item.status"/>
      </template>
      <template v-slot:item.comment="{value}">
        <div class="py-1 fill-height">
          <base-comment :comment="value" />
        </div>
      </template>
      <template v-slot:item.action="{item}">
        <schedule-viewer-action v-if="$can('approvingVacation', users[item.userId])" :vacation="item"/>
      </template>
  </v-data-table>
</template>

<script>
import BaseGroupingTool from "@/components/Base/BaseGroupingTool";
import BaseBtnOpenSidebar from "@/components/Base/Buttons/BaseBtnOpenSidebar";
import BaseSheet from "@/components/Base/BaseSheet";
import ScheduleViewerTableCols from "@/_modules/planner/components/ScheduleViewer/ScheduleViewerTableCols";
import BaseTableGroupHeader from "@/components/Base/BaseTableGroupHeader";
import ScheduleViewerListDates from "@/_modules/planner/components/VacationItem/VacationItemDates";
import ScheduleViewerAction from "@/_modules/planner/components/ScheduleViewer/ScheduleViewerAction";
import VacationEventsDetails from "@/_modules/planner/components/VacationItem/VacationItemDetails";
import Vacation from "@/_modules/planner/models/Vacation";
import {CUSTOM_FILTER} from "@/mixins";
import {mapGetters} from "vuex";
import VacationItemStatus from "@/_modules/planner/components/VacationItem/VacationItemStatus";
import defaultUserGroupList from "@/helper/defaultUserGroupingItems";
import IGroup from "@/helper/interfaces/IGroup";
import IconBtnWithTip from "@/components/IconBtnWithTip";
import BaseToolbar from "@/components/Base/BaseToolbar";
import VacationItemDetails from "@/_modules/planner/components/VacationItem/VacationItemDetails";
import VacationItemDates from "@/_modules/planner/components/VacationItem/VacationItemDates";
import BaseComment from "@/components/Base/Labels/BaseComment";

export default {
  name: "ScheduleViewerList",
  components: {
    BaseComment,
    VacationItemDates,
    VacationItemDetails,
    BaseToolbar,
    IconBtnWithTip,
    VacationItemStatus,
    VacationEventsDetails,
    ScheduleViewerAction,
    ScheduleViewerListDates,
    BaseTableGroupHeader,
    BaseSheet,
    BaseBtnOpenSidebar,
    BaseGroupingTool,
  },
  mixins: [CUSTOM_FILTER],
  props: {
    vacations: {
      type: Array,
      required: true,
      validator: (arr) => {
        return arr.every(item => item instanceof Vacation)
      }
    },
    filters: {}
  },
  headers: ScheduleViewerTableCols,
  STATUSES: Vacation.STATUSES_DATA,
  data() {
    return {
      groupBy: null,
      selected: []
    }
  },
  computed: {
    ...mapGetters("users", {users: 'getMap'}),
    filteredSelection() {
      return this.selected.filter(v => {
        return v.sent && this.$can('approvingVacation', this.users[v.userId])
      })
    },
    groups() {
      const groups = [...defaultUserGroupList].map(g => {
        return new IGroup('user.' + g.value, g.text, g.handler)
      })
      groups.push(new IGroup('status', 'Статусу', (status) => this.$options.STATUSES[status]?.label))
      return groups
    }
  }
}
</script>