<template>
  <base-tabs :tabs="$options.TABS" right>
    <schedule-header :editable="editable" :title="title" />
  </base-tabs>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import BaseTabs from "@/components/Base/BaseTabs";
import ScheduleHeader from "@/_modules/planner/components/ScheduleHeader";
export default {
  name: "ScheduleViewerHeader",
  components: {ScheduleHeader, BaseTabs, BaseSheet},
  TABS: [
    {name: 'ScheduleViewerList', title: 'Список', component: 'ListView'},
    {name: 'ScheduleViewerTimeline', title: 'Таймлайн', component: 'TimelineView'},
  ],
  props: {
    title: {
      type: String,
      default: ''
    },
    editable: {
      type: Boolean,
      default: undefined
    }
  }
}
</script>

<style scoped>

</style>