<template>
  <tl-calendar
      :items="items"
      :min-date="new Date(`${schedule.year}-01-01`)"
      :max-date="new Date(`${schedule.year}-12-31`)"

      :holidays="schedule.holidayList"

      :search="JSON.stringify(filters)"
      :custom-filter="CUSTOM_FILTER"
  >
    <template v-slot:top>
      <div class="mx-2 d-flex justify-space-between">
        <base-grouping-tool v-model="groupBy" :groups="groups">
          <base-btn-open-sidebar />
        </base-grouping-tool>
      </div>
    </template>
    <template v-slot:event="{event}">
      <schedule-viewer-timeline-vacation :vacation="event"/>
    </template>
    <template v-slot:row-header="{item}">
      <schedule-viewer-timeline-header-row :item="item" />
    </template>
  </tl-calendar>
</template>

<script>
import BaseGroupingTool from "@/components/Base/BaseGroupingTool";
import TlCalendar from "@/components/TimeLine/TlCalendar";
import ScheduleViewerTimelineVacation
  from "@/_modules/planner/components/ScheduleViewer/ScheduleViewerTimelineVacation";
import defaultUserGroupList from "@/helper/defaultUserGroupingItems";
import BaseBtnOpenSidebar from "@/components/Base/Buttons/BaseBtnOpenSidebar";
import Vacation from "@/_modules/planner/models/Vacation";
import Tools from "@/plugins/Tools";
import Schedule from "@/_modules/planner/models/Schedule";
import {CUSTOM_FILTER} from "@/mixins";
import ScheduleViewerTimelineHeaderRow
  from "@/_modules/planner/components/ScheduleViewer/ScheduleViewerTimelineHeaderRow";

export default {
  name: 'ScheduleViewerTimeline',
  components: {
    ScheduleViewerTimelineHeaderRow,
    BaseBtnOpenSidebar, ScheduleViewerTimelineVacation, TlCalendar, BaseGroupingTool},
  mixins: [CUSTOM_FILTER],
  props: {
    vacations: {
      type: Array,
      required: true,
      validator: (arr) => {
        return arr.every(item => item instanceof Vacation)
      }
    },
    filters: {
      type: Object
    },
    schedule: {
      type: Schedule,
      required: true
    }
  },
  data() {
    return {
      groupBy: null
    }
  },
  computed: {
    items() {
      let items = this.groupByUser(this.vacations)
      if (this.groupBy) {
        items = this.groupUserByKey(items, this.groupBy)
      }

      return items
    },
    groups() {
      return [defaultUserGroupList[1], defaultUserGroupList[2]]
    }
  },
  methods: {
    groupByUser(arr) {
      let users = {}
      arr.map(v => {
        if (!users[v.userId]) {
          users[v.userId] = {
            id: v.userId,
            user: {...this.$store.getters['users/getUserById'](v.userId)},
            days: 0,
            events: []
          }
          users[v.userId].title = users[v.userId].user.displayName
        }

        users[v.userId].events.push({...v})
        users[v.userId].days += v.days
      })

      return Object.values(users)
    },
    groupUserByKey(users, key) {
      let tree = {}
      users.forEach(item => {
        const id = Tools.getInnerValue(item.user, key) || "" + Date.now()
        if (!tree[id]) {
          tree[id] = {id, title: this.getTitle(key, id) || "Нет", children: [], root: true}
        }

        tree[id].children.push(item)
      })

      return Object.values(tree)
    },
    getTitle(key, id) {
      switch (key) {
        case "job.position":
          return this.$store.getters['position/getById'](id)?.displayTitle
        case "job.team":
          return this.$store.getters['team/getTitleById'](id)
        default:
          return id
      }
    }
  }
}
</script>