<template>
  <base-actions
      :actions="actions"
      @click="onClick"
  />
</template>

<script>
import IconBtnWithTip from "@/components/IconBtnWithTip";
import BaseActions from "@/components/Base/BaseActions";
import IAction from "@/helper/interfaces/IAction";
import Vacation from "@/_modules/planner/models/Vacation";

export default {
  name: "ScheduleViewerAction",
  components: {BaseActions, IconBtnWithTip},
  props: {
    vacation: {
      type: Vacation,
      required: true
    }
  },
  inject: ['askVacation'],
  computed: {
    actions() {
      const actions = []
      if (this.vacation.sent) {
        actions.push(new IAction("approve", "Утвердить", "mdi-check", "success", {menuItem: false}))
        actions.push(new IAction("reject", "Отклонить", "mdi-close", "error", {menuItem: false}))
      }
      if (this.vacation.approved || this.vacation.rejected) {
        actions.push(new IAction("cancel", "Отозвать решение", "mdi-cancel", "error", {menuItem: true}))
      }

      return actions
    }
  },
  methods: {
    onClick(action) {
      this.askVacation(action, {id: this.vacation.id})
    }
  }
}
</script>

<style scoped>

</style>