<template>
  <div class="d-flex flex-row flex-wrap align-baseline align-content-end">
    <span :class="{'secondary--text': disabled, 'grey--text text--darken-4': !disabled}">{{ title }}&nbsp;/&nbsp;</span>
    <span :class="{'secondary--text': !displayLabel || disabled, 'info--text': displayLabel && !disabled}">
        {{ displayLabel || "Не назначен" }}
    </span>
  </div>
</template>

<script>

export default {
  name: "TeamWidgetTreeItemLabel",
  props: {
    title: {
      type: String,
      required: true
    },
    leaderId: {
      type: String,
      default: ""
    },
    leaderName: {
      type: String,
      default: ""
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    displayLabel() {
      switch (true) {
        case !!this.leaderName: return this.leaderName;
        case !!this.leaderId: return this.$store.getters['users/getUserById'](this.leaderId).displayName;
        default: return undefined
      }
    }
  },
}
</script>

<style scoped>

</style>