<template>
  <base-data-empty-label v-if="!id" />
  <div v-else class="d-flex flex-column gap-1 mb-lg-4">
    <team-widget-preview-leader :user="leader" />
    <team-widget-preview-list empty-text="Пользователи не добавлены" :items="users">
      <template v-slot:header="{items}">
        Сотрудники
        <span class="ml-auto mr-2 text-subtitle-2">{{items.length}} чел.</span>
      </template>
      <template v-slot:item="{item}">
        <team-widget-preview-user :user="item"/>
      </template>
    </team-widget-preview-list>
    <team-widget-preview-list v-if="innerTeams.length" :items="innerTeams">
      <template v-slot:header="{items}">
        Вложенные команды
        <span class="ml-auto mr-2 text-subtitle-2">{{items.length}} ком.</span>
      </template>
      <template v-slot:item="{item}">
        <team-widget-preview-team
            :team="item"
            @selectTeam="(val) => $emit('selectTeam', val)"
        />
      </template>
    </team-widget-preview-list>
  </div>
</template>

<script>
import BaseDataEmptyLabel from "@/components/Base/Labels/BaseDataEmptyLabel";
import TeamWidgetPreviewList from "@/components/Organization/Structure/TeamWidget/TeamWidgetPreviewList";
import TeamWidgetPreviewLeader from "@/components/Organization/Structure/TeamWidget/TeamWidgetPreviewLeader";
import TeamWidgetPreviewUser from "@/components/Organization/Structure/TeamWidget/TeamWidgetPreviewUser";
import Team from "@/models/Team";
import TeamWidgetPreviewTeam from "@/components/Organization/Structure/TeamWidget/TeamWidgetPreviewTeam";
import {structureMixin} from "@/mixins";
import Department from "@/models/Department";
export default {
  name: "TeamWidgetPreview",
  components: {
    TeamWidgetPreviewTeam,
    TeamWidgetPreviewUser,
    TeamWidgetPreviewLeader,
    TeamWidgetPreviewList,
    BaseDataEmptyLabel
  },
  mixins: [structureMixin],
  props: {
    id: {
      type: String
    }
  },
  computed: {
    node() {
      return this.structureGetById(this.id)
    },
    nodeOwner() {
      return this.node.ownerId
    },
    leader() {
      return this.$store.getters['users/getUserById'](this.nodeOwner)
    },
    users() {
      if (this.node instanceof Team) {
        const users = this.$store.getters['users/getUsersByTeam'](this.id)
        return [...users]
            .filter(user => user.id !== this.nodeOwner)
            .sort((a, b) => a.role < b.role ? 0 : -1)
      }

      if (this.node instanceof Department) {
        const users = this.$store.getters['users/getUsersByDep'](this.id)
        return [...users]
            .filter(user => user.id !== this.nodeOwner && !user.job.team)
            .sort((a, b) => a.role < b.role ? 0 : -1)
      }

    },
    innerTeams() {
      return Team.getInnerTeamsById(this.node.id)
          .map(id => this.$store.getters["team/getById"](id))
    }
  }
}
</script>

<style scoped>

</style>