<template>
  <team-widget-preview-list-item
      v-if="user"
      :user="user"
      icon="mdi-account-tie"
      color="deep-purple"
  />
  <base-data-empty-label v-else text="Лидер не выбран" />
</template>

<script>
import User from "@/models/User";
import TeamWidgetPreviewListItem from "@/components/Organization/Structure/TeamWidget/TeamWidgetPreviewUser";
import BaseSheet from "@/components/Base/BaseSheet";
import BaseDataEmptyLabel from "@/components/Base/Labels/BaseDataEmptyLabel";

export default {
  name: "TeamWidgetPreviewLeader",
  components: {BaseDataEmptyLabel, BaseSheet, TeamWidgetPreviewListItem},

  props: {
    user: {
      type: User,
    }
  }
}
</script>

<style scoped>

</style>