<template>
  <base-actions
      no-divider
      :actions="actions"
      @click="onClick"
  />
</template>

<script>
import BaseActions from "@/components/Base/BaseActions";
import IAction from "@/helper/interfaces/IAction";
import Department from "@/models/Department";
import Team from "@/models/Team";
export default {
  name: "TeamWidgetTreeItemAction",
  components: {BaseActions},
  props: {
    item: {
      type: [Department, Team],
      required: true
    },
  },
  inject: ['askOrgStructure'],
  computed: {
    actions() {
      const actions = []

      if (this.$can('create', this.item)) {
        actions.push(new IAction('create', 'Создать', 'mdi-folder-plus-outline', 'success', {menuItem: false}))
      }
      if (this.$can('update', this.item)) {
        actions.push(new IAction('edit', 'Редактировать', 'mdi-pencil', 'info'))
      }

      if (this.$can('delete', this.item)) {
        actions.push(new IAction('delete', 'Удалить', 'mdi-trash-can', 'error'))
      }

      return actions
    }
  },
  methods: {
    onClick(emit) {
      let payload = {id: this.item.id, depId: this.item.depId || this.item.id}

      if (emit === 'create') {
        payload.createMode = true
        emit = 'edit'
      }

      this.askOrgStructure('team', emit, payload)
    }
  }
}
</script>

<style scoped>

</style>
