<template>
  <base-sheet
      tag="li"
      dense
      class="d-flex pa-2 justify-space-between"
  >
    <div class="d-flex">
      <base-user-avatar :user="user"  :icon="icon"/>
      <div class="text-subtitle-1 font-weight-medium d-flex flex-column">
        {{user.fullName}}
        <div class="text-body-2">
          Должность:
          <base-employee-position class="ml-1" :id="user.job.position"/>
        </div>
      </div>
    </div>
    <icon-btn-with-tip
        tag="a"
        small
        :to="{name: 'Employee', params: {uid: user.id}, meta: {parent: '123'}}"
    >
      Перейти в аккаунт
      <template v-slot:icon>
        <v-icon small>mdi-open-in-new</v-icon>
      </template>
    </icon-btn-with-tip>
  </base-sheet>
</template>

<script>
import BaseEmployeePosition from "@/components/Base/Employee/BaseEmployeePosition";
import User from "@/models/User";
import BaseSheet from "@/components/Base/BaseSheet";
import BaseUserAvatar from "@/components/Base/BaseUserAvatar";
import IconBtnWithTip from "@/components/IconBtnWithTip";

export default {
  name: "TeamWidgetPreviewUser",
  components: {IconBtnWithTip, BaseUserAvatar, BaseSheet, BaseEmployeePosition},
  props: {
    user: {
      type: User,
      required: true
    },
    icon: {
      type: String,
      default: "mdi-account"
    },
    color: {
      type: String,
      default: "accent"
    }
  }
}
</script>

<style scoped>
</style>