<template>
  <div class="relative full-width" style="min-height: 200px;">
    <v-overlay absolute v-if="loading" opacity=".2" color="info">
      <v-progress-circular indeterminate color="info" />
    </v-overlay>
    <template v-else>
      <div class="d-flex flex-column" v-if="rootDisabled">
        <div class="d-flex mt-2" style="padding-left: 38px;">
          <team-widget-tree-item-icon root disabled />
          <team-widget-tree-item-label
              style="padding-left: 6px;"
              :title="root.title"
              :leader-name="rootOwnerDisplayName"
              disabled
          />
        </div>
        <v-icon color="secondary">mdi-dots-horizontal</v-icon>
      </div>
      <v-treeview
        ref="treeview"
        :active.sync="active"
        :items="items"
        :open.sync="opened"
        activatable
        dense
        item-key="id"
      >
        <template v-slot:label="{item}">
          <team-widget-tree-item-label class="team-tree__item" :title="item.title" :leader-id="item.ownerId"/>
        </template>
        <template v-slot:prepend="{ item }">
          <team-widget-tree-item-icon :item="item" :opened="opened.includes(item.id)"/>
        </template>
        <template v-slot:append="{item}">
          <team-widget-tree-item-action :item="item" />
        </template>
      </v-treeview>
    </template>
  </div>
</template>

<script>
import TeamWidgetTreeItemIcon from "@/components/Organization/Structure/TeamWidget/TeamWidgetTreeItemIcon";
import TeamWidgetTreeItemAction from "@/components/Organization/Structure/TeamWidget/TeamWidgetTreeItemAction";
import TeamWidgetTreeItemLabel from "@/components/Organization/Structure/TeamWidget/TeamWidgetTreeItemLabel";

export default {
  name: "TeamWidgetTree",
  components: {
    TeamWidgetTreeItemLabel,
    TeamWidgetTreeItemAction, TeamWidgetTreeItemIcon
  },
  props: {
    tree: {
      type: Array,
      required: true
    },
    selected: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      opened: [],
      loading: false
    }
  },
  mounted() {
    this.expandAll()
  },
  computed: {
    root() {
      return this.$store.getters['organization/getRootDep']
    },
    rootOwnerDisplayName() {
      return this.root?.ownerId?.displayName || ""
    },
    rootDisabled() {
      const currDep = this.$store.getters['currentUser/get'].depId
      const isService = this.$can('manage', 'Service')

      return !isService && currDep !== this.root.id
    },
    items() {
      return this.tree
    },
    active: {
      get() {
        return this.selected
      },
      set(val) {
        this.$emit('update:selected', val)
      }
    }
  },
  methods: {
    expandAll() {
      this.$refs.treeview.updateAll(true)
    },
    collapseAll() {
      this.$refs.treeview.updateAll(false)
    },
  },
  watch: {
    items(val) {
      this.loading = true
      this.$nextTick(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style scoped>

</style>