<template>
  <base-data-empty-label :text="emptyText" v-if="!items.length" />
  <div class="d-flex flex-column gap-1 team-list" v-else>
    <base-sheet dense class="d-flex align-center gap-2 py-1">
      <base-btn-expand v-model="isExpand"/>
      <slot name="header" :items="items"/>
    </base-sheet>
    <v-expand-transition>
      <ul v-if="isExpand" class="d-flex flex-column gap-1 team-list__content">
        <li
            v-for="item in items"
            :key="item.id"
            class="team-list__item"
        >
          <slot name="item" :item="item"/>
        </li>
      </ul>
    </v-expand-transition>
  </div>
</template>

<script>

import BaseSheet from "@/components/Base/BaseSheet";
import BaseBtnExpand from "@/components/Base/Buttons/BaseBtnExpand";
import BaseDataEmptyLabel from "@/components/Base/Labels/BaseDataEmptyLabel";

export default {
  name: "TeamWidgetPreviewList",
  components: {BaseDataEmptyLabel, BaseBtnExpand, BaseSheet},
  props: {
    items: {
      type: Array,
      required: true,
      validator: (arr) => arr.every(item => item.id !== undefined)
    },
    emptyText: {
      type: String,
      default: "Нет данных"
    }
  },
  data() {
    return {
      isExpand: true
    }
  }
}
</script>

<style scoped>

</style>