<template>
  <base-sheet>
    <org-structure-widget-header title="Команды">
      <base-btn-sort v-model="sort"/>
      <icon-btn-with-tip icon="mdi-unfold-more-horizontal" @click="$refs.teamTree.expandAll()">
        Раскрыть все
      </icon-btn-with-tip>
      <icon-btn-with-tip icon="mdi-unfold-less-horizontal" @click="$refs.teamTree.collapseAll()">
        Свернуть все
      </icon-btn-with-tip>
    </org-structure-widget-header>
    <team-widget-tree ref="teamTree" :tree="sortedTree" :selected.sync="active"/>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import TeamWidgetPreview from "@/components/Organization/Structure/TeamWidget/TeamWidgetPreview";
import IconBtnWithTip from "@/components/IconBtnWithTip";
import BaseBtnSort from "@/components/Base/Buttons/BaseBtnSort";
import TeamWidgetPreviewLeader from "@/components/Organization/Structure/TeamWidget/TeamWidgetPreviewLeader";
import TeamWidgetTree from "@/components/Organization/Structure/TeamWidget/TeamWidgetTree";
import OrgStructureWidgetHeader from "@/components/Organization/Structure/OrgStructureWidgetHeader";
import {structureMixin, updateQuery} from "@/mixins";

const queryKey = 'team'

export default {
  name: "TeamWidget",
  mixins: [updateQuery, structureMixin],
  components: {
    OrgStructureWidgetHeader,
    TeamWidgetTree,
    TeamWidgetPreviewLeader,
    BaseBtnSort,
    IconBtnWithTip,
    TeamWidgetPreview,
    BaseSheet,
  },
  props: {
    value: {
      type: String
    }
  },
  data() {
    return {
      sort: 0,
    }
  },
  mounted() {
    const query = this.$route.query

    if (query[queryKey]) {
      this.active = [query[queryKey]]
    }
  },
  computed: {
    active: {
      get() { return [this.value] },
      set(arr) { this.$emit('input', arr[0] || '')}
    },
    tree() {
      return this.structureGetTree
    },
    sortedTree() {
      const {sort, tree} = this
      if (sort === 0) {
        return tree
      }

      return [this.sortChildren(tree[0])]
    }
  },
  methods: {
    compare(item1, item2) {
      let a = item1.title,
          b = item2.title
      return (this.sort === 1 ? a > b : a < b) ? 0 : -1
    },
    sortChildren(node) {
      if (!node.children || !node.children.length) {
        return {...node}
      }

      let children = [...node.children]
      children = children.sort(this.compare)
      children = children.map(this.sortChildren)

      return Object.assign({}, node, {children})
    }
  },
  watch: {
    active(val) {
      this.updateQuery(queryKey, val[0])
    }
  }
};
</script>
