<template>
  <base-sheet
      tag="li"
      dense
      class="d-flex pa-2 justify-space-between"
  >
    <div class="d-flex">
      <div class="d-flex flex-column align-center justify-center" style="min-width: 70px;">
        <v-icon color="blue-grey">
          mdi-account-group
        </v-icon>
      </div>
      <div class="text-subtitle-1 font-weight-medium d-flex flex-column">
      {{team.title}}
      <div class="text-caption">
        Сотрудников:
        <span>{{employeesCount}}</span>
      </div>
    </div>
    </div>

    <icon-btn-with-tip
        icon="mdi-open-in-new"
        small
        @click="$emit('selectTeam', team.id)"
    >
      Подробнее
      <template v-slot:icon>
        <v-icon small>mdi-open-in-new</v-icon>
      </template>
    </icon-btn-with-tip>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import Team from "@/models/Team";
import IconBtnWithTip from "@/components/IconBtnWithTip";

export default {
  name: "TeamWidgetPreviewTeam",
  components: {IconBtnWithTip, BaseSheet,},
  props: {
    team: {
      type: Team,
      required: true
    }
  },
  computed: {
    employeesCount() {
      return this.$store.getters['users/getUsersByTeam'](this.team.id).length
    }
  }
}
</script>

<style scoped>
</style>