<template>
  <v-icon v-text="icon" :color="color" />
</template>

<script>
import Department from "@/models/Department";
import Team from "@/models/Team";

export default {
  name: "TeamWidgetTreeItemIcon",
  props: {
    root: {
      type: Boolean,
      default: false,
    },
    item: {
      type: [Department, Team],
    },
    opened: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    color() {
      return this.disabled ? 'secondary' : 'blue-grey'
    },
    icon() {
      switch (true) {
        case this.root || this.item.root: return 'mdi-home-city'
        case this.item instanceof Team: {
          const users = this.$store.getters['users/getUsersByTeam'](this.item.id)
          return users.length ? 'mdi-account-multiple' : 'mdi-account-multiple-outline'
        }
        case this.item instanceof Department: {
          const users = this.$store.getters['users/getUsersByDep'](this.item.id)
          let icon = 'mdi-folder'
          if (this.opened) icon += '-open'
          if (!users.length) icon += '-outline'
          return icon
        }
      }
    }
  }
}
</script>

<style scoped>

</style>