<template>
  <base-modal
      ref="modal"
      title="Импорт пользователей"
      x-large
      :loading="loading"
  >
    <setting-row
        label="Скачайте и заполните шаблон"
        description="Обязательные поля должны быть заполнены<ul class='font-weight-bold error--text'><li>Email (уникальное значение)</li><li>fullName (минимум 3 слова: <i>Иванов Иван Иванович</i>)</li></ul>"
    >
      <div class="outlined rounded d-flex justify-space-between align-center">
        <div class="text-center flex-grow-1 font-weight-bold">Шаблон для импорта пользователей</div>
        <v-btn
            @click="downloadTemplate"
            :loading="downloading"
            color="info"
            style="border-bottom-left-radius: 0; border-top-left-radius: 0;"
        >
          Cкачать&nbsp;
          <v-icon>mdi-cloud-download</v-icon>
        </v-btn>
      </div>
    </setting-row>
    <setting-row description="" label="Загрузите файл">
      <v-file-input
          v-model="file"
          :rules="[v => !!v]"
          accept=".xlsx,.xls,.csv"
          class="mt-2"
          label="Файл Excel ( .xlsx, .xls, .csv )"
          clearable
          @change="onFileChange"
      />
      <v-text-field
          class="d-none"
          :rules="[val => !!(val && val.length)]"
          :value="users"
      />
    </setting-row>
    <v-slide-x-transition>
      <setting-row description="" label="Ошибки" v-if="errors && errors.length">
        <div class="d-flex flex-column gap-2 text-body-2 errors">
          <div v-for="(error, idx) in errors" :key="'error'+idx" class="d-flex align-start">
            <div class="error--text">Строка {{ error.row }}</div>
            <ul class="errors-list">
              <li v-for="(val, idx2) in error.errors" :key="'err'+idx+'txt'+idx2" v-html="val"></li>
            </ul>
          </div>
        </div>
      </setting-row>
    </v-slide-x-transition>
    <v-slide-x-transition>
      <setting-row
          v-if="users && users.length"
          :description="`Пользователей будет загружено: <b>${users.length}</b> `"
          label="Найденные пользователи"
      >
        <v-row no-gutters class="overflow-y-auto" style="max-height: 250px;">
          <v-col cols="6" class="text-center text-subtitle-2 black--text">
            Email
          </v-col>
          <v-col cols="6" class="text-center text-subtitle-2 black--text">
            ФИО
          </v-col>
          <template v-for="(user, idx) in users">
            <v-col cols="6" :key="'user'+idx + '-1'" class="text-left text-body-1">
              #{{ idx + 1 }}.&nbsp;
              {{ user.email }}
            </v-col>
            <v-col cols="6" :key="'user'+idx + '-2'" class="text-left text-body-1">
              {{ user.fullName }}
            </v-col>
          </template>
        </v-row>
      </setting-row>
    </v-slide-x-transition>
  </base-modal>
</template>

<script>
import BaseModal from "../Base/BaseModal.vue";
import SettingRow from "@/components/Settings/SettingRow";
import IconBtnWithTip from "@/components/IconBtnWithTip";
import User from "@/models/User";
import BaseInput from "@/components/Base/Form/BaseInput";
import FileService from "@/services/FileService";

export default {
  name: "ModalEmployeeImport",
  components: {
    BaseInput,
    IconBtnWithTip,
    SettingRow,
    BaseModal,
  },
  data() {
    return {
      file: null,
      loading: false,
      downloading: false,
      errors: [],
      users: []
    }
  },
  methods: {
    async open() {
      const res = await this.$refs.modal.open()
      if (res) {
        await User.createMany(this.users)
        this.reset()
      }
    },
    async downloadTemplate() {
      this.downloading = true
      await FileService.downloadImportTemplate()
      this.downloading = false
    },
    async onFileChange() {
      this.errors = []
      this.users = []
      if (!this.file) {
        return
      }
      this.loading = true
      const data = await User.import(this.file)

      const {users, errors} = data

      this.users = users
      this.errors = errors

      this.loading = false
    },
    reset() {
      this.$nextTick(() => {
        this.file = null
        this.loading = false
        this.errors = []
        this.users = []
      })
    }
  }
};
</script>
