<template>
  <base-modal
      ref="modal"
      :title="title"
      large
  >
    <v-row>
      <v-col cols="6">
        <div class="d-flex flex-column gap-1">
          <div>
            <user-account-email outlined dense v-model="user.email" :disabled="isEditMode" />
            <user-personal-full-name outlined dense v-model="user.fullName" :disabled="!$can('update', user)" />
          </div>
          <div class="d-flex flex-column gap-1">
            <user-org-admin v-model="orgAdmin" v-if="$can('setAsServiceAdmin', user)" />
            <user-dep-admin v-model="depAdmin" v-if="$can('setAsDepAdmin', user)"/>
          </div>
        </div>
      </v-col>
      <v-col cols="6" class="d-flex flex-column gap-1">
        <user-account-tabid v-model="user.job.tabId" required outlined dense :hide-details="false"  :disabled="!$can('update', user)"/>
        <user-account-department @change="onChangeDep" required outlined dense :hide-details="false" v-model="user.depId" />
        <user-account-position
            :dep-id="user.depId" outlined dense :hide-details="false"
            v-model="user.job.position" :disabled="!$can('update', user)"
        />
        <user-account-team
            :dep-id="user.depId" outlined dense :hide-details="false"
            v-model="user.job.team" :disabled="!$can('update', user)"
        />
        <user-account-task
            :dep-id="user.depId" outlined dense :hide-details="false"
            v-model="user.job.taskList" :disabled="!$can('update', user)"
        />
      </v-col>
    </v-row>
  </base-modal>
</template>

<script>
import BaseModal from "../Base/BaseModal.vue";
import User from "@/models/User";
import UserPersonalFullName from "@/components/User/UserPersonalFullName";
import UserAccountEmail from "@/components/User/UserAccountEmail";
import UserAccountPosition from "@/components/User/UserAccountPosition";
import UserAccountTeam from "@/components/User/UserAccountTeam";
import UserAccountTask from "@/components/User/UserAccountTask";
import UserAccountRoles from "@/components/User/UserAccountRole";
import {UserDto} from "@/models/UserDto";
import UserAccountAdmin from "@/components/User/UserAccountAdmin";
import UserAccountDepartment from "@/components/User/UserAccountDepartment";
import UserOrgAdmin from "@/components/User/UserOrgAdmin";
import UserDepAdmin from "@/components/User/UserDepAdmin";
import {ROLES} from "@/plugins/CONSTANTS";
import Tools from "@/plugins/Tools";
import UserAccountTabid from "@/components/User/UserAccountTabid";

export default {
  name: "ModalEmployeeEdit",
  components: {
    UserAccountTabid,
    UserDepAdmin,
    UserOrgAdmin,
    UserAccountDepartment,
    UserAccountAdmin,
    UserAccountRoles,
    UserAccountTask,
    UserAccountTeam,
    UserAccountPosition,
    UserAccountEmail,
    UserPersonalFullName,
    BaseModal,
  },
  data() {
    return {
      isEditMode: false,
      title: "",
      user: new User(),
      depAdmin: false,
      orgAdmin: false,
    }
  },
  methods: {
    onChangeDep() {
      this.user.job.team = undefined
      this.user.job.taskList = []
      this.user.job.position = undefined
      this.depAdmin = false
    },
    async open({id}) {
      this.isEditMode = !!id
      this.title = id ? "Редактирование" : "Новый сотрудник";
      if (id) {
        const model = this.$store.getters['users/getUserById'](id)
        this.user = new User(Tools.copyObject(model))
        this.depAdmin = this.user.roles.includes(ROLES.DEP_ADMIN)
        this.orgAdmin = this.user.roles.includes(ROLES.SERVICE_ADMIN)
      } else {
        this.user = new User()
      }

      const res = await this.$refs.modal.open()
      if (res) {
        await this.saveUserData()
      }

      this.reset()
    },
    async saveUserData() {
      const user = new User(this.user)
      const orgAdminRole = ROLES.SERVICE_ADMIN
      const depAdminRole = ROLES.DEP_ADMIN

      const roles = new Set(user.roles)

      if (this.orgAdmin) roles.add(orgAdminRole)
      else roles.delete(orgAdminRole)

      if (this.depAdmin) roles.add(depAdminRole)
      else roles.delete(depAdminRole)

      user.roles = Array.from(roles)

      if (user.id) return user.save()

      return user.create()
    },
    reset() {
      this.$nextTick(() => {
        this.user = new User()
        this.depAdmin = false
        this.depAdmin = false
      })
    }
  }
};
</script>
