<template>
  <div class="user-schedule__content">
    <div
        v-for="(field, index) in details"
        :key="index"
        class="user-schedule__stat-row"
    >
      <span class="pa-0">{{ field.key }}:</span>
      <v-spacer class="user-schedule__spacer"/>
      <span class="user-schedule__value subtitle-1">
        {{ field.value }}
      </span>
    </div>
  </div>
</template>

<script>
import BaseStatusChip from "@/components/Base/BaseStatusChip";
import Period from "@/_modules/performance/models/Period";
import IStatusItem from "@/helper/interfaces/IStatusItem";
export default {
  name: "PeriodListItemDetails",
  components: {BaseStatusChip},
  props: {
    period: {
      type: Period,
      required: true
    }
  },
  computed: {
    details() {
      const details = []
      const start = this.$moment(this.period.start)
      details.push({key: 'Длительность', value: this.$moment().getDurationLabel(this.period.duration)})

      const rest = start.add(this.period.duration, 'months') - this.$moment()
      details.push({key: 'Осталось', value: this.$moment.duration(rest).humanize()})
      return details
    },
  }
}
</script>

<style scoped>

</style>