<template>
  <base-card :title="period.title" class="fill-height">
    <template v-slot:content>
      <period-list-item-details :period="period" />
      <period-item-progress :period="period"/>
    </template>
    <template v-slot:action>
      <period-list-item-action :period="period" />
    </template>
  </base-card>

<!--  <base-sheet>-->
<!--    <div class="b-card justify-space-between fill-height">-->
<!--      <period-list-item-header :period="period" />-->
<!--      <v-divider/>-->
<!--      <period-list-item-details :period="period" />-->
<!--      <period-item-progress :period="period"/>-->
<!--      <period-list-item-action :period="period" />-->
<!--    </div>-->
<!--  </base-sheet>-->
</template>

<script>
import Period from "@/_modules/performance/models/Period";
import PeriodListItemAction from "@/_modules/performance/components/PeriodList/PeriodListItem/PeriodListItemAction";
import PeriodListItemDetails from "@/_modules/performance/components/PeriodList/PeriodListItem/PeriodListItemDetails";
import PeriodListItemHeader from "@/_modules/performance/components/PeriodList/PeriodListItem/PeriodListItemHeader";
import BaseSheet from "@/components/Base/BaseSheet";
import PeriodItemProgress from "@/_modules/performance/components/PeriodList/PeriodListItem/PeriodItemProgress";
import BaseCard from "@/components/Base/BaseCard";

export default {
  name: "PeriodListItem",
  components: {
    BaseCard,
    PeriodItemProgress, BaseSheet, PeriodListItemHeader, PeriodListItemDetails, PeriodListItemAction},
  props: {
    period: {
      type: Period,
      required: true
    }
  },
}
</script>

<style lang="scss" scoped>
</style>