<template>
  <div class="user-schedule__header">
    <span class="user-schedule__title title" :title="period.title">{{ period.title }}</span>
    <v-icon color="error" v-if="!period.isActive">mdi-lock</v-icon>
  </div>
</template>

<script>
import Period from "@/_modules/performance/models/Period";
import BaseActions from "@/components/Base/BaseActions";
import IAction from "@/helper/interfaces/IAction";
import IconBtnWithTip from "@/components/IconBtnWithTip";

export default {
  name: "PeriodListItemHeader",
  components: {IconBtnWithTip, BaseActions},
  props: {
    period: {
      type: Period,
      required: true
    }
  }
}
</script>

<style scoped>

</style>