<template>
  <div class="d-flex gap-1 flex-wrap">
    <v-btn
        class="flex-grow-1"
        color="primary"
        text
        outlined
        tag="a"
        :to="{name:'PeriodUserView', params: {id: period.id, uid: currentUserId}}"
    >
      <v-icon small class="mx-2">mdi-star</v-icon>
      Мои цели
    </v-btn>
    <div class="d-flex gap-1 flex-grow-1">
      <v-btn
          class="flex-grow-1"
          color="deep-purple"
          text
          outlined
          tag="a"
          :to="{name:'PeriodViewer', params: {id: period.id}}"
      >
        <v-icon class="mx-2">mdi-format-list-bulleted</v-icon>
        Все цели
      </v-btn>
      <base-actions
          outlined
          only-menu-mode
          :actions="actions"
          @click="onClick"
      />
    </div>
  </div>
</template>

<script>
import {currentUserId} from "@/mixins";
import Period from "@/_modules/performance/models/Period";
import IconBtnWithTip from "@/components/IconBtnWithTip";
import BaseActions from "@/components/Base/BaseActions";
import IAction from "@/helper/interfaces/IAction";

export default {
  name: "PeriodListItemAction",
  components: {BaseActions, IconBtnWithTip},
  mixins: [currentUserId],
  props: {
    period: {
      type: Period,
      required: true
    }
  },
  computed: {
    actions() {
      const actions = []

      if (this.period.isActive) {
        actions.push(new IAction('close', 'Заблокировать', 'mdi-lock', 'error'))
      }else {
        actions.push(new IAction('activate', 'Активировать', 'mdi-check', 'success'))
      }

      actions.push({divider: true})

      actions.push(new IAction('edit', 'Редактировать', 'mdi-pencil', 'primary'))
      actions.push(new IAction('delete', 'Удалить', 'mdi-delete', 'error'))

      return actions
    }
  },
  inject: ['askPeriod'],
  methods: {
    onClick(action) {
      this.askPeriod(action, {id: this.period.id})
    }
  }
}
</script>

<style scoped>

</style>