<template>
  <div class="full-width d-flex flex-column my-2 relative">
    <div class="d-flex full-width relative overflow-hidden">
      <div class="fill-height mx-2 pp__icon_run-wrapper">
        <v-icon class="pp__icon-run" :style="runningIconStyle">mdi-run</v-icon>
      </div>
      <v-icon class="pp__icon-start" :class="{'success--text': period.isStarted && progress < 5}">
        mdi-clock-start
      </v-icon>
      <v-spacer />
      <v-icon class="pp__icon-end" :class="{'success--text': period.isFinished}">
        mdi-flag-checkered
      </v-icon>
    </div>

    <div class="mx-2 mt-1 flex-grow-1 pp__bar rounded relative overflow-hidden">
      <span
        class="pp__progress"
        :class="{
          'pp__progress-running': progress < 100
        }"
        :style="progressFillStyle"
      />
    </div>
    <div class="d-flex full-width relative mt-2 overflow-hidden">
      <v-chip small outlined label class="pp__icon-start">
        {{period.start.toText()}}
      </v-chip>
      <v-spacer />
      <v-chip small outlined label class="pp__icon-start">
        {{period.end.toText()}}
      </v-chip>
    </div>
  </div>
</template>

<script>
import Period from "@/_modules/performance/models/Period";

function interpolateColor(color1, color2, progress) {
  var r1 = parseInt(color1.slice(1, 3), 16);
  var g1 = parseInt(color1.slice(3, 5), 16);
  var b1 = parseInt(color1.slice(5, 7), 16);

  var r2 = parseInt(color2.slice(1, 3), 16);
  var g2 = parseInt(color2.slice(3, 5), 16);
  var b2 = parseInt(color2.slice(5, 7), 16);

  var r = Math.round(r1 + (r2 - r1) * progress);
  var g = Math.round(g1 + (g2 - g1) * progress);
  var b = Math.round(b1 + (b2 - b1) * progress);

  return `rgb(${r}, ${g}, ${b})`;
}

export default {
  name: "PeriodItemProgress",
  props: {
    period: {
      type: Period,
      required: true
    },
  },
  data() {
    return {
    }
  },
  computed: {
    progress() {
      return this.period.progress
    },
    progressFillStyle() {
      let color1 = "#84c04b";
      let color2 = "#e7d801";
      let color3 = "#e05858";

      let color;
      const progress = this.progress / 100
      if (progress <= 0.5) {
        color = interpolateColor(color1, color2, progress * 2);
      } else {
        color = interpolateColor(color2, color3, (progress - 0.5) * 2);
      }

      return `width: ${this.progress}%; background-color: ${color} !important;`
    },
    runningIconStyle() {
      const styles = [`left: ${this.progress}% !important;`]
      return styles.join(' ')
    },
  }
}
</script>

<style scoped>

</style>