<template>
  <v-row no-gutters class="gap-2">
    <v-col cols="12" md="6" xl="4">
      <setting-block title="Информация" no-action>
        <user-personal-full-name :hide-details="true" v-model="user.fullName" disabled simple/>
        <user-account-email :hide-details="true" v-model="user.email" disabled simple/>
        <user-account-position :hide-details="true" :dep-id="user.depId" v-model="user.job.position" disabled simple/>
        <user-account-team :hide-details="true" :dep-id="user.depId" v-model="user.job.team" disabled simple/>
        <user-account-task  :hide-details="true" :dep-id="user.depId" v-model="user.job.taskList" disabled simple/>
        <user-account-tabid :hide-details="true" disabled simple v-model="user.job.tabId" />
        <user-account-roles v-model="user.roles" disabled simple/>
      </setting-block>
    </v-col>
    <v-col cols="auto" class="flex-grow-1">
      <div class="d-flex flex-column gap-2">
        <div class="d-flex flex-column gap-1">
          <base-sheet class="text-center">
            <span class="text-h5">Отпуска</span>
          </base-sheet>
          <user-schedule-list
              :user-id="user ? user.id : null"
          />
        </div>
        <div class="d-flex flex-column gap-1">
          <base-sheet class="text-center">
            <span class="text-h5">Цели</span>
          </base-sheet>
          <user-period-list :user="user"/>
        </div>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import UserPersonalFullName from "@/components/User/UserPersonalFullName";
import UserAccountEmail from "@/components/User/UserAccountEmail";
import UserAccountTeam from "@/components/User/UserAccountTeam";
import UserAccountPosition from "@/components/User/UserAccountPosition";
import UserAccountTask from "@/components/User/UserAccountTask";
import BaseSheet from "@/components/Base/BaseSheet";
import SettingBlock from "@/components/Settings/SettingBlock";
import UserAccountRoles from "@/components/User/UserAccountRole";
import BaseLink from "@/components/Base/BaseLink";
import {UserScheduleList} from "@/_modules/planner";
import {UserPeriodList} from "@/_modules/performance"
import UserAccountTabid from "@/components/User/UserAccountTabid";

export default {
  name: "Employee",
  components: {
    UserAccountTabid,
    UserScheduleList,
    UserPeriodList,
    BaseLink,
    UserAccountRoles,
    SettingBlock,
    BaseSheet,
    UserAccountTask,
    UserAccountPosition,
    UserAccountTeam,
    UserAccountEmail,
    UserPersonalFullName
  },
  data() {
    return {
      user: null,
      vacations: [],
      items: []
    }
  },
  created() {
    this.initialize()
  },
  methods: {
    initialize() {
      const uid = this.$route.params.uid
      this.user = this.$store.getters['users/getUserById'](uid)
    },
  }
}
</script>

<style scoped>

</style>