<template>
  <main-block>
    <template v-slot:header>
      <base-sheet>
        <div v-if="$can('create', 'User')">Manage User</div>
        <div v-if="$can('read', 'User')">Read User</div>
      </base-sheet>
    </template>
    <template v-slot:main>
      <base-sheet></base-sheet>
    </template>
    <template v-slot:sidebar>
      <base-sheet></base-sheet>
    </template>
  </main-block>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import {MessageService} from "@/services/MessageService";
import $api from "@/services/ApiSetupService";
import MainBlock from "@/layouts/MainBlock";


export default {
  name: "home",
  components: {MainBlock, BaseSelect, BaseSheet},
  data() {
    return {
      data: [],
      loading: false
    }
  },
  methods: {
    console(val) {console.log(val)},
  }
}
</script>

<style lang="scss">

</style>
