<template>
  <div class="d-flex flex-column gap-2">
    <base-page-header hide-default>
      <template v-slot:content>
        <base-tabs :tabs="tabs"/>
      </template>
    </base-page-header>
    <router-view/>
  </div>
</template>

<script>
import BaseTabs from "@/components/Base/BaseTabs";
import BasePageHeader from "@/components/Base/BasePageHeader";

export default {
  name: "Organization",
  components: {BasePageHeader, BaseTabs},
  data() {
    return {
      tabs: [
        {name: 'OrganizationEmployees', title: "Сотрудники", component: 'Employees'},
        {name: 'OrganizationStructure', title: "Структура", component: 'Structure'}
      ]
    }
  }
};
</script>
