<template>
  <div>
    <v-row>
      <v-col cols="12" md="4">
        <team-widget v-model="active" />
      </v-col>
      <v-col cols="12" md="8">
        <org-dep-preview :id="active" />
      </v-col>
    </v-row>
    <template v-if="$can('manage', 'Structure')">
      <ask-team-edit ref="ask-team-edit"/>
      <ask-team-delete ref="ask-team-delete"/>
      <ask-position-edit ref="ask-position-edit"/>
      <ask-position-delete ref="ask-position-delete"/>
      <ask-task-edit ref="ask-task-edit"/>
      <ask-task-delete ref="ask-task-delete"/>
    </template>
  </div>
</template>

<script>
import AskTeamEdit from "@/components/Ask/AskTeamEdit";
import AskTeamDelete from "@/components/Ask/AskTeamDelete";
import AskPositionEdit from "@/components/Ask/AskPositionEdit";
import AskPositionDelete from "@/components/Ask/AskPositionDelete";
import AskTaskEdit from "@/components/Ask/AskTaskEdit";
import AskTaskDelete from "@/components/Ask/AskTaskDelete";
import TeamWidget from "@/components/Organization/Structure/TeamWidget/TeamWidget";
import TaskWidget from "@/components/Organization/Structure/TaskWidget/TaskWidget";
import PositionWidget from "@/components/Organization/Structure/PositionWidget/PositionWidget";
import OrgDepPreview from "@/components/Organization/Structure/OrgDepPreview";

export default {
  name: "OrganizationStructure",
  components: {
    OrgDepPreview,
    PositionWidget,
    TaskWidget,
    TeamWidget,
    AskTaskDelete,
    AskTaskEdit,
    AskPositionDelete,
    AskPositionEdit,
    AskTeamDelete,
    AskTeamEdit,
  },
  data() {
    return {
      active: ""
    }
  },
  provide() {
    return {
      askOrgStructure: this.askOrgStructure
    }
  },
  methods: {
    askOrgStructure(obj, type, data) {
      const ref = this.$refs[`ask-${obj}-${type}`]
      if (!ref) return

      const open = ref.open
      if (!open) console.error('ask modal should have "open" method')

      open(data)
    }
  }
};
</script>
<style lang="scss" scoped>

</style>

