<template>
  <main-block hide-header>
    <template v-slot:main>
      <org-employees-list
          :dragging="dragging"
          :filters="filters"
      />
    </template>
    <template v-slot:sidebar>
      <div class="d-flex flex-column gap-1">
        <base-filters v-model="filters">
          <template v-slot:header="{headerText}" v-if="$can('create', 'User')">
            <org-employees-tools/>
          </template>
        </base-filters>
        <base-sheet v-if="tasks.length && $can('manage', 'Structure')">
          <org-structure-task-list
              :items="tasks"
              no-action
              draggable
              :is-dragging.sync="dragging"
          />
        </base-sheet>
      </div>
    </template>

    <Can I="manage" on="Structure">
      <modal-employee-edit ref="ask-employee-edit"/>
      <modal-employee-import ref="ask-employee-import"/>
      <ask-employee-delete ref="ask-employee-delete"/>
    </Can>
  </main-block>
</template>

<script>
import MainBlock from "@/layouts/MainBlock";
import OrgEmployeesList from "@/components/Organization/Employees/OrgEmployeesList";
import BaseSheet from "@/components/Base/BaseSheet";
import OrgStructureTaskList from "@/components/Organization/Structure/TaskWidget/TaskWidgetList";
import BaseFilters from "@/components/Base/BaseFilters";
import OrgEmployeesTools from "@/components/Organization/Employees/OrgEmployeesTools";
import ModalEmployeeImport from "@/components/Modals/ModalEmployeeImport";
import AskEmployeeDelete from "@/components/Ask/AskEmployeeDelete";
import ModalEmployeeEdit from "@/components/Modals/ModalEmployeeEdit";
import Task from "@/models/Task";
import User from "@/models/User";

export default {
  name: 'OrganizationEmployees',
  components: {
    ModalEmployeeEdit,
    AskEmployeeDelete,
    ModalEmployeeImport,
    OrgEmployeesTools,
    BaseFilters,
    OrgStructureTaskList,
    BaseSheet,
    OrgEmployeesList,
    MainBlock,
  },
  data() {
    return {
      dragging: false,
      filters: {},
    }
  },
  computed: {
    tasks() {
      return this.$store.getters['task/get']
    }
  },
  provide() {
    return {
      askOrgEmployees: this.askOrgEmployees
    }
  },
  methods: {
    askOrgEmployees(subj, action, data) {
      const ref = this.$refs[`ask-${subj}-${action}`]
      if (!ref) {
        return
      }

      const open = ref.open
      if (!open) {
        console.error('ask modal should have "open" method')
      }

      open(data)
    },
  },
};
</script>