<template>
  <ul class="d-flex flex-row flex-wrap gap-1 pa-0">
    <task-widget-list-item
      v-for="item in items"
      :key="item.id"
      :title="item.title"
      :task="item"

      :no-action="noAction"

      :draggable="draggable"
      @dragstart.native="onDragStart(item.id, $event)"
      @dragend.native="dragActive = false"

      @edit="(id) => $emit('edit', id)"
      @delete="(id) => $emit('delete', id)"
    />
  </ul>
</template>

<script>
import TaskWidgetListItem from "@/components/Organization/Structure/TaskWidget/TaskWidgetListItem";
export default {
  name: "TaskWidgetList",
  components: {TaskWidgetListItem},
  props: {
    items: {
      type: Array,
      required: true
    },
    draggable: {
      type: Boolean,
      default: false
    },
    noAction: {
      type: Boolean,
      default: false
    },
    isDragging: {
      type: Boolean
    },
  },
  computed: {
    dragActive: {
      get() {
        return this.isDragging
      },
      set(val) {
        this.$emit('update:isDragging', val)
      }
    }
  },
  methods: {
    onDragStart(id, e) {
      e.dataTransfer.dropEffect = 'move'
      e.dataTransfer.effectAllowed = 'move'
      e.dataTransfer.setData('id', id)
      this.dragActive = true
    }
  }
}
</script>

<style scoped>

</style>