<template>
  <org-structure-widget
      :no-action="!$can('create', 'Task')"
      :items="tasks"
      title="Задачи"
      @create="onCreate"
  >
    <template v-slot:content="{items}">
      <task-widget-list
          :items="items"

          @edit="onEdit"
          @delete="onDelete"
      />
    </template>
  </org-structure-widget>
</template>

<script>
import AppPopup from "@/components/Base/BasePopup";
import OrgStructureWidget from "@/components/Organization/Structure/OrgStructureWidget";
import TaskWidgetList from "@/components/Organization/Structure/TaskWidget/TaskWidgetList";

export default {
  name: "TaskWidget",
  components: {
    TaskWidgetList,
    OrgStructureWidget,
    AppPopup
  },
  props: {
    depId: {
      type: String,
      required: true
    }
  },
  inject: ['askOrgStructure'],
  computed: {
    tasks() {
      return this.$store.getters['task/getByDepId'](this.depId)
    }
  },
  methods: {
    onCreate() {
      this.askOrgStructure('task', 'edit', {createMode: true, depId: this.depId})
    },
    onEdit(id) {
      this.askOrgStructure('task', 'edit', {id, createMode: false})
    },
    onDelete(id) {
      this.askOrgStructure('task', 'delete', {id})
    }
  },
};
</script>
