<template>
  <li
      class="org-list-item"
      :class="{
        'org-list-item_editable elevation-2': actions.length,
        'org-list-item_small': small
      }"
  >
    {{title}}
    <div class="org-list-item-action" v-if="actions && actions.length">
      <icon-btn-with-tip
          v-for="(action, idx) in actions"
          :key="idx"
          small
          :color="action.color"
          @click="$emit(action.emit, task.id)"
      >
        {{action.title}}
        <template v-slot:icon>
          <v-icon small :color="action.color" v-text="action.icon" />
        </template>
      </icon-btn-with-tip>
    </div>
  </li>
</template>

<script>
import IconBtnWithTip from "@/components/IconBtnWithTip";
import Task from "@/models/Task";
export default {
  name: "TaskWidgetListItem",
  components: {IconBtnWithTip},
  props: {
    task: {
      type: Task,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    deletable: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    noAction: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    actions() {
      let actions = []

      if (!this.noAction) {
        if (this.$can('update', this.task)) {
          actions.push({icon: "mdi-pencil", title: "редактировать", color: "primary", emit: "edit"})
        }
        if (this.$can('delete', this.task)) {
          actions.push({icon: "mdi-trash-can-outline", title: "удалить", color: "error", emit: "delete"})
        }
      }

      if (this.deletable) actions.push({icon: "mdi-close-circle", title: "удалить", color: "blue-grey", emit: "close"})
      return actions
    }
  },
}
</script>
