<template>
  <base-input
      v-bind="$attrs"
      v-on="$listeners"

      :disabled="disabled"

      icon="mdi-identifier"
      label="Таблельный номер"
  />
</template>

<script>
import BaseInput from "@/components/Base/Form/BaseInput";
export default {
  name: "UserAccountTabid",
  components: {BaseInput},
  props: {
    disabled: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style scoped>

</style>