<template>
  <setting-select-roles v-bind="$attrs" v-on="$listeners" label="Роль пользователя" />
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import SettingSelectRoles from "@/components/Settings/SettingSelectRoles";
export default {
  name: "UserAccountRole",
  components: {SettingSelectRoles, BaseSelect, SettingRow},
}
</script>

<style scoped>

</style>