<template>
<!--  <setting-row description="" label="Должность" v-bind="$attrs">-->
    <base-select
        v-bind="$attrs"
        v-on="$listeners"

        :items="items"
        clearable
        icon="mdi-account-group"
        item-text="displayTitle"
        item-value="id"
        label="Должность"
    />
<!--  </setting-row>-->
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import Position from "@/models/Position";
export default {
  name: "UserAccountPosition",
  components: {BaseSelect, SettingRow},
  props: {
    depId: {
      type: String,
      required: true
    }
  },
  computed: {
    items() {
      return this.$store.getters['position/getByDepId'](this.depId)
    }
  }
}
</script>

<style scoped>

</style>