<template>
  <base-select
    v-bind="$attrs"
    v-on="$listeners"

    :items="items"
    clearable
    multiple
    icon="mdi-format-list-bulleted-square"
    item-text="title"
    item-value="id"
    label="Задачи"
  />
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import Task from "@/models/Task";
export default {
  name: "UserAccountTask",
  components: {BaseSelect, SettingRow},
  props: {
    depId: {
      type: String,
      required: true
    }
  },
  computed: {
    items() {
      return this.$store.getters['task/getByDepId'](this.depId)
    }
  }
}
</script>

<style scoped>

</style>