<template>
  <base-select
    v-bind="$attrs"
    v-on="$listeners"

    :items="items"
    clearable
    icon="mdi-account-group"
    item-text="title"
    item-value="id"
    label="Команда"
  />
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import Team from "@/models/Team";

export default {
  name: "UserAccountTeam",
  components: {BaseSelect, SettingRow},
  props: {
    depId: {
      type: String,
      required: true
    }
  },
  computed: {
    items() {
      return this.$store.getters['team/getByDepId'](this.depId)
    }
  }
}
</script>

<style scoped>

</style>