<template>

    <base-input
        v-bind="$attrs"
        v-on="$listeners"

        icon="mdi-account"
        label="Имя для отображения"
    />
  </setting-row>
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import BaseInput from "@/components/Base/Form/BaseInput";
export default {
  name: "UserPersonalDisplayName",
  components: {BaseInput, SettingRow}
}
</script>

<style scoped>

</style>