<template>
  <base-checkbox
    v-bind="$attrs"
    v-on="$listeners"

    outlined
    icon="mdi-security"
    label="Администратор организации"
    color="error"
  />
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import BaseInputIcon from "@/components/Base/Form/BaseInputIcon";
import BaseCheckbox from "@/components/Base/Form/BaseCheckbox";
export default {
  name: "UserOrgAdmin",
  components: {BaseCheckbox, BaseInputIcon, BaseSelect, SettingRow},
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
}
</script>

<style scoped>

</style>