<template>
  <base-select
    v-bind="$attrs"
    v-on="$listeners"

    :items="departments"
    :disabled="departments.length <= 1"
    icon="mdi-account-group"
    item-text="title"
    item-value="id"
    label="Депортамент"
  />
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import Position from "@/models/Position";
import {mapGetters} from "vuex";
import {departments} from "@/mixins";
export default {
  name: "UserAccountDepartment",
  components: {BaseSelect, SettingRow},
  mixins: [departments]
}
</script>

<style scoped>

</style>