<template>
<!--  <setting-row description="Полное ФИО" label="ФИО" v-bind="$attrs">-->
    <base-input
        v-bind="$attrs"
        v-on="$listeners"

        icon="mdi-account"
        label="ФИО"
        required
        check="fio"
    />
<!--  </setting-row>-->
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import BaseInput from "@/components/Base/Form/BaseInput";
export default {
  name: "UserPersonalFullName",
  components: {BaseInput, SettingRow},
}
</script>

<style scoped>

</style>