<template>
  <setting-row
      v-bind="$attrs"
      description="Права администратора дают пользователю больше привелегий"
      label="Адимнистратор"
  >
    <v-checkbox
        v-model="model"
        v-bind="$attrs"
        v-on="$listeners"

        label="Администратор"
        color="deep-orange"
    >
      <template v-slot:prepend>
        <base-input-icon>mdi-account-tie</base-input-icon>
      </template>
    </v-checkbox>
  </setting-row>
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import BaseInputIcon from "@/components/Base/Form/BaseInputIcon";
export default {
  name: "UserAccountAdmin",
  components: {BaseInputIcon, BaseSelect, SettingRow},
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    model: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>

<style scoped>

</style>