<template>
  <base-sheet :flat="!solo">
    <v-card flat height="100%">
      <component
          :is="tag"
          ref="theUserForm"
          v-model="valid"
          class="d-flex flex-column"
          style="height: 100%;"
          @submit.prevent="onSubmit"
      >
        <v-card-title v-if="!hideTitle">Личные данные</v-card-title>
        <v-card-text>
<!--          <user-personal-info-items :user="user" />-->
        </v-card-text>
        <v-card-actions v-if="!hideAction && !disabled && solo" class="mt-auto">
          <v-spacer></v-spacer>
          <btn-submit :disabled="!valid"/>
          <v-spacer></v-spacer>
        </v-card-actions>
      </component>
    </v-card>
  </base-sheet>
</template>

<script>
import {VForm} from "vuetify/lib/components";
import SettingRow from "@/components/Settings/SettingRow";
import BtnSubmit from "@/components/Base/Buttons/BaseBtnSubmit";
import BaseInput from "@/components/Base/Form/BaseInput";
import BaseSheet from "@/components/Base/BaseSheet";
import User from "@/models/User";

export default {
  name: 'UserPersonalInfo',
  components: {BaseSheet, BaseInput, BtnSubmit, SettingRow, VForm},
  props: {
    solo: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    hideTitle: {
      type: Boolean,
      default: false,
    },
    hideAction: {
      type: Boolean,
      default: false,
    },
    hideAdditionalFields: {
      type: Boolean,
      default: false,
    }

  },
  data: () => ({
    isChanged: false,
    valid: false
  }),
  computed: {
    tag() {
      return this.solo ? 'VForm' : 'div'
    }
  },
  methods: {
    onSubmit() {
      if (this.disabled || this.noaction) {
        return;
      }

      this.updateData()
      this.isChanged = false;
    },
    updateData(silent = false) {
      const user = new User(this.user)
      user.update({type: 'edit'}, silent)
    },
    changed() {
      if (this.isChanged) {
        return
      }
      this.isChanged = true
    },
    reset() {
      this.$refs.theUserForm.reset();
    },
    getData() {
      return {
        fullName: this.user.fullName
      }
    },
    validate() {
      return this.$refs.form.validate()
    }
  },
};
</script>