<template>
<!--  <setting-row label="Email" description="" v-bind="$attrs">-->
    <base-input
        v-bind="$attrs"
        v-on="$listeners"

        :disabled="disabled"
        icon="mdi-email"
        required
        label="Email"
        check="email"
    />
<!--  </setting-row>-->
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import BaseInput from "@/components/Base/Form/BaseInput";
export default {
  name: "UserAccountEmail",
  components: {BaseInput, SettingRow},
  props: {
    disabled: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style scoped>

</style>