<template>
  <base-checkbox
      v-bind="$attrs"
      v-on="$listeners"

      v-model="model"

      outlined
      icon="mdi-security"
      label="Администратор депортамента"
      color="warning"
  />
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import BaseInputIcon from "@/components/Base/Form/BaseInputIcon";
import BaseCheckbox from "@/components/Base/Form/BaseCheckbox";
export default {
  name: "UserDepAdmin",
  components: {BaseCheckbox, BaseInputIcon, BaseSelect, SettingRow},
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    model: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>

<style scoped>

</style>