<template>
  <base-popup ref="popup" title="Удаление">
    Пользователь и все его данные будут удалены.<br>
    Продолжить?
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";

export default {
  name: "AskEmployeeDelete",
  components: {BasePopup},
  methods: {
    async open({id}) {
      const user = this.$store.getters['users/getUserById'](id)
      if (!user) return

      const res = await this.$refs.popup.open()
      if (res) {
        user.delete()
      }
    }
  }
}
</script>

<style scoped>

</style>