<template>
  <base-popup ref="popup" title="Ключевые слова" buttons="ok" max-width="800">
    <div>
      <app-keyword-text
          v-for="item in keywords"
          :key="item.key"
          :keyword="item.key"
          :description="item.description"
          :example="item.example"
      />
    </div>
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";
import AppKeywordText from "@/components/AppKeywordText";
export default {
  name: "AskHelpKeywords",
  components: {AppKeywordText, BasePopup},
  props: {
    keywords: {
      type: Array,
      required: true
    }
  },
  methods: {
    open() {
      this.$refs.popup.open()
    }
  }
}
</script>

<style scoped>

</style>