<template>
  <base-popup ref="popup" :title="askTitle">
    <template v-slot:default="{setSubmitDisable}">
      <v-form ref="form" @input="(val) => setSubmitDisable(!val)">
        <base-input
            v-model="displayTitle"
            label="Название"
            icon="mdi-form-textbox"
            required
            autofocus
        />

        <base-input
            v-model="title"
            label="Полное название (для заявления)"
            icon="mdi-form-textbox"
            required
        />
      </v-form>
    </template>
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";
import BaseInput from "@/components/Base/Form/BaseInput";
import InputIcon from "@/components/Base/Form/BaseInputIcon";
import Position from "@/models/Position";

export default {
  name: "AskPositionEdit",
  components: {InputIcon, BaseInput, BasePopup},
  data() {
    return {
      displayTitle: "",
      title: "",
      askTitle: "",
      depId: ''
    }
  },
  methods: {
    async open({id, createMode = false, depId}) {
      this.depId = depId
      if (createMode) {
        this.askTitle = "Создать должность"
        await this.create()
      }else {
        this.askTitle = "Редактированеи должности"
        await this.edit(id)
      }

      this.reset()
    },
    async create() {
      const res = await this.$refs.popup.open()
      if (res) {
        await Position.create(this)
      }
    },
    async edit(id) {
      const positions = this.$store.getters['position/get']
      const position = positions.find(t => t.id === id)
      if (!position) return

      this.displayTitle = position.displayTitle
      this.title = position.title

      const res = await this.$refs.popup.open()
      if (res) {
        await Position.update(Object.assign({}, position, this))
      }
    },
    reset() {
      this.$nextTick(() => {
        this.displayTitle = ""
        this.title = ""
        this.depId = ''
        this.$refs.form.reset()
      })
    }
  }
}
</script>

<style scoped>

</style>