<template>
  <base-popup ref="popup">
    Должность
    <span class="font-weight-bold">{{ title }}</span>
    будет удалена, продолжить?
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";
import Position from "@/models/Position";

export default {
  name: "AskPositionDelete",
  components: {BasePopup},
  data() {
    return {
      title: ""
    }
  },
  methods: {
    async open({id}) {
      const positions = this.$store.getters['position/get']
      const position = positions.find(t => t.id === id)
      if (!position) return

      this.title = position.title
      const res = await this.$refs.popup.open()
      if (res) {
        Position.delete(id)
      }
    }
  }
}
</script>

<style scoped>

</style>