<template>
    <base-popup ref="popup" >
      <base-input
          v-model="title"
          label="Название"
          icon="mdi-form-textbox"
          required
          autofocus
      />
      <base-select
          v-model="ownerId"
          :items="users"
          item-text="fullName"
          item-value="id"
          clearable
          placeholder="Руководитель"
          icon="mdi-account-tie"
      />
      <base-checkbox
          v-if="isNew"
          v-model="isDepartment"
          icon="mdi-home-city-outline"
          label="Депортамент"
      />
    </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";
import {structureMixin, users} from "@/mixins";
import BaseInput from "@/components/Base/Form/BaseInput";
import InputIcon from "@/components/Base/Form/BaseInputIcon";
import Team from "@/models/Team";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import BaseCheckbox from "@/components/Base/Form/BaseCheckbox";
import Department from "@/models/Department";

export default {
  name: "AskTeamEdit",
  mixins: [structureMixin],
  components: {BaseCheckbox, BaseSelect, InputIcon, BaseInput, BasePopup},
  data() {
    return {
      title: "",
      ownerId: "",
      isNew: true,
      isDepartment: false,
      depId: ""
    }
  },
  computed: {
    users() {
      let users = this.$store.getters['users/get']
      if (this.isDepartment) users = users.filter(user => !user.isDepOwner || user.id === this.ownerId)
      else users = users.filter(user => user.depId === this.depId)

      return users
    }
  },
  methods: {
    async open({id, depId, createMode = false}) {
      this.depId = depId
      createMode
        ? await this.create(id)
        : await this.edit(id)

      this.reset()
    },
    async create(parentId) {
      const parent = this.structureGetById(parentId)
      this.isNew = parent.root

      const res = await this.$refs.popup.open()
      if (res) {
        this.isDepartment
            ? await Department.create(this.title, parentId, this.ownerId)
            : await Team.create(this.title, parentId, this.ownerId, this.depId)
      }
    },
    async edit(id) {
      this.isNew = false
      const items = this.structureGetAll
      const item = items.find(t => t.id === id)

      if (!item) return

      this.isDepartment = item instanceof Department
      this.title = item.title
      this.ownerId = item.ownerId

      const res = await this.$refs.popup.open()
      if (res) {
        item instanceof Department
          ? await Department.update(Object.assign({}, item, this))
          : await Team.update(Object.assign({}, item, this))
      }
    },
    reset() {
      this.$nextTick(() => {
        this.title = ""
        this.ownerId = ""
        this.depId = ""
        this.isDepartment = false
      })
    }
  }
}
</script>

<style scoped>

</style>