<template>
  <base-popup ref="popup">
    Задача
    <span class="font-weight-bold">{{ title }}</span>
    будет удалена, продолжить?
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";
import Task from "@/models/Task";

export default {
  name: "AskTaskDelete",
  components: {BasePopup},
  data() {
    return {
      title: ""
    }
  },
  methods: {
    async open({id}) {
      const tasks = this.$store.getters['task/get']
      const task = tasks.find(t => t.id === id)
      if (!task) return

      this.title = task.title
      const res = await this.$refs.popup.open()
      if (res) {
        Task.delete(id)
      }
    }
  }
}
</script>

<style scoped>

</style>