<template>
  <base-popup ref="popup">
    <span v-html="title" />
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";
import Team from "@/models/Team";
import {structureMixin} from "@/mixins";
import Department from "@/models/Department";

export default {
  name: "AskTeamDelete",
  components: {BasePopup},
  mixins: [structureMixin],
  data() {
    return {
      title: "",
      deleteChildren: false
    }
  },
  methods: {
    async open({id}) {
      const node = this.structureGetById(id)
      if (!node) return

      if (node instanceof Department) {
        this.title = `Депортамент <span class="font-weight-bold">${node.title}</span> будет удален.<br><b>Продолжить?</b>`
      }else {
        this.title = `Команда <span class="font-weight-bold">${node.title}</span> будет удалена.<br><b>Продолжить?</b>`
      }

      const res = await this.$refs.popup.open()
      if (res) {
        if (node instanceof Department) {
          Department.delete(id)
        }else {
          Team.delete(id, this.deleteChildren)
        }
      }
    }
  }
}
</script>

<style scoped>

</style>