<template>
  <base-popup ref="popup" :title="askTitle">
    <template v-slot:default="{setSubmitDisable}">
      <v-form ref="form" @input="(val) => setSubmitDisable(!val)">
        <base-input
            v-model="title"
            label="Название"
            icon="mdi-form-textbox"
            required
            autofocus
        />
      </v-form>
    </template>
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";
import BaseInput from "@/components/Base/Form/BaseInput";
import InputIcon from "@/components/Base/Form/BaseInputIcon";
import Task from "@/models/Task";

export default {
  name: "AskTaskEdit",
  components: {InputIcon, BaseInput, BasePopup},
  data() {
    return {
      title: "",
      askTitle: "",
      depId: ''
    }
  },
  methods: {
    async open({id, createMode = false, depId}) {
      this.depId = depId
      if (createMode) {
        this.askTitle = "Создать задачу"
        await this.create()
      }else {
        this.askTitle = "Редактирование задачи"
        await this.edit(id)
      }

      this.reset()
    },
    async create() {
      const res = await this.$refs.popup.open()
      if (res) {
        await Task.create(this)
      }
    },
    async edit(id) {
      const tasks = this.$store.getters['task/get']
      const task = tasks.find(t => t.id === id)
      if (!task) return

      this.title = task.title

      const res = await this.$refs.popup.open()
      if (res) {
        await Task.update(Object.assign({}, task, this))
      }
    },
    reset() {
      this.$nextTick(() => {
        this.title = ""
        this.depId = ''
        this.$refs.form.reset()
      })
    }
  }
}
</script>

<style scoped>

</style>