<template>
  <div>
    <slot name="label" />
    <v-icon v-if="!noIcon">mdi-calendar</v-icon>
    <span class="text-no-wrap">
      {{ startDayLabel }}
      <span class="font-weight-bold">{{ formattedStart }}</span>
    </span>
    -
    <span class="text-no-wrap">
      {{ endDayLabel }}
      <span class="font-weight-bold">{{ formattedEnd }}</span>
    </span>
  </div>
</template>

<script>

export default {
  name: "VacationItemDates",
  props: {
    noIcon: {
      type: Boolean,
      default: false
    },
    start: {
      type: [String, Date],
      required: true
    },
    end: {
      type: [String, Date],
      required: true
    }
  },
  computed: {
    startDayLabel() {
      return this.$moment(this.start).weekDay(true).toLowerCase()
    },
    formattedStart() {
      return this.$moment(this.start).toText()
    },
    endDayLabel() {
      return this.$moment(this.end).weekDay(true).toLowerCase()
    },
    formattedEnd() {
      return this.$moment(this.end).toText()
    }
  }
}
</script>

<style scoped>

</style>