<template>
  <td :colspan="cols" class="pa-0">
    <div v-if="events.length" class="overflow-y-auto ml-2" style="max-height: 250px">
      <v-timeline dense>
        <v-timeline-item
          v-for="(event, idx) in reversedEvents"
          :key="idx"

          fill-dot
          small
        >
          <div
            :class="getEventColor(event.type) + '--text'"
            class="font-weight-medium"
          >
            {{ getEventName(event.type) }}
          </div>

          <template v-if="event.type < 2">
            <vacation-item-dates :end="event.newState.end" :start="event.newState.start" no-icon>
              <template v-slot:label>
                <span class="font-weight-medium">Даты:</span>
              </template>
            </vacation-item-dates>
            <div>
              <span class="font-weight-medium">Дней:</span>
              <span class="ml-2">{{ event.newState.days }}</span>
            </div>
          </template>

          <div>
            <span>
              <span class="font-weight-medium">
                {{ getDisplayNameByID(event.eventBy) }}
              </span>
              <span class="ml-2">
                {{ $moment(event.eventAt).format('DD.MM.YYYY в HH:mm') }}
              </span>
            </span>
          </div>
          <div v-if="event.newState && event.newState.comment">
            <div class="font-weight-medium">Комментарий:</div>
            <span class="ml-2 font-italic">{{ event.newState.comment }}</span>
          </div>
        </v-timeline-item>
      </v-timeline>
    </div>
    <div v-else>
      История отсутсвует
    </div>
  </td>
</template>
<script>
import VacationItemDates from "@/_modules/planner/components/VacationItem/VacationItemDates";
import Vacation from "@/_modules/planner/models/Vacation";
import {mapGetters} from "vuex";


export default {
  name: 'VacationItemDetails',
  components: {VacationItemDates},
  props: {
    cols: {
      type: Number,
      required: true
    },
    events: {
      type: Array,
      required: true
    }
  },
  computed: {
    ...mapGetters("users", ['getDisplayNameByID']),
    reversedEvents() {
      return [...this.events].reverse()
    }
  },
  methods: {
    getEventName(type) {
      switch (type) {
        case Vacation.EVENT_STATUSES.CREATED:
          return 'Создан'
        case Vacation.EVENT_STATUSES.UPDATED:
          return 'Отредактирован'
        case Vacation.EVENT_STATUSES.SENT_APPROVING:
          return 'Отправлено на утверждение'
        case Vacation.EVENT_STATUSES.CANCEL_APPROVING:
          return 'Отозван'
        case Vacation.EVENT_STATUSES.APPROVED:
          return 'Утверждено'
        case Vacation.EVENT_STATUSES.REJECTED:
          return 'Отклонено'

        default:
          return type
      }
    },
    getEventColor(type) {
      switch (type) {
        case Vacation.EVENT_STATUSES.CREATED:
          return 'success'
        case Vacation.EVENT_STATUSES.UPDATED:
          return 'info'
        case Vacation.EVENT_STATUSES.SENT_APPROVING:
          return 'warning'
        case Vacation.EVENT_STATUSES.CANCEL_APPROVING:
          return 'error'
        case Vacation.EVENT_STATUSES.APPROVED:
          return 'success'
        case Vacation.EVENT_STATUSES.REJECTED:
          return 'warning'

        default:
          return 'info'
      }
    },

  }
}
</script>