<template>
  <app-status-chip
      :status="$options.STATUSES[status]"
  />
</template>

<script>
import AppStatusChip from "@/components/Base/BaseStatusChip";
import Vacation from "@/_modules/planner/models/Vacation";
export default {
  name: "VacationItemStatus",
  components: {AppStatusChip},
  STATUSES: Vacation.STATUSES_DATA,
  props: {
    status: {
      type: [String, Number],
      required: true
    }
  }
}
</script>

<style scoped>

</style>