<template>
  <base-actions no-divider :actions="actions" @click="onClick"/>
</template>

<script>
import BaseActions from "@/components/Base/BaseActions";
import Vacation from "@/_modules/planner/models/Vacation";
import IAction from "@/helper/interfaces/IAction";
import User from "@/models/User";

export default {
  name: "VacationItemActionsUser",
  components: {BaseActions},
  props: {
    user: {
      type: User,
      required: true
    },
    vacation: {
      type: Vacation,
      required: true
    }
  },
  inject: ['askUserVacation'],
  computed: {
    actions() {
      let actions = []

      if (this.$store.getters['planner/blank/isExist']) {
        actions.push(new IAction('download', 'Скачать заявление', 'mdi-download', 'info'))
      }

      if (this.$can('manageVacation', this.user)) {
        switch (this.vacation.status) {
          case Vacation.STATUSES.DRAFT:
            actions.push(new IAction('toApproving', 'Отправить на утверждение', 'mdi-send', 'info', {menuItem: false}));
            break;
          case
          Vacation.STATUSES.SENT:
            actions.push(new IAction('toDraft', 'Отозвать', 'mdi-cancel', 'warning', {menuItem: false}));
            break;
        }

        const disabled = this.vacation.status !== Vacation.STATUSES.DRAFT

        actions.push({divider: true})
        actions.push(new IAction('edit', 'Редактировать', 'mdi-pencil', '', {disabled}))
        actions.push(new IAction('delete', 'Удалить', 'mdi-delete', 'error', {disabled}))
      }

      return actions
    }
  },
  methods: {
    onClick(action) {
      switch (action) {
        case 'download': this.vacation.download(); break;
        default: this.askUserVacation(action, {vacationId: this.vacation.id})
      }
    }
  }
}
</script>

<style scoped>

</style>