<template>
  <base-sheet color="none" class="period-list__item period-list__add">
      <v-icon class="add-icon" x-large>mdi-plus-circle-outline</v-icon>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
export default {
  name: "PeriodListAddItem",
  components: {BaseSheet}
}
</script>

<style scoped>

</style>