<template>
  <main-block hide-header>
    <template v-slot:main>
      <div class="d-grid gap-2 grid-cols-md">
        <period-list-item
            v-for="period in periods"
            :key="period.id"
            :period="period"
        />
        <period-list-add-item @click.native="askPeriod('edit', {})"/>
      </div>
    </template>
    <template v-slot:sidebar>
      <base-filters />
    </template>

    <modal-period-add ref="ask-period-edit" />
    <ask-period-delete ref="ask-period-delete" />
    <ask-period-activate ref="ask-period-activate"/>
    <ask-period-close ref="ask-period-close"/>
  </main-block>


<!--  <div>-->
<!--    <div class="d-grid gap-2 grid-cols-md">-->
<!--      <period-list-item-->
<!--          v-for="period in periods"-->
<!--          :key="period.id"-->
<!--          :period="period"-->
<!--      />-->
<!--      <period-list-add-item @click.native="askPeriod('edit', {})"/>-->
<!--    </div>-->

<!--    <modal-period-add ref="ask-period-edit" />-->
<!--    <ask-period-delete ref="ask-period-delete" />-->
<!--    <ask-period-activate ref="ask-period-activate"/>-->
<!--    <ask-period-close ref="ask-period-close"/>-->
<!--  </div>-->
</template>

<script>
import PeriodListAddItem from "@/_modules/performance/components/PeriodList/PeriodListAddItem";
import ModalPeriodAdd from "@/_modules/performance/components/Modals/ModalPeriodAdd";
import {mapGetters} from "vuex";
import PeriodListItem from "@/_modules/performance/components/PeriodList/PeriodListItem/PeriodListItem";
import AskPeriodDelete from "@/_modules/performance/Ask/AskPeriodDelete";
import AskPeriodActivate from "@/_modules/performance/Ask/AskPeriodActivate";
import AskPeriodClose from "@/_modules/performance/Ask/AskPeriodClose";
import MainBlock from "@/layouts/MainBlock";
import BaseFilters from "@/components/Base/BaseFilters";
export default {
  name: "PeriodList",
  components: {
    BaseFilters,
    MainBlock,
    AskPeriodClose, AskPeriodActivate, AskPeriodDelete, PeriodListItem, ModalPeriodAdd, PeriodListAddItem},
  computed: {
    periods() {
      const periods = [...this.$store.getters['performance/periods/get']]

      return periods.sort((a, b) => a.start < b.start ? 0:-1)
    }
  },
  provide() {
    return {
      askPeriod: this.askPeriod
    }
  },
  methods: {
    askPeriod(action, data) {
      const name = `ask-period-${action}`
      this.$nextTick(() => {
        this.$refs[name]?.open(data)
      })
    }
  }
}
</script>
