<template>
  <main-block v-if="period && user" main-empty hide-side>
    <template v-slot:header>
      <base-page-header :title="period.title" :sub-title="user.fullName" />
    </template>
    <template v-slot:main>
      <goals-editor
          v-if="editMode"
          ref="goals-editor"
          :goals="goals"
          @add="onGoalAdd"
          @delete="onGoalDelete"
      />
      <period-user-view-empty
          v-else-if="!goals.length"
          @setEditMode="editMode = true"
      />
      <goals-list v-else :goals="goals"/>
    </template>
    <template v-slot:sidebar>
      <base-sheet>
        <edit-mode-toggle
            v-model="editMode"
            @save="onSave"
        />
        <goals-statistics :goals="goals"/>
      </base-sheet>
    </template>
  </main-block>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import MainBlock from "@/layouts/MainBlock";
import PeriodUserViewEmpty from "@/_modules/performance/components/PeriodUserView/PeriodUserViewEmpty";
import Goal from "@/_modules/performance/models/Goal";
import EditModeToggle from "@/_modules/performance/components/PeriodUserView/EditModeToggle";
import GoalsList from "@/_modules/performance/components/PeriodUserView/GoalsList/GoalsList";
import GoalsEditor from "@/_modules/performance/components/PeriodUserView/GoalsEditor/GoalsEditor";
import GoalsStatistics from "@/_modules/performance/components/PeriodUserView/GoalsStatistics";
import BasePageHeader from "@/components/Base/BasePageHeader";

export default {
  name: "PeriodUserView",
  components: {
    BasePageHeader,
    MainBlock,
    BaseSheet,
    GoalsStatistics,
    GoalsEditor,
    GoalsList,
    EditModeToggle,
    PeriodUserViewEmpty,
  },
  data() {
    return {
      period: null,
      user: null,
      editMode: false
    }
  },
  mounted() {
    const {id, uid} = this.$route.params
    const period = this.$store.getters['performance/periods/getById'](id)
    const user = this.$store.getters['users/getUserById'](uid)
    if (!period || !user) {
      return this.$router.push({name: 'PeriodList'})
    }

    this.period = period
    this.user = user
  },
  computed: {
    goals() {
      return this.$store.getters['performance/goals/getByPeriodAndUserId'](this.period.id, this.user.id)
    }
  },
  methods: {
    async onSave() {
      const response = await this.$refs["goals-editor"].save()

      if (response) {
        this.editMode = false
      }
    },
    onGoalAdd() {
      this.goals.push(new Goal())
    },
    onGoalDelete(id) {
      this.goals = this.goals.filter(g => g.id !== id)
    }
  }
}
</script>

<style scoped>

</style>