<template>
  <main-block main-empty>
    <template v-slot:header>
      <base-page-header :title="period.title" :sub-title="`C ${period.start.toText()} по ${period.end.toText()}`" />
    </template>
    <template v-slot:main>
      <period-viewer-list :filters="filters" :period="period"/>
    </template>
    <template v-slot:sidebar>
      <base-filters v-model="filters"/>
    </template>
  </main-block>
</template>

<script>
import MainBlock from "@/layouts/MainBlock";
import BaseFilters from "@/components/Base/BaseFilters";
import PeriodViewerList from "@/_modules/performance/components/PeriodViewer/PeriodViewerData";
import Period from "@/_modules/performance/models/Period";
import BasePageHeader from "@/components/Base/BasePageHeader";

export default {
  name: "PeriodViewer",
  components: {BasePageHeader, PeriodViewerList, BaseFilters, MainBlock},
  data() {
    return {
      filters: {},
      period: new Period()
    }
  },
  mounted() {
    const id = this.$route.params.id
    const period = this.$store.getters['performance/periods/getById'](id)

    if (!period) {
      return this.$router.push({name: 'PeriodList'})
    }

    this.period = period
  },
}
</script>

<style scoped>

</style>