<template>
  <base-input-numeric
      v-model="days"
      :min="-100" :max="100"
  />
</template>

<script>
import BaseInputNumeric from "@/components/Base/Form/BaseInputNumeric";
export default {
  name: "DashboardAddDaysNum",
  components: {BaseInputNumeric},
  props: {
    value: {
      type: [Number, String]
    }
  },
  computed: {
    days: {
      get() { return this.value},
      set(val) { this.$emit('input', val)}
    }
  },
}
</script>

<style scoped>

</style>