<template>
  <dashboard-editable-cell-value v-if="disabled"  :value="value" />
  <div v-else class="full-width fill-height d-flex flex-column justify-center relative">
    <v-edit-dialog
        ref="editDialog"
        save-text="Сохранить"
        cancel-text="Отмена"
        persistent
    >
      <template v-slot:default>
        <dashboard-editable-cell-value :value="value" />
      </template>
      <template v-slot:input>
        <div class="min-w-300px">
          <div class="text-h6">
            Дней
          </div>
          <v-btn icon class="absolute-top-right ma-1" small @click="close">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </div>
        <v-form v-model="valid" class="mt-2 mb-2" @submit.prevent="save">
          <slot />
          <div class="d-flex justify-end">
            <v-btn text v-text="'Сохранить'" color="success" type="submit" :disabled="!valid" />
          </div>
        </v-form>
      </template>
    </v-edit-dialog>
    <div class="absolute-top-right ma-1 mt-0 pointer-events-none">
      <v-icon small color="blue-grey lighten-3">mdi-pencil</v-icon>
    </div>
  </div>
</template>

<script>
import BaseInputNumeric from "@/components/Base/Form/BaseInputNumeric";
import BaseBtnSubmit from "@/components/Base/Buttons/BaseBtnSubmit";
import DashboardEditableCellValue from "@/_modules/planner/components/PlannerDashboard/DashboardEditableCellValue";

export default {
  name: "DashboardEditableCell",
  components: {DashboardEditableCellValue, BaseBtnSubmit, BaseInputNumeric},
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    value: {
      type: Number,
      required: true
    },
  },
  data() {
    return {
      valid: false,
    }
  },
  methods: {
    async save() {
      this.$emit('save')
      this.close()
    },
    close() {
      this.$refs.editDialog.cancel()
      this.$emit('close')
    }
  }
}
</script>

<style scoped>

</style>