<template>
    <v-textarea
        ref="input"
        class="mt-1"
        v-model="comment"
        :rows="rows"
        auto-grow
        no-resize
        hide-details
        dense
        :rules="rules"
        label=""
        placeholder="Например: Начисление за 2024 год."
        outlined
        persistent-placeholder
    >
      <template v-slot:label>
        <span class="mr-1 error--text">*</span>Укажите причину
      </template>
    </v-textarea>
</template>

<script>
import BaseInputNumeric from "@/components/Base/Form/BaseInputNumeric";
import validations from "@/plugins/validations";
export default {
  name: "DashboardAddDaysComment",
  components: {BaseInputNumeric},
  props: {
    value: {
      type: String
    },
    rows: {
      type: [String, Number],
      default: 2
    }
  },
  data() {
    return {
      rules: [validations.req]
    }
  },
  computed: {
    comment: {
      get() { return this.value},
      set(val) { this.$emit('input', val)}
    }
  },
  methods: {
    reset() {
      this.$refs.input.reset()
    }
  }
}
</script>

<style scoped>

</style>