<template>
  <base-sheet>
    <v-data-table
        :items="users"
        :custom-filter="CUSTOM_FILTER"
        :search="JSON.stringify(filters)"
        item-key="id"
        :headers="$options.headers"
        :group-by.sync="groupBy"
        dense
        selectable-key="id"
    >
      <template v-slot:top>
        <base-toolbar>
          <base-grouping-tool :groups="groups" v-model="groupBy"/>
        </base-toolbar>
      </template>
      <template v-slot:group.header="data">
        <base-table-group-header :groups="groups" :data="data"/>
      </template>
      <template v-slot:item.displayName="{item}">
        <base-employee-info :user="item" simple/>
      </template>
      <template v-slot:item.planner.additional="{item}">
        <dashboard-user-additional :user="item" />
      </template>
      <template v-slot:item.planner.rest="{item}">
        <dashboard-user-rest :user="item" />
      </template>
    </v-data-table>
  </base-sheet>
</template>

<script>
import BaseTableGroupHeader from "@/components/Base/BaseTableGroupHeader";
import BaseSheet from "@/components/Base/BaseSheet";
import {mapGetters} from "vuex";
import {CUSTOM_FILTER} from "@/mixins";
import BaseToolbar from "@/components/Base/BaseToolbar";
import BaseGroupingTool from "@/components/Base/BaseGroupingTool";
import defaultUserGroupList from "@/helper/defaultUserGroupingItems";
import DashboardUserListHeaders from "@/_modules/planner/components/PlannerDashboard/DashboardUserListHeaders";
import BaseEmployeeInfo from "@/components/Base/Employee/BaseEmployeeInfo";
import DashboardUserActions from "@/_modules/planner/components/PlannerDashboard/DashboardUserActions";
import DashboardCellNum from "@/_modules/planner/components/PlannerDashboard/DashboardEditableCell";
import DashboardUserAdditional from "@/_modules/planner/components/PlannerDashboard/DashboardUserAdditional";
import DashboardUserRest from "@/_modules/planner/components/PlannerDashboard/DashboardUserRest";

export default {
  name: "DashboardUserList",
  components: {
    DashboardUserRest,
    DashboardUserAdditional,
    DashboardCellNum,
    DashboardUserActions,
    BaseEmployeeInfo,
    BaseGroupingTool,
    BaseToolbar,
    BaseSheet,
    BaseTableGroupHeader
  },
  mixins: [CUSTOM_FILTER],
  headers: DashboardUserListHeaders,
  props: {
    filters: {},
    editMode: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      groupBy: null
    }
  },
  computed: {
    ...mapGetters('users', {'users': 'get'}),
    groups() {
      return [...defaultUserGroupList].splice(1, 2)
    }
  }
}
</script>

<style scoped>

</style>