<template functional>
  <span
      class="font-weight-bold text-subtitle-1 error--text"
      :class="{
        'text--secondary': props.value >= 0,
       }"
  >
    {{ props.value }}
  </span>
</template>

<script>
export default {
  name: "DashboardEditableCellValue",
}
</script>
