<template>
  <base-actions
    :actions="actions"
    @click="onClick"
  />
</template>

<script>
import BaseActions from "@/components/Base/BaseActions";
import IAction from "@/helper/interfaces/IAction";
export default {
  name: "DashboardUserActions",
  components: {BaseActions},
  props: {
    userId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      actions: [
        new IAction('edit', 'Настроить', 'mdi-pencil', 'secondary', {menuItem: false}),
      ]
    }
  },
  inject: ['askDashboard'],
  methods: {
    onClick(key) {
      this.askDashboard(key, {id: this.userId})
    }
  }
}
</script>

<style scoped>

</style>