<template>
  <dashboard-editable-cell
      :disabled="!$can('manage', 'Service')"
      :value="user.planner.additional"
      @save="save"
  >
    <dashboard-add-days-num v-model="days" />
  </dashboard-editable-cell>
</template>

<script>
import User from "@/models/User";
import Manage from "@/_modules/planner/models/Manage";
import DashboardEditableCell from "@/_modules/planner/components/PlannerDashboard/DashboardEditableCell";
import DashboardAddDaysNum from "@/_modules/planner/components/PlannerDashboard/DashboardAddDaysNum";

export default {
  name: "DashboardUserAdditional",
  components: {DashboardAddDaysNum, DashboardEditableCell},
  props: {
    user: {
      type: User,
      required: true
    }
  },
  data() {
    return {
      days: 0
    }
  },
  mounted() {
    this.days = this.user.planner.additional
  },
  methods: {
    save() {
      if (this.user.planner.additional !== this.days) {
        Manage.setAdditionalDays(this.user.id, this.days)
      }
    },
  }
}
</script>

<style scoped>

</style>