<template>
  <dashboard-editable-cell
      :disabled="!$can('manage', 'Service')"
      :value="user.planner.rest"
      @save="save"
      @close="reset"
  >
    <dashboard-add-days-num v-model="days" />
    <dashboard-add-days-comment ref="inputComment" v-model="comment" />
  </dashboard-editable-cell>
</template>

<script>
import User from "@/models/User";
import Manage from "@/_modules/planner/models/Manage";
import DashboardEditableCell from "@/_modules/planner/components/PlannerDashboard/DashboardEditableCell";
import DashboardAddDaysNum from "@/_modules/planner/components/PlannerDashboard/DashboardAddDaysNum";
import DashboardAddDaysComment from "@/_modules/planner/components/PlannerDashboard/DashboardAddDaysComment";

export default {
  name: "DashboardUserRest",
  components: {DashboardAddDaysComment, DashboardAddDaysNum, DashboardEditableCell},
  props: {
    user: {
      type: User,
      required: true
    }
  },
  data() {
    return {
      days: 0,
      comment: ""
    }
  },
  mounted() {
    this.days = this.user.planner.rest
  },
  methods: {
    save() {
      if (this.user.planner.rest !== this.days) {
        Manage.setRestDays(this.user.id, this.days, this.comment)
      }
    },
    reset() {
      this.$refs.inputComment.reset()
    }
  }
}
</script>

<style scoped>

</style>