<template>
  <div class="d-flex flex-column gap-1">
    <v-btn v-if="$can('manage', 'Service')" color="info" text outlined block @click="onClick('add')">
      Добавить дни
    </v-btn>
    <div class="text-subtitle-2 mt-2">Отчёты</div>
    <div class="d-flex flex-wrap gap-1">
      <icon-btn-with-tip
          v-for="action in actions"
          :key="action.key"
          outlined
          :color="action.color"
          tile
          large
          :icon="action.icon"
          min-width="4em"
          btn-class="flex-grow-1"
          @click="onClick(action.key)"
      >
        {{action.text}}
      </icon-btn-with-tip>
    </div>
  </div>
</template>

<script>
import IAction from "@/helper/interfaces/IAction";
import IconBtnWithTip from "@/components/IconBtnWithTip";
import Manage from "@/_modules/planner/models/Manage";
export default {
  name: "DashboardSidePanel",
  components: {IconBtnWithTip},
  data() {
    return {
      actions: [
        new IAction('report-period', 'За период', 'mdi-calendar-month', 'info'),
        new IAction('report-user', 'По сотруднику', 'mdi-account', 'info'),
        new IAction('report-org', 'По организации', 'mdi-domain', 'info'),
      ]
    }
  },
  inject: ['askDashboard'],
  methods: {
    onClick(action) {
      if (action === this.actions[2].key) {
        Manage.orgReport()
        return
      }
      this.askDashboard(action)
    }
  }
}
</script>

<style scoped>

</style>