<template>
  <div class="overflow-hidden contact-block">
    <small class="text-no-wrap contact-block" :class="{'rotate-90': !expanded}">© Demonstr66</small>
  </div>
</template>

<script>
export default {
  name: "AppContactInfo",
  props: {
    expanded: {
      type: Boolean,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>

</style>