<template>
  <v-app-bar
      absolute app clipped-left dense flat elevation="4"
      style="position: fixed; z-index: 10"
  >
    <v-app-bar-nav-icon class="ml-4" @click="$emit('expand')"></v-app-bar-nav-icon>

    <v-app-bar-title v-if="$vuetify.breakpoint.smAndUp">{{ appName }}{{$options.DEBUG ? ": " + $vuetify.breakpoint.name : ''}}</v-app-bar-title>
    <v-app-bar-title v-else>{{ title }}</v-app-bar-title>

<!--    <div class="ml-10">-->
<!--      <user-account-role v-model="roles" disabled simple />-->
<!--    </div>-->

    <v-spacer></v-spacer>

    <div class="nav-bar__tools">
      <app-header-btn
          v-for="(item, index) in menu"
          :key="index"
          :icon="item.icon"
          :color="item.color"
          :text="item.title"
          @click="onMenuItemClick(item.action)"
      />
    </div>
  </v-app-bar>
</template>

<script>
import authService from "@/services/AuthService";
import AppHeaderBtn from "@/components/layout/AppHeaderBtn";
import UserAccountRole from "@/components/User/UserAccountRole";

export default {
  name: 'AppHeader',
  components: {UserAccountRole, AppHeaderBtn},
  DEBUG: process.env.VUE_APP_DEBUG,
  props: {
    title: String,
  },
  data() {
    return {
    menu: [
      // {title: "", action: "onAccount", icon: "mdi-bell-outline"},
      // {title: "Аккаунт", action: "onAccount", icon: "mdi-account-circle"},
      {title: "Настройки", action: "onAccount", icon: "mdi-cog-outline"},
      {title: "Выход", action: "onLogout", icon: "mdi-power-standby", color: "error"},
    ],
    }
  },
  computed: {
    roles() {
      return this.$store.getters['currentUser/get'].roles
    },
    appName() {
      return this.$store.getters['app/getAppName']
    }
  },
  methods: {
    onMenuItemClick(action) {
      if (!this[action]) {
        return;
      }

      this[action]();
    },
    async onLogout() {
      authService.logout()
    },
    onAccount() {
      if (this.$route.name === 'SettingProfile') {
        return
      }
      this.$router.push({name: 'SettingProfile'});
    },
  },
};
</script>
<style lang="scss">
.nav-bar__tools {
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
</style>