<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on, attrs }">
      <v-btn icon tile :color="color" v-bind="attrs" v-on="on" @click="$emit('click')">
        <v-icon>{{ icon }}</v-icon>
      </v-btn>
    </template>
    <span>{{text}}</span>
  </v-tooltip>
</template>

<script>
export default {
  name: "AppHeaderBtn",
  props: {
    icon: {
      type: String
    },
    text: {
      type: String
    },
    color: {
      type: String
    }
  }
}
</script>

<style scoped>

</style>