<template>
  <v-overlay color="info">
    <v-progress-circular color="primary" indeterminate size="50" width="6">
    </v-progress-circular>
  </v-overlay>
</template>

<script>
export default {
  name: "AppLoader"
}
</script>