<template>
  <v-navigation-drawer
      app
      clipped
      v-model="isExpand"
      :mini-variant="!isExpand"
      :permanent="!isMobile"
      :floating="!isMobile"

      width="220"
      mini-variant-width="80"

      :class="{'ml-4 mt-6 rounded-lg elevation-2': !isMobile}"
      :style="style"
  >
    <template v-slot:default>
      <v-list dense nav class="side-navigation">
        <template
            v-for="(item, idx) in links"
        >
          <template
              v-if="item.children && item.children.length"
          >
            <app-navigation-header-group :header="item.header" />
            <app-navigation-item
                v-for="(subLink, subIdx) in item.children"
                :key="idx + '_' + subIdx"
                :link="subLink"
                :tooltip-disabled="isExpand"
            />
          </template>
          <app-navigation-item v-else :link="item" :key="idx" :tooltip-disabled="isExpand"/>
        </template>
      </v-list>
    </template>
    <template v-slot:append>
      <app-contact-info :expanded="isExpand"/>
    </template>
  </v-navigation-drawer>
</template>

<script>
import {plannerLinks} from "@/_modules/planner";
import {performanceLinks} from '@/_modules/performance'
import AppContactInfo from "@/components/layout/AppContactInfo";
import AppNavigationItem from "@/components/layout/AppNavigationItem";
import AppNavigationHeaderGroup from "@/components/layout/AppNavigationHeaderGroup";

export default {
  name: "AppNavigation",
  components: {AppNavigationHeaderGroup, AppNavigationItem, AppContactInfo},
  props: {
    value: {
      type: Boolean,
    },
    loading: {
      type: Boolean,
      default: false
    },
    isMobile: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      links: [
        {to: '/', icon: 'mdi-home', title: 'На главную'},
        {to: {name: 'Organization'}, icon: 'mdi-domain', title: 'Организация'},
        plannerLinks,
        // performanceLinks,
      ]
    }
  },
  computed: {
    isExpand: {
      get: function () {return this.value},
      set: function (val) {
        if (!this.isMobile) return
        this.$emit('input', val)
      },
    },
    style() {
      const headerH = 48
      const topPad = 24
      const sumPad = headerH + topPad * 2

      const h = this.isMobile ? '100%' : `calc(100% - ${sumPad}px)`
      return `height: ${h}; z-index: 100;`
    }
  }
};
</script>

