<template>
  <v-tooltip right color="blue-grey darken-2" :disabled="tooltipDisabled">
    <template v-slot:activator="{ on, attrs }">
      <v-list-item
      :to="link.to"
      link
      @click="deleteContext"
      v-on="on"
      v-bind="attrs"
  >
    <v-list-item-icon v-if="link.icon">
      <v-icon color="blue-grey darken-1">
        {{ link.icon }}
      </v-icon>
    </v-list-item-icon>
    <v-list-item-title class="d-flex align-center justify-space-between">
      {{ link.title }}
    </v-list-item-title>
  </v-list-item>
    </template>
    <template v-slot:default>
      {{link.title}}
    </template>
  </v-tooltip>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
export default {
  name: "AppNavigationItem",
  components: {BaseSheet},
  props: {
    link: {
      type: Object,
      required: true,
      validator: (value) => {
        return value.to && value.title
      }
    },
    tooltipDisabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    deleteContext() {
      this.$store.commit("breadcrumbs/clear")
    }
  }
}
</script>

<style scoped>

</style>