<template>
  <div class="link-group-header">
    <v-divider class="link-group-header__divider" />
    <span class="text-subtitle-2 blue-grey--text text--darken-4 link-group-header__text">
      {{header}}
    </span>
  </div>
</template>

<script>
export default {
  name: "AppNavigationHeaderGroup",
  props: {
    header: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>

</style>