<template>
  <base-select
      v-bind="$attrs"
      v-model="selection"
      :items="days"
      multiple
      label="Получать уведомления"
      icon="mdi-bell"
  >
    <template v-slot:selection="{item}">
      <v-chip
          label
          small
          color="blue-grey lighten-4"
      >
        <span class="black--text">за {{ item.text }}</span>
      </v-chip>
    </template>
  </base-select>
</template>

<script>
import BaseSelect from "@/components/Base/Form/BaseSelect";
export default {
  name: "SettingEmailNotify",
  components: {BaseSelect},
  props: {
    value: {}
  },
  computed: {
    selection: {
      get() {return this.value},
      set(val) {this.$emit('input', val)}
    },
    days() {
      let days = []
      for (let i = 1; i <= 30; i++) {
        days.push({value: i, text: i + ' ' + this.getNoun(i, 'день', 'дня', 'дней')})
      }
      return days
    },
  },
  methods: {
    getNoun(number, one, two, five) {
      let n = Math.abs(number);
      n %= 100;
      if (n >= 5 && n <= 20) {
        return five;
      }
      n %= 10;
      if (n === 1) {
        return one;
      }
      if (n >= 2 && n <= 4) {
        return two;
      }
      return five;
    }
  }
}
</script>

<style scoped>

</style>