<template>
  <setting-block
      title="Уведомление о приближении"
  >
    <setting-row
        label="Когда"
        description="За сколько дней до начала отпуска присылать уведомления"
    >
      <base-select
          v-model="selectedDays"
          :items="days"
          multiple
          label="Получать уведомления"
          icon="mdi-bell"
      >
        <template v-slot:selection="{item}">
          <v-chip
              label
              small
              color="blue-grey lighten-4"
          >
            <span class="black--text">за {{ item.text }}</span>
          </v-chip>
        </template>
      </base-select>
    </setting-row>
    <setting-row description="" label="Автоматически добавлять в копию">
      <v-checkbox dense label="Все руководители" hide-details>
        <template v-slot:prepend>
          <base-input-icon>mdi-account-tie</base-input-icon>
        </template>
      </v-checkbox>
      <div class="text-caption font-italic ml-10">
        Если не выбрано, то в этом слуае в копии будет находится только непосредсвенный руководитель сотрудника
      </div>
    </setting-row>
    <setting-row description="" label="Всегда ставить в копию">
      <v-combobox
          v-model="selectedEmails"
          :items="emails"
          :delimiters="[';', ',']"
          :rules="[checkAllIsEmail]"
          single-line
          outlined
          dense
          hide-details
          label="Выберите или введите email"
          multiple
          class="emails-input"
      >
        <template v-slot:prepend>
          <base-input-icon>mdi-email</base-input-icon>
        </template>
        <template v-slot:selection="{item}">
          <v-chip label color="blue-grey lighten-4" class="ma-0">
            <span class="black--text">{{ item }}</span>
          </v-chip>
        </template>
      </v-combobox>
      <span class="text-caption font-italic ml-10">
        Если нужной почты нет в списке введите её вручную и нажмите ввод
      </span>
    </setting-row>
  </setting-block>
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import BaseBtnSubmit from "@/components/Base/Buttons/BaseBtnSubmit";
import SettingBlock from "@/components/Settings/SettingBlock";
import validations from "@/plugins/validations";
import {MessageService} from "@/services/MessageService";
import BaseInputIcon from "@/components/Base/Form/BaseInputIcon";

export default {
  name: "SettingPlannerNotification",
  components: {BaseInputIcon, SettingBlock, BaseBtnSubmit, BaseSelect, SettingRow},

  data() {
    return {
      selectedDays: [],
      selectedEmails: null
    }
  },
  computed: {
    days() {
      let days = []
      for (let i = 1; i <= 30; i++) {
        days.push({value: i, text: i + ' ' + this.getNoun(i, 'день', 'дня', 'дней')})
      }
      return days
    },
    emails() {
      const users = this.$store.getters['users/get']
      return users.map(user => user.email)
    }
  },
  methods: {
    checkAllIsEmail(emails) {
      if (!emails || !emails.length) return true
      const validEmails = emails.filter(email => validations.email(email) === true)

      if (emails.length !== validEmails.length) {
        MessageService.errorMessage('Введите корректный email')
        this.selectedEmails = validEmails
        return false
      }

      return true
    },
    getNoun(number, one, two, five) {
      let n = Math.abs(number);
      n %= 100;
      if (n >= 5 && n <= 20) {
        return five;
      }
      n %= 10;
      if (n === 1) {
        return one;
      }
      if (n >= 2 && n <= 4) {
        return two;
      }
      return five;
    }
  }
}
</script>

<style scoped>

</style>