<template>
  <v-checkbox v-bind="$attrs" v-model="selection" dense label="Все руководители" hide-details>
    <template v-slot:prepend>
      <base-input-icon>mdi-closed-caption-outline</base-input-icon>
    </template>
  </v-checkbox>
</template>

<script>
import BaseInputIcon from "@/components/Base/Form/BaseInputIcon";
export default {
  name: "SettingEmailManager",
  components: {BaseInputIcon},
  props: {
    value: {}
  },
  computed: {
    selection: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    },
  }
}
</script>

<style scoped>

</style>