<template>
  <v-combobox
      v-bind="$attrs"
      v-model="selection"
      :items="emails"
      :delimiters="[';', ',']"
      :rules="[checkAllIsEmail]"
      single-line
      outlined
      dense
      hide-details
      label="Выберите или введите email"
      multiple
      class="emails-input"
  >
    <template v-slot:prepend>
      <base-input-icon>mdi-closed-caption-outline</base-input-icon>
    </template>
    <template v-slot:selection="{item}">
      <v-chip label small color="blue-grey lighten-4" class="ma-0">
        <span class="black--text">{{ item }}</span>
      </v-chip>
    </template>
  </v-combobox>
</template>

<script>
import BaseInputIcon from "@/components/Base/Form/BaseInputIcon";
import validations from "@/plugins/validations";
import {MessageService} from "@/services/MessageService";

export default {
  name: "SettingEmailCc",
  components: {BaseInputIcon},
  props: {
    value: {}
  },
  computed: {
    selection: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    },
    emails() {
      const users = this.$store.getters['users/get']
      return users.map(user => user.email)
    }
  },
  methods: {
    checkAllIsEmail(emails) {
      if (!emails || !emails.length) {
        return true
      }
      const validEmails = emails.filter(email => validations.email(email) === true)

      if (emails.length !== validEmails.length) {
        MessageService.errorMessage('Введите корректный email')
        this.selection = validEmails
        return false
      }

      return true
    }
  },
}
</script>

<style scoped>

</style>