<template>
  <base-sheet class="blank-preview" flat outlined  style="border-color: rgba(0, 0, 0, 0.12) !important;">
      <div v-if="file.id" class="d-flex gap-1 fill-height align-center">
        <v-hover v-slot="{ hover }">
          <div class="blank-preview__icon relative pa-1 min-w-60px fill-height">
<!--            <v-fade-transition origin="center center 0">-->
<!--              <v-overlay v-if="hover" color="red lighten-4" opacity=".8" absolute class="rounded cursor-pointer">-->
<!--                <v-icon color="blue-grey darken-4" large>mdi-trash-can</v-icon>-->
<!--              </v-overlay>-->
<!--            </v-fade-transition>-->
            <v-img
                aspect-ratio="1"
                src="@/_modules/planner/assets/docx-icon.svg"
                alt="Файл загружен"
                width="50px"
                height="50px"
            />
          </div>
        </v-hover>
        <div class="blank-preview__meta flex-grow-1 mr-2">
          <div v-for="{key, value} in meta" :key="key" class="d-flex align-baseline">
            <span class="blank-preview__meta-key">{{ key }}:</span>
            <span class="blank-preview__meta-spacer flex-grow-1" />
            <span class="blank-preview__meta-value">{{value}}</span>
          </div>
        </div>
      </div>
      <div v-else class="fill-height d-flex justify-center align-center">
        <base-data-empty-label text="Файл ещё не загружен" flat />
      </div>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import BaseDataEmptyLabel from "@/components/Base/Labels/BaseDataEmptyLabel";

export default {
  name: "SettingPlannerBlankPreview",
  components: {BaseDataEmptyLabel, BaseSheet},
  props: {
    file: {
      type: Object,
      required: true
    }
  },
  computed: {
    meta() {
      if (!this.file) return []
      const at = new Date(this.file.meta.createdAt).toText()
      const userName = this.$store.getters['users/getDisplayNameByID'](this.file.meta.createdBy)

      return [
        {key: "Имя", value: this.file.original},
        {key: "Загружен", value: at},
        {key: "Кем", value: userName},
      ]
    }
  },
}
</script>

<style lang="scss">

</style>