<template>
  <div class="d-flex align-start">
    <base-input-icon class="min-w-36px">mdi-email</base-input-icon>
    <div class="outlined rounded full-width pa-2" v-html="body" v-if="disabled" style="min-height: 250px; border-style: dashed !important;" />
    <rich-text-editor
        v-else
        v-model="body"
        :height="201"
        :buttons-display="{linkButton: false, imageButton: false, cancel: false, valid: false}"
        cancel-text="Отмена"
        valid-text="ОК"
        class="flex-grow-1 elevation-2 border-radius-1 overflow-hidden"
    />
  </div>
</template>

<script>
import BaseInputIcon from "@/components/Base/Form/BaseInputIcon";
export default {
  name: "SettingEmailBody",
  components: {BaseInputIcon},
  props: {
    value: {},
    disabled: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    body: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    },
  }
}
</script>

<style scoped>

</style>