<template>
  <setting-block title="Шаблон заявления" no-action>
    <setting-row
      description="
      На основании шаблона будут генерироваться заявления сотрудников,
      для подстановки данных используйте ключевые слова.
      Файл должен быть в формате docx."
      label="Заявление"
    >
      <div class="d-flex flex-row gap-1 ml-9">
        <setting-planner-blank-preview :file="blank" />
        <div class="d-flex flex-column gap-1 justify-space-between">
          <v-btn
              v-for="action in actions"
              :key="action.key"
              :color="action.color"
              class="flex-grow-1 justify-start"
              :disabled="action.disabled"
              outlined
              text
              small
              @click="onClick(action.key)"
          >
            <v-icon :color="action.color">{{action.icon}}</v-icon>
            <span class="font-weight-medium" v-if="$vuetify.breakpoint.lgAndUp">{{action.text}}</span>
          </v-btn>
        </div>
      </div>
      <ask-upload-blank ref="ask-upload-blank" />
    </setting-row>
  </setting-block>
</template>

<script>
import SettingPlannerBlankPreview from "@/_modules/planner/components/Settings/SettingPlannerBlankPreview";
import SettingRow from "@/components/Settings/SettingRow";
import SettingBlock from "@/components/Settings/SettingBlock";
import BaseSheet from "@/components/Base/BaseSheet";
import AskUploadBlank from "@/_modules/planner/components/Ask/AskUploadBlank";
import IAction from "@/helper/interfaces/IAction";
import {Planner} from "@/_modules/planner/models/Planner";
import {mapGetters} from "vuex";

export default {
  name: "SettingPlannerBlank",
  components: {AskUploadBlank, BaseSheet, SettingBlock, SettingRow, SettingPlannerBlankPreview},
  data() {
    return {
      actions: [
        new IAction("upload", "Загрузить", "mdi-upload", "warning", {
          disabled: !this.$can('manage', 'Service')
        }),
        new IAction("download:origin", "Скачать", "mdi-download", "info"),
        new IAction("download:example", "Пример", "mdi-file-download", "info"),
      ]
    }
  },
  computed: {
    ...mapGetters('planner/blank', {'blank': 'get'})
  },
  methods: {
    onClick(action) {
      switch (action) {
        case 'upload': this.onUpload(); break;
        case 'download:origin': Planner.downloadBlank(); break;
        case 'download:example': Planner.downloadExample(); break;
      }
    },
    async onUpload() {
      this.$refs["ask-upload-blank"].open()
    }
  }
}
</script>

<style scoped>
</style>