<template>
  <base-input
      v-bind="$attrs"
      v-model="subject"
      icon="mdi-format-title"
      label="Тема письма"
      hide-details
  />
</template>

<script>
import BaseInput from "@/components/Base/Form/BaseInput";
export default {
  name: "SettingEmailSubject",
  components: {BaseInput},
  props: {
    value: {}
  },
  computed: {
    subject: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    },
  }
}
</script>

<style scoped>

</style>