<template>
  <setting-block :title="name" expanding :no-action="!editMode" @submit="onSave">
    <template v-slot:actions>
      <icon-btn-with-tip
          v-if="$can('manage', 'Service')"
          small
          icon="mdi-pencil"
          color="info"
          @click="editMode = !editMode"
      >
        Редактировтаь
      </icon-btn-with-tip>
    </template>
    <template v-slot:default="{isCollapse}">
      <setting-row key="notify" description="" label="Когда">
        <setting-email-notify v-model="data.when" :disabled="!editMode"/>
      </setting-row>
      <setting-row key="subject" description="" label="Тема">
        <setting-email-subject v-model="data.subject" :disabled="!editMode"/>
      </setting-row>
      <setting-row v-if="!isCollapse" key="manager" description="Если не выбрано, то в копии будет только непосредсвенный руководитель" label="Копия: руководители">
        <setting-email-manager v-model="data.addManagers" :disabled="!editMode"/>
      </setting-row>
      <setting-row v-if="!isCollapse" key="cc" description="Если нужной почты нет в списке введите её вручную и нажмите ввод" label="Копия: дополнительно">
        <setting-email-cc v-model="data.addCC" :disabled="!editMode"/>
      </setting-row>
      <setting-row v-if="!isCollapse" key="body" description="" label="Письмо">
        <setting-email-body v-model="data.body" :disabled="!editMode"/>
      </setting-row>
    </template>
  </setting-block>
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import SettingEmailNotify from "@/_modules/planner/components/Settings/SettingEmailNotify";
import SettingEmailManager from "@/_modules/planner/components/Settings/SettingEmailManager";
import SettingEmailCc from "@/_modules/planner/components/Settings/SettingEmailCc";
import SettingEmailSubject from "@/_modules/planner/components/Settings/SettingEmailSubject";
import SettingEmailBody from "@/_modules/planner/components/Settings/SettingEmailBody";
import SettingBlock from "@/components/Settings/SettingBlock";
import IconBtnWithTip from "@/components/IconBtnWithTip";
import PlannerEmail from "@/_modules/planner/models/PlannerEmail";
import Tools from "@/plugins/Tools";
export default {
  name: "SettingEmail",
  components: {
    IconBtnWithTip,
    SettingBlock,
    SettingEmailBody,
    SettingEmailSubject,
    SettingEmailCc,
    SettingEmailManager,
    SettingEmailNotify,
    BaseSelect,
    SettingRow
  },
  props: {
    name: {
      type: String,
      required: true
    },
    email: {
      type: PlannerEmail,
      required: true
    }
  },
  data() {
    return {
      editMode: false,
      data: new PlannerEmail({})
    }
  },
  mounted() {
    this.data = Tools.copyObject(this.email)
  },
  methods: {
    async onSave() {
      this.email.when = this.data.when
      this.email.name = this.data.name
      this.email.subject = this.data.subject
      this.email.addManagers = this.data.addManagers
      this.email.addCC = this.data.addCC
      this.email.body = this.data.body

      await this.email.save()
      this.editMode = false
    }
  },
  watch: {
    editMode(val) {
      if (!val) {
        this.data = Tools.copyObject(this.email)
      }
    }
  }
}
</script>

<style scoped>

</style>