<template>
  <app-status-chip :status="$options.STATUSES[status]"/>
</template>

<script>
import AppStatusChip from "@/components/Base/BaseStatusChip";
import Schedule from "@/_modules/planner/models/Schedule";
export default {
  name: "ScheduleStatusChip",
  components: {AppStatusChip},
  STATUSES: Schedule.STATUSES_DATA,
  props: {
    status: {
      type: [String, Number],
      required: true
    }
  }
}
</script>

<style scoped>

</style>