<template>
<!--  <div class="d-flex flex-column justify-center">-->
<!--    <span class="text-h5 ml-1 text-no-wrap fit-content" v-if="title" :title="title">{{ title }}</span>-->
<!--    <span class="text-subtitle-1 ml-1 text&#45;&#45;secondary" v-if="subTitle">{{subTitle}}</span>-->
<!--&lt;!&ndash;    <div&ndash;&gt;-->
<!--&lt;!&ndash;        :class="status.class"&ndash;&gt;-->
<!--&lt;!&ndash;        class="caption ml-1 mt-1 text-no-wrap"&ndash;&gt;-->
<!--&lt;!&ndash;        v-text="status.text"&ndash;&gt;-->
<!--&lt;!&ndash;    />&ndash;&gt;-->
<!--  </div>-->
</template>

<script>
export default {
  name: "ScheduleHeader",
  props: {
    title: {
      type: String,
      required: true
    },
    subTitle: {
      type: String,
      default: ""
    },
    editable: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    status() {
      return {
        class: !this.editable ? 'error--text' : 'info--text',
        text: !this.editable ? 'Редактирование не доступно' : 'Доступно для редактирования'
      }
    },
  },
}
</script>

<style scoped>

</style>