<template>
  <base-data-empty-label
      v-if="!activeSchedules || !activeSchedules.length"
      text="Нет активных графиков"
  />
  <ul v-else class="pa-0 d-grid grid-cols-md gap-1">
    <user-schedule-card
        v-for="item in activeSchedules"
        :key="item.id"
        :schedule="item"
        :user-id="userId"
    />
  </ul>
</template>


<script>
import Schedule from "@/_modules/planner/models/Schedule";
import BaseDataEmptyLabel from "@/components/Base/Labels/BaseDataEmptyLabel";
import UserScheduleCard from "@/_modules/planner/components/UserScheduleCard";

export default {
  name: 'UserSchedulesList',
  STATUSES: Schedule.STATUSES,
  props: {
    userId: {
      type: String,
      required: true
    }
  },
  components: {
    UserScheduleCard,
    BaseDataEmptyLabel,
  },
  computed: {
    schedules() {
      return this.$store.getters['planner/schedules/get']
    },
    activeSchedules() {
      return this.schedules.filter(schedule => !schedule.isDraft)
    },
  },
};
</script>
<style lang="scss" scoped>
</style>