<template>
  <base-card tag="li">
    <template v-slot:header>
      <span class="title" v-html="schedule.title" />
<!--      <schedule-status-chip :status="schedule.status" />-->
    </template>
    <template v-slot:content>
      <div
          v-for="(field, index) in fields"
          :key="index"
          class="user-schedule__stat-row"
      >
        <span class="pa-0">{{ field.title }}:</span>
        <v-spacer class="user-schedule__spacer"/>
        <span class="user-schedule__value subtitle-1">
            {{ field.dataHandler(schedule.id) }}
          </span>
      </div>
    </template>
    <template v-slot:action>
      <v-btn
          block
          color="primary"
          text
          outlined
          tag="a"
          :to="{name: 'UserVacationsView', params: {uid: userId, id: schedule.id}}"
      >
        <v-icon small class="mr-2">mdi-open-in-new</v-icon>
        открыть
      </v-btn>
    </template>
  </base-card>
</template>

<script>
import ScheduleStatusChip from "@/_modules/planner/components/ScheduleStatusChip";
import Schedule from "@/_modules/planner/models/Schedule";
import Vacation from "@/_modules/planner/models/Vacation";
import BaseCard from "@/components/Base/BaseCard";

export default {
  name: "UserScheduleCard",
  components: {BaseCard, ScheduleStatusChip},
  props: {
    schedule: {
      type: Schedule,
      required: true
    },
    userId: {
      type: String,
      required: true
    }
  },
  computed: {
    vacations() {
      return this.$store.getters['planner/vacations/getByScheduleAndUserId'](this.schedule.id, this.userId)
    },
    fields() {
      return [
        {
          title: 'Утверждено',
          dataHandler: () => this.getVacationsCount( Vacation.STATUSES.APPROVED)
        },
        {
          title: 'На рассмотрении',
          dataHandler: () => this.getVacationsCount( Vacation.STATUSES.SENT)
        },
        {
          title: 'Отклонено',
          dataHandler: () => this.getVacationsCount( Vacation.STATUSES.REJECTED)
        },
        {
          title: 'Черновиков',
          dataHandler: () => this.getVacationsCount(Vacation.STATUSES.DRAFT)
        },
      ]
    }
  },
  methods: {
    getVacationsCount( status) {
      return this.vacations.filter(v => v.status === status).length
    },
  },
}
</script>

<style scoped>

</style>