.tl-cell {
  min-width: $cell-width;
  min-height: $cell-height;
  background-color: $cell-bg;
  border: 1px dashed $cell-border-color;
  border-left: none;
  border-top: none;
  text-align: center;

  scroll-snap-align: start;
  //scroll-snap-stop: always;

  &_month {
    &-end {
      border-right-style: solid;
      border-right-width: 2px;
      border-color: $cell-border-color;
    }

    &-start {
      border-left-style: solid;
      border-left-width: 2px;
      border-color: $cell-border-color;
    }
  }

  &_today {
    text-align: center;

    .tl-grid__content > .tl-row:first-child &,
    .tl-grid__content .tl-row:last-child &{
      &::after {
        content: "";
        position: absolute;
        background-color: $today-bg;
        transform: translateX(calc(-50% + 1px));
        pointer-events: none;

        z-index: 3;

        bottom: 0;
        width: $today-border-radius * 2;
        height: $today-border-radius;
        border-radius: $today-border-radius $today-border-radius 0 0;
        //box-shadow: 0 0 0 2px $today-border-color;
      }
    }

    .tl-grid__content .tl-row:first-child &::after {
      top: 0;
      bottom: initial;
      transform: rotate(.5turn) translateX(calc(50% - 1px));
    }

    &::before {
      content: "";
      position: absolute;
      top: 1px;
      height: calc(100% - 1px);
      width: 2px;

      background-image: linear-gradient(180deg, $today-bg, $today-bg 75%, $today-border-color 75%, $today-border-color 100%);
      background-size: 2px 8px;

      background-repeat: repeat-y;

      box-shadow: 0 0 1px 1px $today-border-color;
      z-index: 3;
    }
    pointer-events: none;
  }
}

