.tl-day {
  background-color: $day-header-bg;
  border-bottom-style: solid !important;

  @each $state, $color in $exceptions {
    &_#{$state} {
      color: darken($color, 15%);
      background-color: lighten($color, 30%) !important;
    }
  }
}