.tl-event {
  position: absolute;
  display: block;
  top: 2px;
  left: 2px;
  width: calc(100% - 5px);
  height: calc(100% - 5px);

  padding: $event-gap;
  cursor: pointer;
  z-index: 1;

  border: 1px solid $event-border-color;
  border-radius: $event-border-radius;

  &__draggable {
    padding-right: 1.2em !important;
  }

  &__drag-icon {
    position: absolute !important;
    right: 0;
    top: 50%;
    font-size: 1.5em !important;
    cursor: move;

    transform: translateY(-50%);
  }

  @each $state, $color in $event-colors {
    &_bg_#{$state} {
      background: linear-gradient(45deg, $color, lighten($color, 18%));
    }
  }

  @each $state, $color in $event-colors {
    &_#{$state} {
      background: linear-gradient(45deg, $color, lighten($color, 18%));
      outline: 0 solid rgba($color, 0);
      transition: all .15s ease;

      &:hover,
      &:focus,
      &:focus-visible {
        outline: .6em solid rgba($color, .3);
        transition: all .3s cubic-bezier(.77,.11,.14,2.5);
        //z-index: 20;
      }
    }
  }
}