//.expanded-group {
//  display: contents;
//  transition: display 4s ease-in-out;
//  opacity: 0;
//
//  &.open {
//    opacity: 1;
//  }
//}

//.expand-enter,
//.expand-leave-to {
//  transform: translateX(100px);
//  opacity: 0;
//}
//.expand-enter-active,
//.expand-leave-active {
//  transition: all .4s ease-in-out;
//}
//.expand-enter-to,
//.expand-leave {
//  transform: translateX(0);
//  opacity: 1;
//}
.tl-expand {
  position: relative;
  border: 1px dashed #646464;
  border-left: none;
  border-right: none;


  &_opened {

  }

  &::after {
    content: "";
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-shadow: inset 0px 4px 8px -5px rgba(50, 50, 50, 0.75), inset 0px -4px 8px -5px rgba(50, 50, 50, 0.75);
    background-color: rgba(255, 180, 180, 0.05);
    filter: hue-rotate(232deg);
  }
}