.tl-footer {
  &__cell {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: $footer-bg;
    position: relative !important;
    border-right: 1px solid $cell-border-color;
    border-top: 1px solid darken($cell-border-color, 10%);

    &-content {
      font-weight: bold;
      color: rgb(45, 45, 45);
      z-index: 2;
    }
  }

  &__workload {
    background: currentColor;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}