.tl-grid {
  display: grid;
  position: relative;
  overflow-x: auto;


  scroll-behavior: smooth;
  scroll-snap-type: both mandatory;
  scroll-padding-top: 4.75em;
  scroll-padding-left: 16em;

  &__header {
    top: 0;
    position: sticky;
    z-index: 5;
  }

  &__footer {
    position: sticky !important;
    bottom: 0;
    z-index: 5;
  }

  &__content {
  }
}