.tl-month {
  position: relative;
  min-height: $month-height;
  background-color: $month-bg;
  border: 2px solid;
  border-left: 1px dashed;
  border-right: 1px dashed;
  border-color: $cell-border-color;
  border-bottom: none;
  text-align: center;



  &_start {
    border-top-left-radius: 4px;
    border-left: 2px solid $cell-border-color;
  }

  &_end {
    border-top-right-radius: 4px;
    border-right: 2px solid $cell-border-color;
  }

  &__title {
    position: sticky;
    left: calc(#{$row-header-width} + #{$month-gap});
    right: $month-gap;
    padding: 0 $month-gap;
  }
}