.tl-row {
  display: grid;
  position: relative;
  grid-template-columns: $row-header-width auto;


  &__header {
    position: sticky;
    left: 0;

    min-width: $row-header-width;
    max-width: $row-header-width;
    background-color: $row-header-bg;

    transition: background-color .1s ease-in-out;
    border: 1px solid $row-header-border-color;
    border-top: none;
    border-right: 1px solid $cell-border-color;

    overflow: hidden;
    z-index: 4;

    &-content {
      width: 100%;
      height: 100%;
    }

    &-root &-content {
      padding-left: 30px;
    }

    &__expand-btn {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    
    &-clickable {
      cursor: pointer;
    }

    &-root {
      font-weight: bolder;
    }

    .tl-grid__header & {
      padding: 0 $unit * 2;
    }
  }

  &__expand-btn {
    .v-btn__content {
      transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    }

    &_opened .v-icon {
      transform: rotate(180deg);
    }
  }

  &__cells {
    display: grid;
    position: relative;
  }

}