$border-color: #c5c5c5;

$row-header-width: 16em;
$row-header-bg: #fff;
$row-header-border-color: lighten($border-color, 13.5%);

$month-height: 1.75em;
$month-bg: #f4f4f4;
$month-gap: 10px;

$day-header-bg: #fafafa;

$footer-bg: #f4f4f4;

$cell-border-color: $border-color;
$cell-bg: white;
$cell-width: 2em;
$cell-height: 3em;

$event-gap: 2px;
$event-border-radius: 3px;
$event-border-color: #757575;

$today-border-radius: 5px;
$today-border-color: white;
$today-bg: #673AC7;


$border-radius: $unit;

@import "grid";
@import "month";
@import "day";
@import "footer";
@import "expand";
@import "row";
@import "cell";
@import "event";

.tl {
  &-view {
    border-radius: $border-radius 0 $border-radius $border-radius;
  }

  &-tools {
    &__btn {
      padding: 2px;

      &:hover {
        background-color: #f4f4f4 !important;
      }
    }

    &__icon {
      font-size: 1.4em !important;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 8px;
  }

  &-content__row {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  &-footer {
    &__rows {
      border-radius: $border-radius;
      border: 1px solid #ccc;
      padding: 0 4px;
    }

    &__slider {
      max-width: 170px
    }
  }
}

