<template>
  <v-row v-if="dep">
    <v-col cols="12">
      <base-sheet>
        <div>
          <span class="text-h6 pl-10">{{dep.title}}</span>
          <template v-if="team">
            <span>:</span>
            <span  class="text-subtitle-1 pl-2">{{team.title}}</span>
          </template>
        </div>
      </base-sheet>
    </v-col>
    <v-col>
      <team-widget-preview :id="id" />
    </v-col>
    <v-col class="d-flex flex-column gap-1">
      <task-widget :dep-id="dep.id" />
      <position-widget :dep-id="dep.id" />
    </v-col>
  </v-row>
  <base-data-empty-label v-else text="Выберите подразделение" />
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import TaskWidget from "@/components/Organization/Structure/TaskWidget/TaskWidget";
import PositionWidget from "@/components/Organization/Structure/PositionWidget/PositionWidget";
import TeamWidgetPreview from "@/components/Organization/Structure/TeamWidget/TeamWidgetPreview";
import {structureMixin} from "@/mixins";
import Team from "@/models/Team";
import BaseDataEmptyLabel from "@/components/Base/Labels/BaseDataEmptyLabel";

export default {
  name: "OrgDepPreview",
  components: {BaseDataEmptyLabel, TeamWidgetPreview, PositionWidget, TaskWidget, BaseSheet},
  mixins: [structureMixin],
  props: {
    id: {
      type: String,
      required: true
    },
  },
  data() {
    return {
      team: ""
    }
  },
  computed: {
    dep() {
      const item = this.structureGetById(this.id)

      if (item instanceof Team) {
        this.team = item
        return this.structureGetById(item.depId)
      }

      this.team = ""
      return item
    }
  }
}
</script>

<style scoped>

</style>