<template>
  <div>
    <div class="d-flex flex-row justify-space-between align-end px-2">
      <div class="title">{{ title }}</div>
      <div>
        <slot/>
      </div>
    </div>
    <v-divider/>
  </div>
</template>

<script>
export default {
  name: "OrgStructureWidgetHeader",
  props: {
    title: {
      type: String,
      default: ""
    }
  }
}
</script>

<style scoped>

</style>