<template>
  <base-sheet>
    <org-structure-widget-header :title="title">
      <base-btn-sort v-if="items && items.length > 0" v-model="sort" />
      <icon-btn-with-tip
          v-if="!noAction"
          icon="mdi-plus-box-outline"
          color="success"
          @click="$emit('create')"
      >
        Создать
      </icon-btn-with-tip>
    </org-structure-widget-header>
    <div class="px-2 pt-2" v-if="items && items.length">
      <slot name="content" :items="sortedItems"/>
    </div>
    <base-data-empty-label flat v-else :text="noDataText" />
  </base-sheet>
</template>

<script>
import IconBtnWithTip from "@/components/IconBtnWithTip";
import BaseSheet from "@/components/Base/BaseSheet";
import OrgStructureWidgetHeader from "@/components/Organization/Structure/OrgStructureWidgetHeader";
import BaseDataEmptyLabel from "@/components/Base/Labels/BaseDataEmptyLabel";
import BaseBtnSort from "@/components/Base/Buttons/BaseBtnSort";

export default {
  name: "OrgStructureWidget",
  components: {
    BaseBtnSort,
    BaseDataEmptyLabel,
    OrgStructureWidgetHeader,
    BaseSheet,
    IconBtnWithTip,
  },
  props: {
    title: String,
    items: {
      type: Array,
      required: true
    },
    noDataText: {
      type: String,
      default: "Данные ещё не добавлены"
    },
    noAction: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      sort: 0
    }
  },
  computed: {
    sortedItems() {
      const {items, sort} = this
      const temp = [...items]
      if (sort === 0) {
        return temp
      }

      return temp.sort(this.compare)
    }
  },
  methods: {
    compare(item1, item2) {
      let a = item1.title.toLowerCase(),
          b = item2.title.toLowerCase()
      return (this.sort === 1 ? a > b : a < b) ? 0 : -1
    }
  },
};
</script>


<style scoped>
</style>