<template>
  <div>
    <v-btn text outlined :color="value ? 'deep-orange' : 'primary'" block @click="toggleMode">
      <v-icon v-if="!value" color="primary">mdi-lock</v-icon>
      <v-icon v-else color="deep-orange">mdi-lock-open-variant</v-icon>
      Редактировать
    </v-btn>
    <v-expand-transition>
      <div v-if="value" class="mt-2">
        <v-btn text outlined block color="success" @click="$emit('save')">
          Сохранить
        </v-btn>
      </div>
    </v-expand-transition>
  </div>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";

export default {
  name: "EditModeToggle",
  components: {BaseSheet},
  props: {
    value: {
      type: Boolean
    }
  },
  methods: {
    toggleMode() {
      this.$emit('input', !this.value)
    }
  }
}
</script>

<style scoped>

</style>