<template>
  <div class="mt-2">
    <div
        v-for="(item, idx) in stats"
        :key="idx"
        class="d-flex align-baseline py-1"
    >
      <span>{{item.text}}</span>
      <v-spacer class="period-details__spacer" />
      <span><b>{{item.value}}</b></span>
    </div>
  </div>
</template>

<script>
import Goal from "@/_modules/performance/models/Goal";

export default {
  name: "GoalsStatistics",
  props: {
    goals: {
      type: Array,
      required: true,
      validator: (arr) => arr.every(item => item instanceof Goal)
    }
  },
  computed: {
    totalProgress() {
      const total = this.goals.reduce((a, b) => a += b.weight / 100 * b.progress, 0)

      return Math.ceil(total) + "%"
    },
    totalCompleted() {
      return this.goals.reduce((a, b) => a += b.completed ? 1 : 0, 0)
    },
    stats() {
      return [
        {text: "Общий прогресс", value: this.totalProgress},
        {text: "Завершено", value: this.totalCompleted},
      ]
    }
  }
}
</script>

<style scoped>

</style>