<template>
  <base-sheet>
    <div class="d-flex flex-column justify-center align-center">
      <span class="mt-6">Цели ещё не добавлены.</span>
      <span class="base-link info--text mt-1 mb-6" @click="$emit('setEditMode')">Создайте прямо сейчас!</span>
    </div>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
export default {
  name: "PeriodUserViewEmpty",
  components: {BaseSheet}
}
</script>

<style scoped>

</style>