<template>
  <base-popup ref="popup" title="Отчёт за период" submit-text="Скачать">
    <base-select
        v-model="id"
        :items="items"
        item-text="title"
        item-value="id"

        label="Выберите период"
        icon="mdi-calendar"
    />
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";
import SettingRow from "@/components/Settings/SettingRow";
import BaseInput from "@/components/Base/Form/BaseInput";
import BaseInputNumeric from "@/components/Base/Form/BaseInputNumeric";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import Manage from "@/_modules/planner/models/Manage";

export default {
  name: "AskDashboardReportPeriod",
  components: {BaseSelect, BaseInputNumeric, BaseInput, SettingRow, BasePopup},
  data() {
    return {
      items: [],
      id: null,
    }
  },
  methods: {
    async open() {
      this.items = this.$store.getters["planner/schedules/get"]

      const res = await this.$refs.popup.open()
      if (res) {
        await Manage.scheduleReport(this.id)
      }

      this.reset()
    },
    reset() {
      this.items = []
      this.id = null
    }
  },
}
</script>

<style scoped>

</style>