<template>
  <base-popup ref="popup" title="Изменение остатка">
    <dashboard-add-days-num v-model="days" />
    <dashboard-add-days-comment ref="inputComment" rows="3" v-model="comment" />
    <div>
      Дни будут добавлены всем сотрудникам организации. Вы так же можете использовать отрицательные числа
    </div>
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";
import SettingRow from "@/components/Settings/SettingRow";
import BaseInput from "@/components/Base/Form/BaseInput";
import BaseInputNumeric from "@/components/Base/Form/BaseInputNumeric";
import DashboardAddDaysNum from "@/_modules/planner/components/PlannerDashboard/DashboardAddDaysNum";
import DashboardAddDaysComment from "@/_modules/planner/components/PlannerDashboard/DashboardAddDaysComment";
import Manage from "@/_modules/planner/models/Manage";

export default {
  name: "AskDashboardAdd",
  components: {DashboardAddDaysComment, DashboardAddDaysNum, BaseInputNumeric, BaseInput, SettingRow, BasePopup},
  data() {
    return {
      comment: "",
      days: 0,
    }
  },
  methods: {
    async open() {
      const res = await this.$refs.popup.open()
      if (res) {
        if (this.days === 0) return

        const users = this.$store.getters['users/getMap']
        const ids = Object.keys(users)
        await Manage.addManyRestDays(ids, this.days, this.comment)
      }

      this.reset()
    },
    reset() {
      this.comment = ""
      this.days = 0
      this.$refs.inputComment.reset()
    }
  }
}
</script>

<style scoped>

</style>