<template>
  <base-popup ref="popup" title="Отчёт по сотруднику" submit-text="Скачать">
    <base-select
        v-model="item"
        :items="items"
        item-text="displayName"
        item-value="id"

        label="Выберите сотрудника"
        icon="mdi-account"
    />
    <div class="mt-2">
      <v-checkbox v-model="inDetail" hide-details label="Подробно" />
      <small>Будут добавлены все отпуска по отдельности</small>
    </div>
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";
import SettingRow from "@/components/Settings/SettingRow";
import BaseInput from "@/components/Base/Form/BaseInput";
import BaseInputNumeric from "@/components/Base/Form/BaseInputNumeric";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import Manage from "@/_modules/planner/models/Manage";

export default {
  name: "AskDashboardReportUser",
  components: {BaseSelect, BaseInputNumeric, BaseInput, SettingRow, BasePopup},
  data() {
    return {
      items: [],
      item: null,
      inDetail: true
    }
  },
  methods: {
    async open() {
      this.items = [...this.$store.getters["users/get"]]
      this.items.sort((a, b) => a.fullName > b.fullName ? 0 : -1)

      const res = await this.$refs.popup.open()
      if (res) {
        await Manage.userReport(this.item, this.inDetail)
      }

      this.reset()
    },
    reset() {
      this.items = []
      this.item = null
      this.inDetail = true
    }
  },
}
</script>

<style scoped>

</style>