<template>
  <base-popup ref="popup">
    Вы хотите архивировать график
    <span class="font-weight-bold">{{ title }}</span> от
    <span class="font-weight-bold">{{ year }}</span> года.<br>
    Внесение любых изменений будет недоступно. Продолжить?
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";

export default {
  name: "AskScheduleArchive",
  components: {BasePopup},
  data() {
    return {
      title: "",
      year: ""
    }
  },
  methods: {
    async open({id}) {
      const schedule = this.$store.getters['planner/schedules/getById'](id)
      if (!schedule) return

      this.title = schedule.title
      this.year = schedule.year

      const res = await this.$refs.popup.open()
      if (res) {
        schedule.close()
      }
    }
  }
}
</script>

<style scoped>

</style>