<template>
  <base-popup ref="popup">
    Вы хотите отменить активацию графика
    <span class="font-weight-bold">{{ title }}</span> от
    <span class="font-weight-bold">{{ year }}</span> года.<br>
    Внесение изменений полсе этого будет не доступно, для дальнейшей работы нужно будет снова активировать график.
    Продолжить?
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";

export default {
  name: "AskScheduleDraft",
  components: {BasePopup},
  data() {
    return {
      title: "",
      year: ""
    }
  },
  methods: {
    async open({id}) {
      const schedule = this.$store.getters['planner/schedules/getById'](id)
      if (!schedule) return

      this.title = schedule.title
      this.year = schedule.year

      const res = await this.$refs.popup.open()
      if (res) {
        await schedule.draft()
      }
    }
  }
}
</script>

<style scoped>

</style>