<template>
  <base-popup ref="popup">
    После этого дейтсвия {{title}}<br><br>
    Продолжить?
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";

export default {
  name: "AskScheduleLock",
  components: {BasePopup},
  data() {
    return {
      title: "",
      year: ""
    }
  },
  methods: {
    async open({id}) {
      const schedule = this.$store.getters['planner/schedules/getById'](id)
      if (!schedule) return

      this.title = schedule.isLocked
          ? `пользователи смогут создавать отпуска`
          : `пользователи не смогут создавать новые отпуска`

      const res = await this.$refs.popup.open()
      if (res) {
        await schedule.toggleLock()
      }
    }
  }
}
</script>

<style scoped>

</style>