<template>
  <base-popup ref="popup" title="Шаблон заявления">
    <v-file-input
        ref="input"
        v-model="file"
        :rules="[v => !!v]"
        accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document"
        label="Файл .docx"
        clearable
    />
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";
import {Planner} from "@/_modules/planner/models/Planner";

export default {
  name: "AskUploadBlank",
  components: {BasePopup},
  data() {
    return {
      file: null
    }
  },
  methods: {
    async open() {
      const res = await this.$refs.popup.open()
      if (res) {
        await Planner.uploadBlank(this.file)
      }

      this.reset()
    },
    reset() {
      this.file = null
      this.$refs.input.reset()
    }
  }
}
</script>

<style scoped>

</style>