<template>
  <v-overlay v-if="show" @wheel.once="show = false" opacity="0">
    <v-menu
        v-model="show"
        :position-x="x"
        :position-y="y"
        absolute
        nudge-top="2"
    >
      <v-card v-if="vacation" class="min-w-320px">
        <v-card-title class="text-h6">
          {{ user.displayName }}
        </v-card-title>
        <v-card-subtitle>
          <vacation-item-dates :start="vacation.start" :end="vacation.end"/>
        </v-card-subtitle>
        <v-card-text>
          <v-row dense justify="space-between" no-gutters>
            <v-col cols="auto"><span class="font-weight-medium">Статус: </span></v-col>
            <v-col class="ml-2" cols="auto">
              <vacation-item-status :status="vacation.status"/>
            </v-col>
          </v-row>
          <v-row v-if="eventBy" dense justify="space-between" no-gutters>
            <v-col cols="auto"><span class="font-weight-medium">Кем: </span></v-col>
            <v-col class="ml-2" cols="auto">
              {{ eventBy }}
            </v-col>
          </v-row>
          <v-row v-if="eventAt" dense justify="space-between" no-gutters>
            <v-col cols="auto"><span class="font-weight-medium">Когда: </span></v-col>
            <v-col class="ml-2" cols="auto">
              {{ eventAt }}
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions class="justify-end" v-if="$can('approvingVacation', user)">
          <schedule-viewer-action :vacation="vacation"/>
        </v-card-actions>
      </v-card>
    </v-menu>
  </v-overlay>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import VacationItemDates from "@/_modules/planner/components/VacationItem/VacationItemDates";
import AppStatusChip from "@/components/Base/BaseStatusChip";
import ScheduleViewerAction from "@/_modules/planner/components/ScheduleViewer/ScheduleViewerAction";
import Vacation from "@/_modules/planner/models/Vacation";
import VacationItemStatus from "@/_modules/planner/components/VacationItem/VacationItemStatus";
import {mapGetters} from "vuex";
import User from "@/models/User";

export default {
  name: "AskVacationDetails",
  components: {VacationItemStatus, ScheduleViewerAction, AppStatusChip, VacationItemDates, BaseSheet},
  data() {
    return {
      show: false,
      x: 0,
      y: 0,
      vacation: null,
      user: new User(),
      eventBy: "",
      eventAt: "",
    }
  },
  computed: {
    ...mapGetters("users", ['getDisplayNameByID'])
  },
  methods: {
    async open({vacation, x, y}) {
      this.show = false
      if (!vacation || !x || !y) {
        return
      }

      this.vacation = new Vacation(vacation)
      this.user = this.$store.getters['users/getUserById'](vacation.userId)

      const lastEvent = vacation.history.at(-1)
      this.eventBy = this.$store.getters['users/getDisplayNameByID'](lastEvent.eventBy)
      this.eventAt = new Date(lastEvent.eventAt).toTextAndTime()

      this.x = x
      this.y = y
      this.show = true
    }
  }
}
</script>

<style scoped>

</style>