<template>
  <base-popup ref="popup" title="Утвердить отпуск?">
    После этого сотрудник не сможет вносить изменения.
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";

export default {
  name: "AskVacationApprove",
  components: {BasePopup},
  data() {
    return {
      title: "",
      year: ""
    }
  },
  methods: {
    async open({sid, id}) {
      const vacations = this.$store.getters['planner/vacations/getByScheduleId'](sid)
      if (!vacations) return

      const vacation = vacations.find(vacation => vacation.id === id)
      if (!vacation) return

      const res = await this.$refs.popup.open()
      if (res) {
        await vacation.approve()
      }
    }
  }
}
</script>

<style scoped>

</style>