<template>
  <base-popup ref="popup">
    Отпуск будет удалён. Продолжить?
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";

export default {
  name: "AskVacationDelete",
  components: {BasePopup},
  methods: {
    async open({scheduleId, vacationId}) {
      const vacations = this.$store.getters['planner/vacations/getByScheduleId'](scheduleId)
      if (!vacations) return

      const vacation = vacations.find(vacation => vacation.id === vacationId)
      if (!vacation) return

      const res = await this.$refs.popup.open()
      if (res) {
        vacation.delete()
      }
    }
  }
}
</script>

<style scoped>

</style>