<template>
  <base-popup ref="popup" title="Отправить на утверждение?">
    После того, как отпуск будет утверждён, вы не сможете вносить изменения.
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";

export default {
  name: "AskVacationToApproving",
  components: {BasePopup},
  methods: {
    async open({scheduleId, vacationId}) {
      const vacations = this.$store.getters['planner/vacations/getByScheduleId'](scheduleId)
      if (!vacations) return

      const vacation = vacations.find(vacation => vacation.id === vacationId)
      if (!vacation) return

      const res = await this.$refs.popup.open()
      if (res) {
        await vacation.toApproving()
      }
    }
  }
}
</script>

<style scoped>

</style>