<template>
  <base-popup ref="popup" title="Отозвать?">
    Ели отпуск ещё не утверждён, то вы можете отозвать его, чтобы внести изменения или удалить.<br>
    Продолжить?
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";

export default {
  name: "AskVacationToDraft",
  components: {BasePopup},
  methods: {
    async open({scheduleId, vacationId}) {
      const vacations = this.$store.getters['planner/vacations/getByScheduleId'](scheduleId)
      if (!vacations) return

      const vacation = vacations.find(vacation => vacation.id === vacationId)
      if (!vacation) return

      const res = await this.$refs.popup.open()
      if (res) {
        await vacation.toDraft()
      }
    }
  }
}
</script>

<style scoped>

</style>