<template>
  <base-popup ref="popup" title="Отклонить отпуск?">
    Отпуск будет отклонён. Сотрудник снова сможет отправить отпуск на утверждение, только после редактирования.
    <v-textarea
        v-model="comment"
        class="mt-4"
        rows="3"
        hide-details
        no-resize
        flat
        outlined
        placeholder="Комментарий"
        solo
    />
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";

export default {
  name: "AskVacationReject",
  components: {BasePopup},
  data() {
    return {
      comment: ""
    }
  },
  methods: {
    async open({sid, id}) {
      const vacations = this.$store.getters['planner/vacations/getByScheduleId'](sid)
      if (!vacations) return

      const vacation = vacations.find(vacation => vacation.id === id)
      if (!vacation) return

      const res = await this.$refs.popup.open()
      if (res) {
        vacation.comment = this.comment
        vacation.reject()
      }
    }
  }
}
</script>

<style scoped>

</style>