<template>
  <v-sheet
      :outlined="outlined"
      :elevation="flat ? 0 : $vuetify.breakpoint.mdAndUp ? 2 : 0"
      class="b-sheet mx-1 mx-md-0 overflow-hidden"
      :class="{'b-sheet-dense': dense}"
      :color="color"
      :tag="tag"
  >
    <slot/>
  </v-sheet>
</template>
<script>
export default {
  name: 'base-sheet',
  props: {
    dense: {
      type: Boolean,
      default: false
    },
    flat: {
      type: Boolean,
      default: false
    },
    outlined: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: 'white'
    },
    tag: {
      type: String,
      default: "div"
    }
  }
}
</script>