<template>
  <v-dialog
      v-model="show"
      v-bind="$attrs"
      v-on="$listeners"

      scrollable
      :fullscreen="$vuetify.breakpoint.smAndDown"
      :max-width="maxWidth"
      transition="dialog-top-transition"
      persistent
  >
    <v-form @submit.prevent="onSubmit" v-model="valid" ref="form">
      <v-card style="z-index: 10000 !important">
        <v-toolbar
            color="bg-color"
            dark
            v-if="title !== ''"
            class="text-h4"
        >
          <span>{{ title }}</span>
          <v-spacer />
          <v-btn icon small class="rotated-180 mr-2" @click="onClose">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <slot/>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn
              color="error"
              text
              @click="onClose"
              :disabled="cancelDisable"
          >
            {{ cancelText }}
          </v-btn>
<!--          <v-btn-->
<!--              color="success"-->
<!--              text-->
<!--              @click="onSubmit"-->
<!--              plain-->
<!--              :disabled="submitDisable || !valid"-->
<!--          >-->
<!--            {{ submitText }}-->
<!--          </v-btn>-->
          <base-btn-submit :loading="loading" :disabled="submitDisable || !valid">
            {{ submitText }}
          </base-btn-submit>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>

import BaseBtnSubmit from "@/components/Base/Buttons/BaseBtnSubmit";
export default {
  components: {BaseBtnSubmit},
  props: {
    cancelText: {
      type: String,
      default: "Отмена",
    },
    cancelDisable: {
      type: Boolean,
      default: false,
    },
    submitText: {
      type: String,
      default: "Подтвердить",
    },
    submitDisable: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: "",
    },
    large: {
      type: Boolean,
      required: false,
    },
    xLarge: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  ModalController: null,
  data() {
    return {
      show: false,
      valid: false
    }
  },
  computed: {
    maxWidth() {
      switch (true) {
        case this.xLarge: return 1200;
        case this.large: return 1000;
        default: return 700
      }
    }
  },
  methods: {
    open() {
      let resolve, reject
      const result = new Promise((res, rej) => {
        resolve = res
        reject = rej
      })

      this.show = true
      this.$options.ModalController = {resolve, reject}
      return result
    },
    onClose() {
      this.show = false
      this.$options.ModalController.resolve(false)
    },
    onSubmit() {
      this.$refs.form.validate()
      this.$nextTick(() => {
        if (this.show && this.valid) {
          this.show = false
          this.$options.ModalController.resolve(true)
        }
      })
    },
  },
  watch: {
    show() {
      this.$nextTick(() => {
        this.$refs.form.resetValidation()
      })
    }
  }
};
</script>

<style lang="scss">
</style>