<template>
  <div class="d-flex align-center justify-end">
    <base-actions-row v-if="rowActions.length" :actions="rowActions" v-bind="$attrs" v-on="$listeners"/>
    <v-divider v-if="!noDivider && menuActions.length && rowActions.length" vertical/>
    <base-actions-menu v-if="menuActions.length" :actions="menuActions" v-bind="$attrs" v-on="$listeners"/>
  </div>
</template>
<script>
import BaseActionsMenu from "@/components/Base/BaseActionsMenu";
import BaseActionsRow from "@/components/Base/BaseActionsRow";
import IAction from "@/helper/interfaces/IAction";

export default {
  name: 'BaseActions',
  components: {BaseActionsRow, BaseActionsMenu},
  props: {
    actions: {
      type: Array,
      required: true,
      validator: (arr) => arr.every(item => item instanceof IAction || item.divider)
    },
    noDivider: {
      type: Boolean,
      default: false
    },
    onlyMenuMode: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    menuActions() {
      if (this.onlyMenuMode) return this.actions

      return this.actions.filter(action => action.menuItem || action.divider)
    },
    rowActions() {
      if (this.onlyMenuMode) return []

      return this.actions.filter(action => !action.menuItem && !action.divider)
    }
  }
}
</script>