<template>
  <base-sheet>
    <slot name="header" :headerText="headerText" v-if="!hideText">
      <v-card-title class="justify-center">{{ headerText }}</v-card-title>
    </slot>
    <v-select
        v-for="(filter, idx) in filterList"
        :key="filter.key"
        :items="filter.items"
        v-model="selected[filter.key]"
        @change="(val) => selectFilter(filter.key, val)"
        :item-text="filter.itemText"
        :item-value="filter.itemValue"
        :class="{'mt-8': idx !== 0 || !hideText}"
        dense
        hide-details
        clearable
        :label="filter.label"
    />
    <v-btn
        block
        class="mt-2"
        color="secondary"
        left
        small
        text
        @click="reset"
    >
      сброс
    </v-btn>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import {updateQuery} from "@/mixins";
import IFilter from "@/helper/interfaces/IFilter";
import Tools from "@/plugins/Tools";

export default {
  name: "BaseFilters",
  components: {BaseSheet},
  mixins: [updateQuery],
  props: {
    headerText: {
      type: String,
      default: "Фильтры"
    },
    hideText: {
      type: Boolean,
      default: false
    },
    hideDefault: {
      type: Boolean,
      default: false
    },
    filters: {
      type: Array,
      default: () => [],
      validator: (arr) => arr.every(item => item instanceof IFilter)
    },
    value: {}
  },
  data() {
    return {
      selected: {},
    }
  },
  mounted() {
    const query = this.$route.query
    this.filterList.forEach(({key}) => {
      this.selectFilter(key, query[key] || null)
    })

    // const user = this.$store.getters['currentUser/get']

    // if (this.filterList.some( ({key}) => key === 'job.team')) {
    //   if (user.isUser) {
    //     this.selectFilter('job.team', user.job.team)
    //   }
    // }
  },
  beforeDestroy() {
    this.reset()
  },
  computed: {
    filterList() {
      const filters = []
      filters.push(...this.filters)

      if (!this.hideDefault) {
        const deps = this.$store.getters['dep/get']
        const depKey = 'depId'

        if (this.$can('manage', 'Service')) {
          filters.push(new IFilter(deps, depKey, 'Депортамент', {addNone: false}))
        }

        filters.push(...[
          new IFilter(this.$store.getters['team/get'], 'job.team', 'Команда'),
          new IFilter(
              this.$store.getters['position/get'],
              'job.position',
              'Должность',
              {
                itemValue: 'id',
                itemText: 'displayTitle',
              }),
          new IFilter(this.$store.getters['task/get'], 'job.taskList', 'Задача'),
        ])
      }

      return filters
    }
  },
  methods: {
    reset() {
      for(let key in this.selected) {
        this.selectFilter(key, null)
      }
    },
    selectFilter(key, val) {
      const selected = Tools.copyObject(this.selected)
      selected[key] = val
      this.selected = selected

      this.$emit('input', selected)

      for(let key in selected) {
        this.updateQuery(key, selected[key])
      }
    }
  },
}
</script>