<template>
  <v-menu
      v-bind="$attrs"
      offset-y
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn v-bind="{...attrs, ...$attrs}" v-on="on" text class="flex-grow-0 px-0" style="min-width: 2.5em !important;">
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </template>
    <template v-slot:default>
      <v-list dense class="menu-action-list elevation-2">
        <template v-for="action in actions">
          <v-divider v-if="action.divider" :key="action.key"/>
          <base-action-menu-item
              v-else-if="action.to"
              :key="action.key"
              :action="action"
              link
              :to="action.to"
          />
          <base-action-menu-item
              v-else
              :key="action.key"
              :action="action"
              @click="$emit('click', action.key)"
          />
        </template>
      </v-list>
    </template>
  </v-menu>
</template>

<script>
import IAction from "@/helper/interfaces/IAction";
import BaseActionMenuItem from "@/components/Base/BaseActionsMenuItem";

export default {
  name: "BaseActionsMenu",
  components: {BaseActionMenuItem,},
  props: {
    actions: {
      type: Array,
      required: true,
      validator: (arr) => arr.every(item => item instanceof IAction || item.divider)
    }
  },
}
</script>


<style scoped>
.menu-action-list {
  border-radius: 4px;
  border: 1px solid #a9a9a9 !important;
  padding: 0 !important;
}
</style>