<template>
  <v-chip
    :color="status.color"
    label
    outlined
    small
  >
    {{ status.label }}
  </v-chip>
</template>
<script>
import IStatusItem from "@/helper/interfaces/IStatusItem";

export default {
  name: 'BaseStatusChip',
  props: {
    status: {
      type: IStatusItem,
      required: true
    },
  }
}
</script>