<template>
  <div class="d-flex justify-space-between mt-2 mb-1 align-center">
    <div class="d-flex flex-row align-center text-body-1" :style="!$vuetify.breakpoint.smAndUp ? 'width: 100%' : ''">
      <template v-if="$vuetify.breakpoint.smAndUp">
        <span class="mr-1 text-subtitle-2">{{ label }}</span>
        <base-sorting-tool-item
            v-for="(sort, idx) in sorts"
            :key="idx"
            :sort="sort"
            @click="onInput"
            v-ripple
          />
      </template>
      <template v-else>
        <base-select
            :value="value"
            :items="sorts"
            @change="onInput"
            class="mx-4 font-weight-bold"
            chips
            small-chips
            dense
            clearable
            :label="label"
        />
      </template>
    </div>
    <slot/>
  </div>
</template>

<script>
import {updateQuery} from "@/mixins";
import ISort from "@/helper/interfaces/ISort";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import BaseSortingToolItem from "@/components/Base/BaseSortingToolItem";
import ISortPhase from "@/helper/interfaces/ISortPhase";

const queryKey = 's';
const queryKey2 = 'desc'

export default {
  name: "BaseSortingTool",
  components: {BaseSortingToolItem, BaseSelect},
  props: {
    sorts: {
      type: Array,
      required: true,
      validator: (arr) => {
        return arr.every( item => item instanceof ISort)
      }
    },
    value: {
      type: String
    },
    sortDesc: {
      type: Boolean,
      required: true
    },
    label: {
      type: String,
      default: 'Сортировать по'
    }
  },
  mixins: [updateQuery],
  mounted() {
    const query = this.$route.query

    this.sorts.forEach(sort => sort.phase.clear())

    if (query[queryKey]) {
      const desc = !!query[queryKey2]
      this.onInput(query[queryKey], desc ? 2 : 1)
    }
  },
  methods: {
    onInput(val, phase) {
      this.sorts.forEach(s => {
        if (s.value !== val) s.phase.clear()
        else s.phase.value = phase
      })

      const newVal = val !== this.value
          ? val
          : phase !== ISortPhase.STATES.INACTIVE
            ? val
            : null

      this.$emit('input', newVal)
      this.$emit('update:sortDesc', phase === ISortPhase.STATES.DESC)
      console.log(phase === ISortPhase.STATES.DESC)
    }
  },
  watch: {
    value(newVal) {
      this.updateQuery(queryKey, newVal)
    },
    sortDesc(newVal) {
      this.updateQuery(queryKey2, newVal)
    }
  }
}
</script>

<style scoped>

</style>