<template>
  <span
    :class="{
      'info--text': sort.phase.active
    }"
    @click="next"
    class="ml-2 font-weight-light text-subtitle-2 base-link"
    role="button"
    v-ripple
  >
    <span>{{ sort.text }}</span>
    <v-icon v-if="icon" small color="info">
      {{icon}}
    </v-icon>
  </span>
</template>

<script>
import ISort from "@/helper/interfaces/ISort";
import ISortPhase from "@/helper/interfaces/ISortPhase";

export default {
  name: "BaseSortingToolItem",
  props: {
    sort: {
      type: ISort,
      required: true
    }
  },
  data() {
    return {
      states: ISortPhase.STATES,
    }
  },
  methods: {
    next() {
      this.sort.phase.next()
      this.$emit('click', this.sort.value, this.sort.phase.value)
    }
  },
  computed: {
    icon() {
      switch (this.sort.phase.value) {
        case this.states.INACTIVE: return '';
        case this.states.ASC: return 'mdi-sort-reverse-variant';
        case this.states.DESC: return 'mdi-sort-variant';
      }
    }
  }
}
</script>

<style scoped>

</style>