<template>
  <div  v-bind="$attrs" class="d-flex flex-nowrap flex-row overflow-hidden">
    <template v-for="action in actions">
      <icon-btn-with-tip
          v-if="action.to"
          :key="action.key"
          v-bind="$attrs"
          tile
          :color="action.color"
          :icon="action.icon"
          tag="a"
          :to="action.to"
      >
        {{ action.text }}
      </icon-btn-with-tip>
      <icon-btn-with-tip
          v-else
          tile
          :key="action.key"
          v-bind="$attrs"
          :color="action.color"
          :icon="action.icon"
          @click.stop="$emit('click', action.key)"
      >
        {{ action.text }}
      </icon-btn-with-tip>
    </template>
  </div>
</template>

<script>
import IconBtnWithTip from "@/components/IconBtnWithTip";
import IAction from "@/helper/interfaces/IAction";
export default {
  name: "BaseActionsRow",
  components: {IconBtnWithTip},
  props: {
    actions: {
      type: Array,
      required: true,
      validator: (arr) => arr.every(item => item instanceof IAction)

    }
  },
}
</script>

<style scoped>

</style>