<template>
  <v-tabs v-model="currentTab" v-bind="$attrs" class="d-flex flex-column justify-end">
    <v-tab v-for="tab in tabs" :key="tab.name" :to="{name: tab.name}">
      {{ tab.title }}
    </v-tab>
  </v-tabs>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet"

export default {
  name: 'BaseTabs',
  components: {BaseSheet},
  props: {
    value: {
      type: Number,
      default: -1
    },
    tabs: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      tab: 0
    }
  },
  computed: {
    currentRouteName() {
      return this.$route.name
    },
    currentTab: {
      set: function (val) {
        if (this.value !== -1) {
          return this.$emit('input', val)
        }

        this.tab = val
      },
      get: function () {
        return this.value !== -1 ? this.value : this.tab
      }
    }
  },
  created() {
    this.changeView(this.$route.name)
  },
  methods: {
    changeView(val) {
      const currentViewId = this.tabs.findIndex(v => v.name === val)

      if (currentViewId !== undefined) {
        this.currentTab = currentViewId
      }
    }
  },
  watch: {
    currentRouteName(val) {
      this.changeView(val)
    },
    currentTab(id) {
      const tab = this.tabs[id]
      if (!tab) return

      const name = tab.name
      if (this.$route.name !== name) {
        this.$router.replace({name})
      }
    },
  }
}
</script>