<template>
  <td :colspan="data.headers.length">
    <base-btn-expand :value="data.isOpen" @input="data.toggle"/>
    <span class="font-weight-bold">
      {{ header || data.groupBy }}
    </span>
    <v-btn icon small @click="data.remove">
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </td>
</template>

<script>
import IGroup from "@/helper/interfaces/IGroup";
import BaseBtnExpand from "@/components/Base/Buttons/BaseBtnExpand";

export default {
  name: "BaseTableGroupHeader",
  components: {BaseBtnExpand},
  props: {
    data: {
      type: Object,
      required: true,
      validator: (v) => {
        const keys = ['headers', 'toggle', 'isOpen', 'remove', 'groupBy']
        return keys.every(key => v.hasOwnProperty(key))
      }
    },
    groups: {
      type: Array,
      required: true,
      validator: (arr) => {
        return arr.every(item => item instanceof IGroup)
      }
    }
  },
  computed: {
    header() {
      const val = this.data.group
      if (val === "" || val === undefined) return "Нет"
      const groupBy = this.data.groupBy[0]

      return this.groups.find(g => g.value === groupBy).handler(val)
    }
  }
}
</script>

<style scoped>

</style>