<template>
  <div class="d-flex justify-space-between mt-2 mb-1 align-center">
    <div class="d-flex flex-row align-center text-body-1" :style="!$vuetify.breakpoint.smAndUp ? 'width: 100%' : ''">
      <template v-if="$vuetify.breakpoint.smAndUp">
        <span class="mr-1 text-subtitle-2">{{ label }}</span>
        <span
            v-for="(group, idx) in groups"
            :key="idx"
            :class="{
            'info--text': group.value === value
          }"
            class="ml-2 font-weight-light text-subtitle-2 base-link"
            role="button"
            @click.prevent="onInput(group.value)"
            v-ripple
        >
          {{ group.text }}
        </span>
      </template>
      <template v-else>
        <base-select
            :value="value"
            :items="groups"
            @change="onInput"
            class="ml-0 font-weight-bold"
            chips
            small-chips
            dense
            clearable
            :label="label"
        />
      </template>
    </div>
    <slot/>
  </div>
</template>

<script>
import {updateQuery} from "@/mixins";
import IGroup from "@/helper/interfaces/IGroup";
import BaseSelect from "@/components/Base/Form/BaseSelect";

const queryKey = 'g';

export default {
  name: "BaseGroupingTool",
  components: {BaseSelect},
  props: {
    groups: {
      type: Array,
      required: true,
      validator: (arr) => {
        return arr.every( item => item instanceof IGroup)
      }
    },
    value: {
      type: String
    },
    label: {
      type: String,
      default: 'Группировать по'
    }
  },
  mixins: [updateQuery],
  mounted() {
    const query = this.$route.query
    if (query[queryKey]) {
      this.onInput(query[queryKey])
    }
  },
  methods: {
    onInput(val) {
      const newVal = val !== this.value ? val : null
      this.$emit('input', newVal)
    }
  },
  watch: {
    value(newVal) {
      this.updateQuery(queryKey, newVal)
    }
  }
}
</script>

<style scoped>

</style>