<template>
  <base-sheet class="d-flex justify-space-between">
    <div class="d-flex flex-column justify-center" v-if="!hideDefault">
      <slot name="title" :title="title">
        <span class="text-h5 ml-1 text-no-wrap fit-content" v-if="title" :title="title">{{ title }}</span>
      </slot>
      <slot name="subTitle" :title="subTitle">
        <span class="text-subtitle-1 ml-1 text--secondary" v-if="subTitle">{{subTitle}}</span>
      </slot>
    </div>
    <slot name="content" />
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
export default {
  name: "BasePageHeader",
  components: {BaseSheet},
  props: {
    hideDefault: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ""
    },
    subTitle: {
      type: String,
      default: ""
    },
    locked: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>

</style>