<template>
  <base-sheet v-bind="$attrs">
    <div class="b-card">
      <div>
        <div class="b-card__header">
          <slot name="header">
            <span class="b-card__title title" v-html="title" />
          </slot>
        </div>
        <v-divider class="mt-1"/>
      </div>

      <div class="b-card__content">
        <slot name="content" />
      </div>
      <div class="b-card__action">
        <slot name="action" />
      </div>
    </div>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
export default {
  name: "BaseCard",
  components: {BaseSheet},
  props: {
    title: {
      type: String,
      default: ""
    }
  }
}
</script>

<style scoped>

</style>