<template>
  <v-list-item
      v-bind="$attrs"
      v-on="$listeners"
      dense
      :disabled="action.disabled"
  >
    <v-list-item-icon>
      <v-icon v-text="action.icon" :color="action.color"/>
    </v-list-item-icon>
    <v-list-item-title v-text="action.text" />
  </v-list-item>
</template>

<script>
import IAction from "@/helper/interfaces/IAction";

export default {
  name: "BaseActionsMenuItem",
  props: {
    action: {
      type: IAction,
      required: true
    }
  }
}
</script>

<style scoped>

</style>