<template>
  <router-link
      :to="to"
      class="text-decoration-none base-link"
      aria-disabled="1"
  >
    {{ text }}
  </router-link>
</template>

<script>
export default {
  name: "BaseLink",
  props: {
    to: {
      type: [Object, String, Number],
      required: true
    },
    text: {
      type: String,
      required: true
    }
  }
}
</script>
