<template>
  <div class="d-flex flex-column align-center justify-center" style="min-width: 70px;">
    <v-icon v-text="icon" :color="role.color" />
    <small
        v-if="!isUser"
        :class="colorClass"
        class="text-caption b-avatar__label pa-0 px-1 rounded"
    >
      {{role.title.short}}
    </small>
  </div>
</template>

<script>
import User from "@/models/User";
import {USER_GROUPS} from "@/plugins/CONSTANTS";

export default {
  name: "BaseUserAvatar",
  props: {
    user: {
      type: User,
      required: true
    },
    icon: {
      type: String,
      required: true
    }
  },
  computed: {
    role() {
      return USER_GROUPS.find(role => role.key === this.user.role)
    },
    isUser() {
      return this.role.key === User.ROLES.USER
    },
    colorClass() {
      let [color, modify] = this.role.color.split(' ')
      color += '--text'
      modify = 'text--' + modify

      return [color, modify,].join(' ')
    }
  }
}
</script>

<style scoped>

</style>