<template>
<div class="d-flex justify-space-between">
  <div class="d-flex gap-2 ml-0 ml-sm-4 full-width">
    <slot />
  </div>
  <base-btn-open-sidebar v-if="!hideOpenSidebarBtn" />
</div>
</template>

<script>
import BaseBtnOpenSidebar from "@/components/Base/Buttons/BaseBtnOpenSidebar";
export default {
  name: "BaseToolbar",
  components: {BaseBtnOpenSidebar},
  props: {
    hideOpenSidebarBtn: {
      type: Boolean,
      default: false
    },
  }
}
</script>

<style scoped>

</style>