<template>
  <v-dialog
      v-model="show"
      :max-width="maxWidth"

      persistent
      @keydown.enter.prevent="submit"
      @keydown.esc="close"
  >
    <v-card>
      <v-card-title v-if="title">{{ title }}</v-card-title>
      <v-card-text>
        <v-form @submit.stop="submit" v-model="valid">
          <slot :data="data" :setResData="setResData" :setSubmitDisable="setSubmitDisable" />
          <v-textarea
            v-if="showComment"
            v-model="comment"
            class="mt-2"
            hide-details
            no-resize
            placeholder="Комментарий"
            solo
          >

          </v-textarea>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            v-if="buttons.indexOf('cancel') !== -1"

            color="red darken-1"
            text
            @click="close"
        >
          Отмена
        </v-btn>
        <v-btn
            v-if="buttons.indexOf('ok') !== -1"

            :disabled="submitDisable || !valid"
            color="green darken-1"
            text
            plain
            type="submit"
            @click="submit"
        >
          {{submitText}}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  PopupController: null,
  props: {
    title: {
      type: String,
      default: "Внимание"
    },
    showComment: {
      type: Boolean,
      default: false
    },
    buttons: {
      type: String,
      default: "cancel|ok"
    },
    maxWidth: {
      type: [String, Number],
      default: "400"
    },
    submitText: {
      type: String,
      default: "ОК"
    },
    submitDisabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      valid: false,
      submitDisable: false,
      show: false,
      comment: "",
      data: {},
      resData: {}
    }
  },
  methods: {
    open(data) {
      let resolve, reject
      const result = new Promise((res, rej) => {
        resolve = res
        reject = rej
      })

      if (data) this.data = data
      this.show = true
      this.$options.PopupController = {resolve, reject}
      return result
    },
    close() {
      this.show = false
      this.$options.PopupController.resolve(false)
    },
    submit() {
      if (!this.show) return
      this.show = false
      this.$options.PopupController.resolve({
        val: true,
        comment: this.comment,
        data: this.resData
      })
    },
    setResData(key, val) {
      this.resData[key] = val
    },
    setSubmitDisable(val) {
      this.submitDisable = val
    }
  },
  watch: {
    show(val) {
      this.$nextTick(() => {
        if (!val) this.comment = ''
        if (!val) this.resData = {}
        if (!val) this.data = null
      })
    }
  }
};
</script>

