<template>
  <org-structure-widget
    :no-action="!$can('create', 'Position')"
    :items="positions"
    title="Должности"
    @create="onCreate"
  >
    <template v-slot:content="{items}">
      <position-widget-list
        :items="items"

        @edit="onEdit"
        @delete="onDelete"
      />
    </template>
  </org-structure-widget>
</template>

<script>
import AppPopup from "@/components/Base/BasePopup";
import OrgStructureWidget from "@/components/Organization/Structure/OrgStructureWidget";
import PositionWidgetList from "@/components/Organization/Structure/PositionWidget/PositionWidgetList";

export default {
  name: "PositionWidget",
  components: {
    PositionWidgetList,
    OrgStructureWidget,
    AppPopup
  },
  props: {
    depId: {
      type: String,
      required: true
    }
  },
  inject: ['askOrgStructure'],
  computed: {
    positions() {
      return this.$store.getters['position/getByDepId'](this.depId)
    },
  },
  methods: {
    onCreate() {
      this.askOrgStructure('position', 'edit', {createMode: true, depId: this.depId})
    },
    onEdit(id) {
      this.askOrgStructure('position', 'edit', {id, createMode: false})
    },
    onDelete(id) {
      this.askOrgStructure('position', 'delete', {id})
    }
  },
};
</script>
