<template>
  <v-list class="pa-0" tag="ul">
    <v-list-item
        v-for="item in items"
        :key="item.id"
        tag="li"
        class="border-bottom px-0"
    >
      <v-list-item-content class="pb-0 pt-2">
        <v-list-item-title>{{item.displayTitle}}</v-list-item-title>
        <v-list-item-subtitle :title="item.title" v-if="item.title">{{item.title}}</v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-action class="ma-0">
        <org-structure-widget-item-action
            :position="item"

            @edit="(id) => $emit('edit', id)"
            @delete="(id) => $emit('delete', id)"
         />
      </v-list-item-action>
    </v-list-item>
  </v-list>
</template>

<script>
import OrgStructureWidgetItemAction from "@/components/Organization/Structure/PositionWidget/PositionWidgetListItemAction";
export default {
  name: "PositionWidgetList",
  components: {OrgStructureWidgetItemAction},
  props: {
    items: {
      type: Array,
      required: true
    },
  }
}
</script>

<style scoped>
.border-bottom {
  border-bottom: thin solid #949494;
}
</style>