<template>
  <div class="d-flex flex-row">
    <icon-btn-with-tip
        v-for="(action, idx) in actions"
        :key="idx"
        :color="action.color"
        :icon="action.icon"
        small
        @click="$emit(action.emit, position.id)"
    >
      {{ action.title }}
    </icon-btn-with-tip>
  </div>
</template>

<script>
import IconBtnWithTip from "@/components/IconBtnWithTip";
import Position from "@/models/Position";

export default {
  name: "PositionWidgetListItemAction",
  components: {IconBtnWithTip},
  props: {
    position: {
      type: Position,
      required: true
    }
  },
  computed: {
      actions() {
        const actions = []
        if (this.$can('update', this.position)) {
          actions.push({icon: "mdi-pencil", title: "Изменить", color: "primary", emit: "edit"})
        }
        if (this.$can('delete', this.position)) {
          actions.push({icon: "mdi-close", title: "Удалить", color: "error", emit: "delete"})
        }

        return actions
      },
  }
}
</script>

<style scoped>

</style>