<template>
  <v-slide-x-transition group leave-absolute class="full-width d-flex justify-end gap-1">
    <v-btn
        v-if="!editMode"
        key="btn0"
        color="info"
        outlined
        @click="editMode = true"
    >
      <v-icon>mdi-pencil</v-icon>
      Редактировать
    </v-btn>
    <div v-if="editMode" key="actions" class="d-flex gap-1">
      <icon-btn-with-tip
          v-for="(action, idx) in actions"
          :key="action.key"
          :icon="action.icon"
          :color="action.color"
          tile
          outlined
          :btn-class="'rounded ' + (idx === 2 ? 'ml-2' : '')"
          @click="onClick(action.key)"
      >
        {{action.text}}
      </icon-btn-with-tip>
    </div>
  </v-slide-x-transition>
</template>

<script>
import IAction from "@/helper/interfaces/IAction";
import IconBtnWithTip from "@/components/IconBtnWithTip";

export default {
  name: "GoalsListToolbar",
  components: {IconBtnWithTip},
  data() {
    return {
      editMode: false
    }
  },
  computed: {
    actions() {
      return [
        new IAction('add', 'Добавить строку', 'mdi-plus', 'primary'),
        new IAction('save', 'Сохранить', 'mdi-check', 'success'),
        new IAction('cancel', 'Отмена', 'mdi-close', 'error'),
      ]
    }
  },
  methods: {
    onClick(action) {
      if (action === 'cancel') {
        this.reset()
      }

      this.$emit(action)
    },
    reset() {
      this.editMode = false
    }
  }
}
</script>

<style scoped>

</style>