<template>
  <base-sheet>
    <v-data-table
        :items="sortedGoals"
        :headers="$options.HEADERS"
        hide-default-footer
        :items-per-page="-1"
    >
      <template v-slot:top>
        <goals-list-toolbar />
      </template>
      <template v-slot:item.title="{item}">
        <div class="full-width">
          <span class="text-subtitle-2 ml-1">{{item.idx}}.</span>
          <span class="pl-2 text-subtitle-1" v-html="item.title" />
        </div>
      </template>
      <template v-slot:item.description="{item}">
        <div class="py-2">
          <base-comment :comment="item.description" hide-if-empty />
        </div>
      </template>
    </v-data-table>
  </base-sheet>
</template>

<script>
import Goal from "@/_modules/performance/models/Goal";
import GoalCardView from "@/_modules/performance/components/GoalCard/GoalCardView";
import userGoalListHeaders from "@/_modules/performance/components/PeriodUserView/UserGoalListHeaders";
import GoalCardEstimate from "@/_modules/performance/components/GoalCard/GoalCardEstimate";
import BaseSheet from "@/components/Base/BaseSheet";
import GoalsListToolbar from "@/_modules/performance/components/PeriodUserView/GoalsList/GoalsListToolbar";
import BaseComment from "@/components/Base/Labels/BaseComment";

export default {
  name: "GoalsList",
  components: {BaseComment, GoalsListToolbar, BaseSheet, GoalCardEstimate, GoalCardView},
  HEADERS: userGoalListHeaders,
  props: {
    goals: {
      type: Array,
      required: true,
      validator: (arr) => arr.every(item => item instanceof Goal)
    }
  },
  computed: {
    sortedGoals() {
      return [...this.goals]
          .sort((a,b) => a.description < b.description ? 0 : -1)
          .map((item, idx) => {
            item.idx = idx + 1
            return item
          })
    }
  }
}
</script>

<style scoped>

</style>