<template>
  <div class="d-flex flex-wrap align-start justify-start gap-1">
    <div
        v-for="(item, idx) in legendItems"
        :key="idx"
        class="outlined rounded px-2"
    >
      <v-icon :color="item.color">{{icon}}</v-icon>
      <span class="text-body-2 text-sm-subtitle-1"> {{item.text}} </span>
    </div>
  </div>
</template>
<script>
export default {
  name: 'CalendarLegend',
  props: {
    items: {
      type: Array,
      default: () => []
    },
    icon: {
      type: String,
      default: "mdi-numeric-1-box-outline"
    }
  },
  data() {
    return {
      defaultItems: [
        {text: 'Праздничные дни', color: '#2196f3'},
      ]
    }
  },
  computed: {
    legendItems() {
      return this.items.length && this.items || this.defaultItems
    }
  }
}
</script>