<template>
  <v-tooltip
    v-model="value"
    :bottom="bottom"
    :color="tooltipcolor ? tooltipcolor : ''"
    transition="fade-transition"
    max-width="250px"
    open-delay="500"
    color="blue-grey darken-1"
  >
    <template v-slot:activator="{ on, attrs }">
<!--      <v-btn-->
<!--        :tag="tag"-->
<!--        :to="to"-->
<!--        :class="btnClass"-->
<!--        class="scale-anim no-transition"-->
<!--        :color="fab ? 'white' : color"-->
<!--        :disabled="disable"-->
<!--        :fab="fab"-->
<!--        :icon="!fab"-->
<!--        :loading="loading"-->
<!--        :small="fab || small"-->
<!--        :x-small="xSmall"-->
<!--        :large="large"-->
<!--        :tile="tile"-->

<!--        :outlined="outlined"-->
<!--        :rounded="rounded || true"-->
<!--        :style="btnStyle"-->
<!--        v-bind="attrs"-->
<!--        @click="onClick"-->
<!--        v-on="on"-->
<!--      >-->
<!--        <v-icon :small="iconSmall" :color="color"> {{ icon }}</v-icon>-->
<!--      </v-btn>-->
      <v-btn
          v-on="on"
          :color="color"
          @click="onClick"
          :tile="false"
          text
          class="flex-grow-0 px-0"
          :class="btnClass"
          v-bind="{...attrs, ...$attrs}"
          :style="`min-width: ${minWidth} !important;`"
      >
        <slot name="icon">
          <v-icon v-text="icon" :color="color" />
        </slot>
      </v-btn>
    </template>
    <span>
      <slot />
    </span>
  </v-tooltip>
</template>

<script>

export default {
  props: {
    bottom: {
      type: Boolean,
      default: true,
    },
    // disable: {
    //   type: Boolean,
    //   default: false,
    // },
    minWidth: {
      type: String,
      default: '2.5em'
    },
    icon: String,
    color: {
      type: String,
      default: 'blue-grey darken-2'
    },
    tooltipcolor: String,
    btnClass: {
      type: String,
      default: "",
    },
    // btnStyle: {
    //   type: String,
    //   default: "",
    // },
    // fab: {
    //   type: Boolean,
    //   default: false,
    // },
    // large: {
    //   type: Boolean,
    //   default: false
    // },
    // iconSmall: {
    //   type: Boolean,
    //   default: false
    // },
    // small: {
    //   type: Boolean,
    //   default: false
    // },
    // xSmall: {
    //   type: Boolean,
    //   default: false
    // },
    // loading: {
    //   type: Boolean,
    //   default: false
    // },
    // type: {
    //   type: String,
    //   default: 'button'
    // },
    // // outlined: {
    // //   type: Boolean,
    // //   default: false
    // // },
    // tag: {
    //   type: String,
    //   default: 'button'
    // },
    // to: {
    //   type: Object,
    //   default: () => {}
    // },
    // tile: {
    //   type: Boolean,
    //   default: false
    // },
    // rounded: {
    //   type: Boolean,
    //   default: false
    // },
  },
  data: () => ({
    value: false
  }),
  methods: {
    onClick(e) {
      this.value = false
      this.$emit('click', e)
    }
  }
};
</script>
