<template>
  <div class="tl">
    <slot name="top"/>
    <tl-empty v-if="!filteredItems || !filteredItems.length" :is-empty="!items.length"/>
    <template v-else>
      <tl-grid
          ref="TlGrid"
          :items="sortedItems"
          :dates="dates"
          :months="Object.values(months)"

          :min-date="minDate"
          :max-date="maxDate"
          :draggable="draggable"
          :rows="rows"
          :zoom="zoom"

          v-bind="$attrs"
      >
        <template v-slot:corner>
          <slot name="corner"/>
        </template>
        <template v-slot:tools>
          <div class="tl-tools d-flex full-width align-center">
            <slot name="tools"/>
            <v-spacer />

            <tl-tool-btn v-if="todayExist" @click="goToToday" icon="mdi-target" tooltip="Сегодня" />
            <tl-tool-btn @click="expandAll" icon="mdi-unfold-more-horizontal" tooltip="Раскрыть всё" />
            <tl-tool-btn @click="collapseAll" icon="mdi-unfold-less-horizontal" tooltip="Свернуть всё" />
            <tl-tool-sort v-model="sort" />
          </div>
        </template>
        <template v-slot:event="{event}">
          <slot name="event" :event="event" />
        </template>
        <template v-slot:row-header="{item}">
          <slot name="row-header" :item="item" />
        </template>
      </tl-grid>
      <tl-tools :rows.sync="rows" :zoom.sync="zoom" class="pt-2" />
    </template>
  </div>
</template>

<script>
import TlEmpty from "@/components/TimeLine/TlEmpty";
import BaseSheet from "@/components/Base/BaseSheet";
import TlTools from "@/components/TimeLine/TlTools";
import TlGrid from "@/components/TimeLine/TlGrid";
import {defaultFilter, eventColors, TlDay, TlMonth} from "@/components/TimeLine/TlHelpers";
import TlToolBtn from "@/components/TimeLine/TlToolBtn";
import TlToolSort from "@/components/TimeLine/TlToolSort";
import Tools from "@/plugins/Tools";

export default {
  name: "TlCalendar",
  components: {TlToolSort, TlToolBtn, TlGrid, TlTools, BaseSheet, TlEmpty},
  props: {
    items: {
      type: Array,
      required: true
    },
    holidays: {
      type: Array,
      default: () => []
    },
    minDate: {
      type: Date,
      required: true
    },
    maxDate: {
      type: Date,
      required: true
    },
    draggable: {
      type: Boolean,
      default: false
    },
    search: {
      type: String,
      default: ""
    },
    customFilter: {
      type: Function,
      default: defaultFilter
    },
  },
  data() {
    return {
      todayExist: false,
      sort: 0,
      rows: 10,
      zoom: 100,
      // dates: [],
      months: [],
    }
  },
  created() {
    // this.init()
  },
  computed: {
    coloredItems() {
      return this.addColorPerRow( this.items )
    },
    filteredItems() {
      const items = [...this.coloredItems]

      if (this.search === "") return items

      return items.filter(item => {
        if (!item.children) {
          return this.customFilter(item.id, this.search, item.user)
        }else {
          item.children = item.children.filter(child => this.customFilter(child.id, this.search, child.user))
          return item.children.length
        }
      })
    },
    sortedItems() {
      const items = Tools.copyObject(this.filteredItems)

      if (this.sort === 0) return items

      const sortedItems = [...items].sort(this.compare)

      sortedItems.forEach(item => {
        if (item.children && item.children.length) {
          item.children = [...item.children].sort(this.compare)
        }
      })

      return sortedItems
    },
    dates() {
      const dates = []

      let currDay = this.$moment(this.minDate)
      let lastDay = this.$moment(this.maxDate)

      do {
        this.addDayToMonth(currDay)
        const day = new TlDay(currDay.toDate(), this.holidays)
        if (day.today) this.todayExist = true

        const events = []
        this.filteredItems.forEach(item => {
          if (item.events) {
            item.events.forEach(event => {
              if (new Date(event.start) <= currDay.toDate().withoutTime() && currDay.toDate().withoutTime() <= new Date(event.end)) {
                events.push(event)
              }
            })
          }else if (item.children) {
            item.children.forEach(child => {
              child.events.forEach(event => {
                if (new Date(event.start) <= currDay.toDate().withoutTime() && currDay.toDate().withoutTime() <= new Date(event.end)) {
                  events.push(event)
                }
              })
            })
          }
        })

        day.events = events.length
        dates.push(day)

        currDay.add('1', 'days')
      } while (currDay <= lastDay)

      return dates
    }
  },
  methods: {
    // init() {
    //   this.dates = []
    //
    //   let currDay = this.$moment(this.minDate)
    //   let lastDay = this.$moment(this.maxDate)
    //
    //   do {
    //     this.addDayToMonth(currDay)
    //     const day = new TlDay(currDay.toDate(), this.holidays)
    //     if (day.today) this.todayExist = true
    //
    //     const events = []
    //     this.filteredItems.forEach(item => {
    //       item.events.forEach(event => {
    //         if (new Date(event.start) <= currDay.toDate().withoutTime() && currDay.toDate().withoutTime() <= new Date(event.end)) {
    //           events.push(event)
    //         }
    //       })
    //     })
    //
    //     day.events = events
    //     this.dates.push(day)
    //
    //     currDay.add('1', 'days')
    //   } while (currDay <= lastDay)
    // },
    addColorPerRow(items) {
      if (items.some(item => item.children && item.children.length)) {
        return items.map( item => {
          if (item.children && item.children.length) {
            item.children = this.addRandColorToItems(item.children)
          }

          return item
        })
      }

      return this.addRandColorToItems(items)
    },
    addRandColorToItems(items) {
      let prevColor = undefined

      return items.map(item => {
        let color = undefined
        do {
          color = eventColors.getRandomElement()
        } while ( color === prevColor)

        prevColor = color
        item.color = color
        return item
      })
    },
    addDayToMonth(day) {
      const key = day.get('month') + '.' + day.get('year')
      let month = this.months[key]

      if (!month) {
        this.months[key] = new TlMonth(key, day)
      }
      this.months[key].add(day)
    },
    compare(item1, item2) {
      let a = item1.title.toLowerCase(),
          b = item2.title.toLowerCase()
      return (this.sort === 1 ? a > b : a < b) ? 0 : -1
    },
    expandAll() {
      this.$refs.TlGrid.expandAll()
    },
    collapseAll() {
      this.$refs.TlGrid.collapseAll()
    },
    goToToday() {
      this.$refs.TlGrid.scrollToToday()
    }
  }
}
</script>