<template>
  <div>
    <v-divider class="mt-5"/>
    <div
        class="text-center my-3 subtitle-2 font-weight-regular"
        style="color: rgba(0, 0, 0, 0.38);"
    >
      <span v-if="isEmpty">Отсутствуют данные</span>
      <span v-else>Не найдено подходящих записей</span>
    </div>
    <v-divider/>
  </div>
</template>

<script>
export default {
  name: "TlEmpty",
  props: {
    isEmpty: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>

</style>