<template>
  <div
      :id="'event-' + event.id"
      class="tl-event elevation-2"
      :class="[colorClass, padRight]"
      v-ripple
      draggable="false"
      :tabindex="0"
      @dragstart.prevent
  >
    <div class="relative fill-height full-width">
      <slot name="event" :event="event" :color="color" />
    </div>
    <v-icon
        v-if="draggable"
        @mousedown="onDragStart"
        class="tl-event__drag-icon"
      >
      mdi-drag-vertical
    </v-icon>
  </div>
</template>

<script>

export default {
  name: "TlEvent",
  props: {
    event: {
      type: Object,
      required: true
    },
    draggable: {
      type: Boolean,
      default: false
    },
    cellWidth: {
      type: Number,
      required: true
    },
    color: {
      type: String,
      required: true
    }
  },
  computed: {
    padRight() {
      return this.draggable ? 'tl-event__draggable' : ''
    },
    colorClass() {
      return "tl-event_" + this.color
    }
  },
  data() {
    return {
      isOverflow: false
    }
  },
  methods: {
    onDragStart(e) {
      const id = '#event-' + this.event.id
      const el = document.querySelector(id)

      const currX = e.clientX
      let cols = el.style.gridColumn

      let cellWidthPx = document.querySelector(".tl-cell")?.offsetWidth

      let cellWidth = parseInt(cellWidthPx || 30)
      if (!cols) {
        return
      }

      cols = cols.split('/')
      const colStart = +cols[0]
      const colEnd = +cols[1]

      function onMouseMove(e) {
        let diff = e.clientX - currX
        let days = Math.round(diff / cellWidth);

        let start = colStart + days
        if (start < 0) {
          start = 0
        }

        let end = colEnd + days
        if (end < 0) {
          end = 0
        }

        el.style.gridColumn = `${start} / ${end}`
      }

      document.addEventListener('mousemove', onMouseMove)

      function onMoveEnd() {
        document.removeEventListener('mousemove', onMouseMove);
        document.ondragend = null;
        document.onmouseup = null;
      }

      document.onmouseup = onMoveEnd
      document.ondragend = onMoveEnd
    },
  }
}
</script>

<style lang="scss">
</style>