<template>
  <div class="tl-view elevation-2 tl-grid" :style="`font-size: ${fontSize}px; max-height: ${maxHeight}px;`">
    <div class="tl-grid__header">
      <tl-grid-header-months :months="months">
        <template v-slot:tools><slot name="tools" /></template>
      </tl-grid-header-months>
      <tl-grid-header-days :days="dates">
        <template v-slot:corner>
          <slot name="corner"/>
        </template>
      </tl-grid-header-days>
    </div>

    <tl-grid-content
        :items="items"
        :days="dates"
        :draggable="draggable"
        :expanded-rows="expandedRows"

        @expand="expandRow"
        @collapse="collapseRow"
    >
      <template v-slot:event="{event}">
        <slot name="event" :event="event" />
      </template>
      <template v-slot:row-header="{item}">
        <slot name="row-header" :item="item" />
      </template>
    </tl-grid-content>

    <tl-grid-footer :dates="dates" class="tl-grid__footer"/>
  </div>
</template>

<script>
import {TlDay, TlMonth} from "@/components/TimeLine/TlHelpers";
import TlGridFooter from "@/components/TimeLine/TlGridFooter";
import TlGridHeaderMonths from "@/components/TimeLine/TlGridHeaderMonths";
import TlGridHeaderDays from "@/components/TimeLine/TlGridHeaderDays";
import TlGridItem from "@/components/TimeLine/TlGridContent";
import TlGridContent from "@/components/TimeLine/TlGridContent";
import BaseBtnSort from "@/components/Base/Buttons/BaseBtnSort";
import IconBtnWithTip from "@/components/IconBtnWithTip";
import TlToolBtn from "@/components/TimeLine/TlToolBtn";
import TlToolSort from "@/components/TimeLine/TlToolSort";

export default {
  name: "TlGrid",
  components: {
    TlToolSort,
    TlToolBtn,
    IconBtnWithTip,
    BaseBtnSort, TlGridContent, TlGridItem, TlGridHeaderDays, TlGridHeaderMonths, TlGridFooter},
  props: {
    items: {
      type: Array,
      required: true
    },
    dates: {
      type: Array,
      required: true,
      validator: (arr) => arr.every(item => item instanceof TlDay)
    },
    months: {
      type: Array,
      required: true,
      validator: (arr) => arr.every(item => item instanceof TlMonth)
    },
    minDate: {
      type: Date,
      required: true
    },
    maxDate: {
      type: Date,
      required: true
    },
    zoom: {
      type: Number,
      default: 100
    },
    rows: {
      type: Number,
      default: 10
    },
    draggable: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      expandedRows: [],
      headerH: 0,
      rowH:    0,
      footerH: 0,
      maxHeight: 17
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.calcMaxH()
    })
  },
  computed: {
    year() {
      return this.minDate.getFullYear()
    },
    fontSize() {
      return 16 * this.zoom / 100
    }
  },
  methods: {
    calcMaxH() {
      const scrollH = window.innerWidth - document.body.offsetWidth
      this.headerH = document.querySelector(".tl-grid__header")?.clientHeight || 0
      this.rowH = document.querySelector(".tl-content__row ")?.clientHeight || 0
      this.footerH = document.querySelector(".tl-grid__footer")?.clientHeight || 0

      this.maxHeight = this.headerH + this.rows * this.rowH + this.footerH + scrollH;
    },
    scrollTo(selector) {
      this.$nextTick(() => {
        const element = document.querySelector(selector)
        if (!element) return

        const view = document.querySelector('.tl-view')

        view.scroll(
          element.offsetLeft - view.clientWidth / 2,
          0
        );
      })
    },
    scrollToDate(date) {
      this.scrollTo(`div[data-date="${date}"]`)
    },
    scrollToToday() {
      this.scrollToDate(this.$moment().toText())
    },
    expandRow(id) {
      this.expandedRows.push(id)
    },
    collapseRow(id) {
      const index = this.expandedRows.indexOf(id)
      if (index !== -1) {
        this.expandedRows.splice(index, 1);
      }
    },
    expandAll() {
      this.expandedRows = this.items.map(item => item.id)
    },
    collapseAll() {
      this.expandedRows = []
    }
  },
  watch: {
    fontSize() {
      this.$nextTick(() => {
        this.calcMaxH()
      })
    },
    rows() {
      this.$nextTick(() => {
        this.calcMaxH()
      })
    }
  }
}
</script>
