<template>
  <div class="tl-grid__content">
    <template v-for="item in items">
      <tl-grid-row
          :key="item.id"
          :uniq="item.id"
          :days="days"
          :events="item.events"
          empty
          clickable
          :draggable="draggable"
          :root="item.root"
          :color="item.color"
          :class="{'tl-grid__content-root': item.root}"
          class="tl-content__row"
          :open="isExpanded(item.id)"
          @expand="toggleExpand(item.id)"
      >
        <template v-slot:header>
          <slot name="row-header" :item="item" />
        </template>
        <template v-slot:event="{event}">
          <slot name="event" :event="event" />
        </template>
      </tl-grid-row>
      <div
          v-if="item.children && isExpanded(item.id)"
          class="tl-expand"
          :class="{'tl-expand_opened': isExpanded(item.id)}"
      >
        <tl-grid-row
            class="tl-content__row"
            v-for="child in item.children"
            :key="child.id"
            :uniq="child.id"
            :days="days"
            :color="child.color"
            empty
            :draggable="draggable"
            :events="child.events"
            clickable
        >
          <template v-slot:header>
            <slot name="row-header" :item="child" />
          </template>
          <template v-slot:event="{event}">
            <slot name="event" :event="event" />
          </template>
        </tl-grid-row>
      </div>
    </template>
  </div>
</template>

<script>
import TlGridRow from "@/components/TimeLine/TlGridRow";

export default {
  name: "TlGridContent",
  components: {TlGridRow},
  props: {
    items: {
      type: Array,
      required: true
    },
    days: {
      type: Array,
      required: true
    },
    draggable: {
      type: Boolean,
      default: false
    },
    expandedRows: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      rows: 10
    }
  },
  methods: {
    isExpanded(id) {
      return this.expandedRows.indexOf(id) !== -1
    },
    toggleExpand(id) {
      if (this.expandedRows.indexOf(id) !== -1) {
        this.$emit('collapse', id)
      } else {
        this.$emit('expand', id)
      }
    }
  }
}
</script>

<style lang="scss" scoped>


</style>