<template>
  <tl-grid-row :days="dates" uniq="footer">
    <template v-slot:item="{item}">
      <div
          class="tl-footer__cell "
          :class="{
                'tl-footer__cell_weekend': item.weekend,
                'tl-footer__cell_holiday': item.holiday,
                'tl-cell_month-end': item.month.end,
                'tl-cell_month-start': item.month.start,
              }"
      >
        <div class="tl-footer__cell-content" v-if="item.events">
          {{item.events}}
        </div>
        <div class="tl-footer__workload" :style="getStyle(item.events)"/>
      </div>
    </template>
  </tl-grid-row>
</template>

<script>
import TlGridRow from "@/components/TimeLine/TlGridRow";

function interpolateColor(color1, color2, progress) {
  var r1 = parseInt(color1.slice(1, 3), 16);
  var g1 = parseInt(color1.slice(3, 5), 16);
  var b1 = parseInt(color1.slice(5, 7), 16);

  var r2 = parseInt(color2.slice(1, 3), 16);
  var g2 = parseInt(color2.slice(3, 5), 16);
  var b2 = parseInt(color2.slice(5, 7), 16);

  var r = Math.round(r1 + (r2 - r1) * progress);
  var g = Math.round(g1 + (g2 - g1) * progress);
  var b = Math.round(b1 + (b2 - b1) * progress);

  return `rgb(${r}, ${g}, ${b})`;
}

export default {
  name: "TlGridFooter",
  components: {TlGridRow},
  props: {
    dates: {
      type: Array,
      required: true
    }
  },
  computed: {
    maxEventsPerDay() {
      return Math.max(...this.dates.map(date => date.events))
    }
  },
  methods: {
    getStyle(count) {
      let color1 = "#a0ff43";
      let color2 = "#e7d801";
      let color3 = "#e05b29";

      let color;
      const progress = count / this.maxEventsPerDay
      if (progress <= 0.5) {
        color = interpolateColor(color1, color2, progress * 2);
      } else {
        color = interpolateColor(color2, color3, (progress - 0.5) * 2);
      }

      return `height: ${ progress * 100}%; color: ${color}`
    }
  }
}
</script>

<style scoped>

</style>