<template>
  <tl-grid-row uniq="header-days" :days="days">
    <template v-slot:header>
      <div class="tl-corner">
        <slot name="corner"/>
      </div>
    </template>
    <template v-slot:item="{item}">
      <div
          :data-date="item.date"
          class="tl-cell tl-day"
          :class="{
                'tl-day_today': item.today,
                'tl-day_weekend': item.weekend,
                'tl-day_holiday': item.isHoliday,
                'tl-cell_month-end': item.month.end,
                'tl-cell_month-start': item.month.start,
              }"
      >
        <div>
          {{ item.weekDayTitle }}
        </div>
        <div>
          {{ item.number }}
        </div>
      </div>
    </template>
  </tl-grid-row>

</template>

<script>
import TlGridRow from "@/components/TimeLine/TlGridRow";
export default {
  name: "TlGridHeaderDays",
  components: {TlGridRow},
  props: {
    days: {
      type: Array,
      required: true
    }
  },
}
</script>

<style scoped>

</style>