<template>
  <tl-grid-row uniq="header-months" :days="months" :cols="cols">
    <template v-slot:header>
      <slot name="tools"/>
    </template>
      <template v-slot:item="{item}">
        <div class="tl-month"
             :class="{
                  'tl-month_start': item.hasStart,
                  'tl-month_end': item.hasEnd,
                 }"
             :style="`grid-column: span ${item.days};`"
        >
          <span class="tl-month__title">
            {{ item.title }}
            {{ multiYears ? item.year : "" }}
          </span>
        </div>
      </template>
  </tl-grid-row>
</template>

<script>
import TlGridRow from "@/components/TimeLine/TlGridRow";
import TlTools from "@/components/TimeLine/TlTools";
export default {
  name: "TlGridHeaderMonths",
  components: {TlTools, TlGridRow},
  props: {
    months: {
      type: Array,
      required: true
    }
  },
  computed: {
    cols() {
      return this.months.reduce((a, b) => {
        return a + b.days
      }, 0)
    },
    multiYears() {
      const years = new Set()
      this.months.forEach(m => years.add(m.year))

      return years.size > 1
    }
  }
}
</script>

<style scoped>

</style>