<template>
  <div class="tl-row">
    <div
        class="tl-row__header"
        :class="{
          'tl-row__header-clickable': clickable,
          'tl-row__header-root': root
        }"
        v-ripple="clickable && {class: 'info--text'}"
    >
      <div class="tl-row__header-content">
        <base-btn-expand
            class="tl-row__header__expand-btn"
            v-if="root"
            :value="open"
            @input="$emit('expand', !open)"
        />
        <slot name="header"/>
      </div>
    </div>
    <div class="tl-row__cells" :style="styleColsSpan">
      <template v-for="day in days">
        <slot name="item" :item="day" :itemKey="uniq + day.date">
          <div
              :key="uniq + day.date"
              :data-date="day.date"

              class="tl-cell"
              :class="{
                'tl-cell_month-end': day.month.end,
                'tl-cell_month-start': day.month.start,
                'tl-cell_today': day.today,
              }"
          >
            <template v-if="!empty">
              {{ day[itemText] }}
            </template>
          </div>
        </slot>
      </template>

      <template v-for="event in events">
        <tl-event
            :event="event"
            :style="getStyle(event)"
            :cell-width="cellWidth"
            :draggable="draggable"
            :color="color"
        >
          <template v-slot:event="{event}">
            <slot name="event" :event="event" />
          </template>
        </tl-event>
      </template>
    </div>
  </div>
</template>

<script>
import TlEvent from "@/components/TimeLine/TlEvent";
import BaseBtnExpand from "@/components/Base/Buttons/BaseBtnExpand";
import {eventColors} from "@/components/TimeLine/TlHelpers";

export default {
  name: "TlGridRow",
  components: {BaseBtnExpand, TlEvent},
  props: {
    days: {
      type: Array,
      required: true
    },
    itemText: {
      type: String,
      default: "title"
    },
    cols: {
      type: Number,
      default: null
    },
    empty: {
      type: Boolean,
      default: false
    },
    events: {
      type: Array,
    },
    clickable: {
      type: Boolean,
      default: false
    },
    root: {
      type: Boolean,
      default: false
    },
    open: {
      type: Boolean,
      default: false
    },
    hidden: {
      type: Boolean,
      default: false
    },
    uniq: {
      type: String,
      required: true
    },
    draggable: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: "info",
      validator: (val) => eventColors.indexOf(val) !== -1
    },
  },
  data() {
    return {
      cellWidth: 2
    }
  },
  computed: {
    styleColsSpan() {
      const n = this.cols || this.days.length
      const cellWidth = this.cellWidth + 'em'
      return ` grid-template-columns: repeat(${n}, 1fr)`
    }
  },
  methods: {
    findDateCol(date) {
      date = this.$moment(date).toText()
      let col = this.days.findIndex(d => d.date === date)
      if (col) {
        return col + 1
      }

      return -1
    },
    getStyle(event) {
      const colStart = this.findDateCol(event.start)
      const colEnd = this.findDateCol(event.end)

      if (colStart === -1 || colEnd === -1) {
        return ''
      }

      return `grid-column: ${colStart}/${colEnd + 1}`
    }
  }
}
</script>

<style scoped>

</style>