<template>
  <div class="d-flex flex-row justify-end align-center">
    <icon-btn-with-tip
        icon="mdi-minus"
        small
        :disable="rows === minRows"
        @click="lessRows"
    >
      Меньше строк на странице
    </icon-btn-with-tip>
    <span class="tl-footer__rows" style="cursor: default;">{{ rowsData }}</span>
    <icon-btn-with-tip
        icon="mdi-plus"
        small
        :disable="rows === maxRows"
        @click="moreRows"
    >
      Больше строк на странице
    </icon-btn-with-tip>
    <v-slider
        v-model="zoomData"
        color="#757575"
        track-color="#ccc"

        class="tl-footer__slider"
        thumb-label
        :thumb-size="24"
        :step="stepZoom"
        :min="minZoom"
        :max="maxZoom"
        hide-details
        dense
    >
      <template v-slot:prepend>
        <icon-btn-with-tip icon="mdi-magnify-minus-outline" small @click="lessZoom">
          Уменьшить масштаб
        </icon-btn-with-tip>
      </template>
      <template v-slot:append>
        <icon-btn-with-tip icon="mdi-magnify-plus-outline" small @click="moreZoom">
          Увеличить масштаб
        </icon-btn-with-tip>
      </template>
    </v-slider>
  </div>
</template>

<script>
import BaseActions from "@/components/Base/BaseActions";
import IconBtnWithTip from "@/components/IconBtnWithTip";


export default {
  name: "TlTools",
  components: {IconBtnWithTip, BaseActions},
  props: {
    rows: {
      type: Number,
      required: true
    },
    zoom: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      minRows: 1,
      maxRows: 40,
      maxZoom: 200,
      minZoom: 50,
      stepZoom: 5
    }
  },
  created() {
    this.rowsData = +localStorage.getItem("tl-rows") || 10
    this.zoomData = +localStorage.getItem("tl-zoom") || 100
  },
  computed: {
    rowsData: {
      get() {
        return this.rows < 10 ? '0' + this.rows : this.rows
      },
      set(val) {
        localStorage.setItem("tl-rows", val)
        this.$emit('update:rows', val)
      }
    },
    zoomData: {
      get() {
        return this.zoom
      },
      set(val) {
        localStorage.setItem("tl-zoom", val)
        this.$emit('update:zoom', val)
      }
    }
  },
  methods: {
    lessRows() {
      if (this.rows === this.minRows) {
        return
      }
      this.rowsData--
    },
    moreRows() {
      if (this.rows === this.maxRows) {
        return
      }
      this.rowsData++
    },
    lessZoom() {
      if (this.zoom <= this.minZoom) {
        this.zoom = this.minZoom
        return
      }
      this.zoomData -= this.stepZoom
    },
    moreZoom() {
      if (this.zoom >= this.maxZoom) {
        this.zoom = this.maxZoom
        return
      }
      this.zoomData += this.stepZoom
    }
  },
}
</script>

<style scoped>
</style>