<template>
  <v-tooltip bottom :disabled="tooltip === ''">
    <template v-slot:activator="{on, attrs}">
      <button
          class="tl-tools__btn d-flex align-center"
          @click="$emit('click')"

          v-bind="attrs"
          v-on="on"
      >
        <v-icon :color="color" class="tl-tools__icon">
          {{icon}}
        </v-icon>
      </button>
    </template>
    <template v-slot:default>
      {{tooltip}}
    </template>
  </v-tooltip>
</template>

<script>
export default {
  name: "TlToolBtn",
  props: {
    icon: {
      type: String,
      required: true
    },
    color: {
      type: String,
      default: ""
    },
    tooltip: {
      type: String,
      default: ""
    }
  }
}
</script>

<style scoped>

</style>