<template>
  <base-popup ref="popup">
    Период оценки эффективности будет удалён.<br>
    Продолжить?
  </base-popup>
</template>

<script>
import BasePopup from "@/components/Base/BasePopup";

export default {
  name: "AskPeriodDelete",
  components: {BasePopup},
  data() {
    return {

    }
  },
  methods: {
    async open({id}) {
      const period = this.$store.getters['performance/periods/getById'](id)
      if (!period) return

      const res = await this.$refs.popup.open()
      if (res) {
        period.delete()
      }
    }
  }
}
</script>

<style scoped>

</style>