.num-input {
  & .v-input__slot {
    padding: 0 !important;
  }

  & input[type='number'] {
    color: #707070;
    font-size: larger;
    font-weight: bold;
    text-align: center !important;
  }

  & .v-input__prepend-inner,
  & .v-input__append-inner{
    display: flex !important;
    align-items: center;
    line-height: initial !important;
    align-self: stretch;
    min-height: 100% !important;
    margin: 0 !important;
  }
}

.dashboard-cell {
  &--disabled {
    & .v-btn {
      color: rgba(0, 0, 0, 0.26) !important;
      pointer-events: none !important;
    }
  }
}