.blank-preview {
  flex-grow: 1;

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgba(0, 0, 0, 0.12) !important;
    max-height: 60px;
  }

  &__meta {
    display: flex;
    flex-direction: column;
    gap: $unit;
    justify-content: flex-end;

    &-key {
      font-weight: bold;
      color: rgba(0,0,0,.6);
    }

    &-value {
      word-wrap: break-word;
      word-break: break-all;
      font-style: italic;
      color: rgba(0,0,0,.87);
    }

    &-spacer {
      border-bottom: 1px dotted #ababab;
      margin: 0 $unit;
    }
  }
}

.emails-input {
  & .v-select__selections {
    gap: $unit;
    padding: $unit 0;
  }
}