.user-schedules {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(auto-fill, minmax(95%, 1fr));
  }
}

.user-schedule {
  &__stat-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    flex: 1 1 250px;
  }

  &__spacer {
    border-bottom: thin dotted #a4a4a4;
    margin: 0 4px;
  }

  &__value {
    font-weight: bold !important;
    padding: 0 !important;
  }
}
