<template>
  <main-block hide-header>
    <template v-slot:main>
      <router-view />
    </template>
    <template v-slot:sidebar>
      <setting-nav />
    </template>
  </main-block>
</template>

<script>
import MainBlock from "@/layouts/MainBlock";
import SettingNav from "@/components/Settings/SettingNav";

export default {
  name: 'Setting',
  components: {
    SettingNav,
    MainBlock
  }
};
</script>

<style lang="scss" scoped>
</style>