<template>
  <setting-block
      title="Настройки организации"
      :no-action="disabled"
      :submit-disable="!isChanged"
      :loading="loading"
      @submit="onSubmit"
  >
    <setting-row label="ID организации" description="Поделитесь кодом, для регистрации в вашей организации">
      <setting-org-id :id="organization.id"/>
    </setting-row>
    <setting-row label="Название организации" description="Название отдела или организации">
      <base-input
          v-model.trim="organization.title"
          :disabled="disabled"
          icon="mdi-sitemap"
          label="Название"
          name="title"
          @change="isChanged = true"
      />
    </setting-row>
  </setting-block>
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import BaseInput from "@/components/Base/Form/BaseInput";
import SettingOrgId from "@/components/Settings/SettingOrgId";
import SettingBlock from "@/components/Settings/SettingBlock";
import Organization from "@/models/Organization";

export default {
  name: "SettingOrg",
  components: {
    SettingBlock,
    SettingOrgId,
    BaseInput,
    SettingRow,
  },
  data() {
    return {
      loading: false,
      isChanged: false,
    }
  },
  computed: {
    disabled() {
      return !this.$can('manage', 'Service')
    },
    organization() {
      return Organization.get()
    }
  },
  methods: {
    async onSubmit() {
      this.loading = true
      await this.organization.save()
      this.loading = false

      this.isChanged = false
    }
  },
}
</script>

<style scoped>

</style>