<template>
  <div class="d-flex flex-column gap-1">
    <setting-profile-personal-info :user="user" />
    <setting-profile-account-info :user="user" disabled/>
<!--    <setting-profile-action :user="user" />-->
  </div>
</template>

<script>
import User from "@/models/User";
import SettingProfilePersonalInfo from "@/components/Settings/SettingProfilePersonalBlock";
import SettingProfileAccountInfo from "@/components/Settings/SettingProfileAccountBlock";
import SettingProfileAction from "@/components/Settings/SettingProfileAction";

export default {
  name: "SettingProfile",
  components: {SettingProfileAction, SettingProfileAccountInfo, SettingProfilePersonalInfo},
  created() {

  },
  computed: {
    user() {
      return new User(this.$store.getters['currentUser/get'])
    }
  },
}
</script>

<style scoped>

</style>