<template>
  <setting-block
      title="Настройки доступа"
      @submit="onSubmit"
      :no-action="disabled"
  >
    <setting-row label="Управление организацией" description="Измение настроек и параметров организации">
      <setting-select-roles v-model="org" owner-disable hide-user :disabled="disabled" />
    </setting-row>
    <setting-row label="Управление пользователями" description="Создание, редактирование и удаление пользователей">
      <setting-select-roles v-model="user" owner-disable hide-user :disabled="disabled" />
    </setting-row>
    <setting-row label="Управление структурой" description="Управление задачами и командами, назначение команд и задач пользователям">
      <setting-select-roles v-model="structure" owner-disable hide-user :disabled="disabled" />
    </setting-row>
  </setting-block>
</template>

<script>
import SettingRow from "@/components/Settings/SettingRow";
import SettingBlock from "@/components/Settings/SettingBlock";
import SettingSelectRoles from "@/components/Settings/SettingSelectRoles";

export default {
  name: "SettingAccessPermission",
  components: {SettingSelectRoles, SettingBlock, SettingRow},
  data() {
    return {
      readonly: true,
      organization: null,
      org: [3],
      structure: [3],
      user: [3]
    }
  },
  mounted() {
    this.organization = this.$store.getters['organization/get']
    this.org = this.organization.permission.Org
    this.user = this.organization.permission.User
    this.structure = this.organization.permission.Structure
  },
  computed: {
    disabled() {
      return !this.$can('manage', 'Service')
    }
  },
  methods: {
    onSubmit() {
      this.organization.permission.Org = this.org
      this.organization.permission.User = this.user
      this.organization.permission.Structure = this.structure

      this.organization.save()
    }
  }
}
</script>

<style scoped>
</style>