<template>
  <base-sheet :flat="flat" class="d-flex justify-center align-center py-4">
    <div class="text--secondary font-italic text-center">
      <v-divider />
      <span class="px-2" v-html="text"></span>
      <v-divider />
    </div>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
export default {
  name: "BaseDataEmptyLabel",
  components: {BaseSheet},
  props: {
    text: {
      type: String,
      default: "Команда не выбрана"
    },
    flat: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>

</style>