<template>
  <div class="fill-height text-center">
    <div v-if="comment" class="comment-block outlined fill-height">
      <v-icon small>mdi-format-quote-open-outline</v-icon>
      <!--      <blockquote class="font-italic">-->
      <!--        -&nbsp;&nbsp;{{ comment }}-->
      <!--      </blockquote>-->
      <blockquote class="font-italic" v-html="'-&nbsp;&nbsp;' + comment" />
    </div>
    <small v-else-if="!hideIfEmpty" class="font-italic font-weight-light">
      Нет
    </small>
  </div>
</template>

<script>
export default {
  name: "BaseComment",
  props: {
    comment: {
      type: String,
      required: true
    },
    hideIfEmpty: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>

</style>