<template>
  <span :class="status.color + '--text'" class="font-weight-medium">
    {{status.label}}
  </span>
</template>

<script>
import IStatusItem from "@/helper/interfaces/IStatusItem";

export default {
  name: "BaseStatusLabel",
  props: {
    status: {
      type: IStatusItem,
      required: true
    },
  }
}
</script>

<style scoped>

</style>