<template>
  <div class="relative fill-height min-w-20px">
    <icon-btn-with-tip x-small class="user-self__icon">
      Это вы
      <template v-slot:icon>
        <v-icon x-small color="deep-purple">mdi-star</v-icon>
      </template>
    </icon-btn-with-tip>
  </div>
</template>
<script>
import IconBtnWithTip from "@/components/IconBtnWithTip";
export default {
  name: 'BaseChipSelf',
  components: {IconBtnWithTip}
}
</script>