<template>
<!--  <base-sheet class="d-flex flex-column justify-space-between gap-3">-->
<!--    <div class="flex-grow-1">-->
<!--      <span class="text-h6 ml-1">-->
<!--        {{ goal.title }}-->
<!--      </span>-->
<!--      <vacation-item-comment :comment="goal.description" />-->
<!--    </div>-->
<!--    <div>-->
<!--      <div class="text-no-wrap">-->
<!--        Вес: <b>{{ goal.weight }}</b> %-->
<!--      </div>-->
<!--      <goal-card-progress v-model="goal.progress"/>-->
<!--      <goal-card-estimate v-if="true"/>-->
<!--    </div>-->
<!--  </base-sheet>-->

    <base-sheet class="d-flex gap-1 flex-column">
      <div v-html="goal.title" class="text-subtitle-1 font-weight-medium pl-2" />
      <v-divider />
      <div v-if="goal.description">
        <base-comment :comment="goal.description" />
      </div>
    </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import Goal from "@/_modules/performance/models/Goal";
import GoalCardProgress from "@/_modules/performance/components/GoalCard/GoalCardProgress";
import GoalCardEstimate from "@/_modules/performance/components/GoalCard/GoalCardEstimate";
import BaseComment from "@/components/Base/Labels/BaseComment";

export default {
  name: "GoalCardView",
  components: {BaseComment, GoalCardEstimate, GoalCardProgress, BaseSheet},
  props: {
    goal: {
      type: Goal,
      required: true
    },
    canEditProgress: {
      type: Boolean,
      default: false
    },
  },
  watch: {
    "goal.progress": function () {
      this.goal.updateProgress()
    }
  }
}
</script>

<style scoped>

</style>