<template>
  <base-sheet class="relative fill-height">
    <v-row no-gutters>
      <v-col cols="auto" class="pa-1">
        <div class="gaol-card__num rounded fill-height px-1">
          #{{ num }}
        </div>
      </v-col>
      <v-col cols="auto" class="pa-1 flex-grow-1">
        <base-input
            v-model="item.title"
            label="Название"
            outlined
            dense
            hide-details
            class="flex-grow-1"
            style="flex-basis: 50%;"
            required
        />
      </v-col>
      <v-col cols="3" class="pa-1">
        <v-autocomplete
            v-model="item.weight"
            label="Вес"
            :rules="[val => val > 0]"
            :items="weights"
            outlined
            editable
            dense
            hide-details
            style="flex-basis:70px"
        />
      </v-col>
      <v-col cols="12" class="pa-1">
        <v-textarea
            v-model="item.description"
            label="Описание"
            outlined
            no-resize
            rows="2"
            hide-details
            auto-grow
            class="gaol-card__description"
        />
      </v-col>
    </v-row>
    <v-btn
        v-if="num > 1"
        fab
        small
        elevation="2"
        color="red lighten-5"
        class="absolute-top-right gaol-card__close"
        @click="$emit('delete')"
    >
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import BaseInput from "@/components/Base/Form/BaseInput";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import Goal from "@/_modules/performance/models/Goal";
export default {
  name: "GoalCardForm",
  components: {BaseSelect, BaseInput, BaseSheet},
  props: {
    editable: {
      type: Boolean,
      default: false
    },
    num: {
      type: Number,
      required: true
    },
    item: {
      type: Goal,
      required: true
    }
  },
  computed: {
    weights() {
      return [...Array(100).keys()].map( x => { return { text: `${x+1} %`, value: x+1}})
    }
  }
}
</script>

<style scoped>

</style>