<template>
    <v-rating
        :value="rate"
        hover
        dense
        color="orange accent-2"
        background-color="grey"
    />
</template>

<script>
export default {
  name: "GoalCardEstimate",
  data() {
    return {
      rate: 0
    }
  }
}
</script>

<style scoped>

</style>