<template>
  <div class="d-flex full-width align-center goal-progress">
    <v-progress-linear
        striped
        :value="progress"
        height="36"
        color="light-blue accent-2"
        class="cursor-pointer"
        @change="(val) => progress = val"
    >
      <span class="text-body-2 font-weight-medium">Прогресс: {{progress}}%</span>
    </v-progress-linear>
    <v-btn icon tile color="light-green darken-3" @click="progress = 100">
      <v-icon>mdi-progress-check</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  name: "GoalCardProgress",
  props: {
    value: {
      type: [Number, String]
    }
  },
  computed: {
    progress: {
      get: function () { return this.value },
      set: function (val) {
        const int = Math.ceil(val)
        this.$emit('input', int)
      }
    }
  }
}
</script>

<style scoped>

</style>