.org-employees {
  & th,
  & td{
    padding: 0 0 !important;
  }

  &-row {
    & td {
      position: relative;
      text-align: center;
    }

    //&_action {
    //  border-left: 1px solid #e0e0e0;
    //  width: fit-content;
    //}
  }
}

.th-xs-pa-0 {
  @media screen and (max-width: 600px) {
    & th {
      padding: 0 4px !important;
    }
  }
}