@import "TeamWidget";
@import "EmployeesList";
@import "ModalImport";

.user-self__icon {
  position: absolute;
  top: 0;
  right: 0;
  & .v-icon {
    font-size: 1.3em !important;
  }
}

.org-list-item {
  display: flex;
  border: 1px solid #a2a2a2;
  border-radius: 4px;
  padding: $unit $unit*3;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow .4s ease-in-out;

  &_editable {
    border-style: dashed;
  }
  &_small {
    font-size: small;
    padding: 2px 6px;
  }

  &-action {
    display: flex;
    margin-left: 16px;
  }

  &_small &-action {
    margin-left: 8px;
  }
}