.team {
  &-tree {
    &__item {
      cursor: pointer;

      &:hover::before {
        content: "";
        position: absolute;
        left: 0; top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(25, 118, 210, 0.22);
      }
    }
  }

  &-list {
    &__header {
    }

    &__content {
      list-style-type: none;
      padding-left: $unit*7 !important;
      //margin-bottom: $unit;
    }

    &__item {
      //margin-left: $unit*2 !important;
    }
  }
}