<template>
  <v-checkbox
      v-bind="$attrs"
      v-on="$listeners"

      v-model="check"

      persistent-hint
      hide-details

      :name=" $attrs.name || $attrs.label || ''"
      :title="$attrs.label || ''"
      :disabled="disabled"
      :append-icon="disabled ? 'mdi-lock' : ''"
  >
    <template v-slot:prepend>
      <base-input-icon v-bind="$attrs" v-if="icon" :required="required">
        {{icon}}
      </base-input-icon>
    </template>
  </v-checkbox>
</template>

<script>
import BaseInputIcon from "@/components/Base/Form/BaseInputIcon";
export default {
  name: "BaseCheckbox",
  components: {BaseInputIcon},
  props: {
    value: {
      type: Boolean
    },
    disabled: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String
    },
    required: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    check: {
      get() { return this.value },
      set(val) { this.$emit('input', val)}
    }
  }
}
</script>

<style scoped>

</style>