<template>
  <span class="relative" :class="{'required-icon error--text': required, 'pr-2': !btnMode}">
    <v-icon :color="color">
      <slot />
    </v-icon>
  </span>
</template>

<script>
export default {
  name: "BaseInputIcon",
  props: {
    required: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: "blue-grey lighten-1"
    },
    btnMode: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style>

</style>