<template>
  <v-select
      v-bind="$attrs"
      v-on="$listeners"

      persistent-hint
      :hide-details="hideDetails"

      :rules="rules"

      :name=" $attrs.name || $attrs.label || ''"
      :title="$attrs.label || ''"
      :disabled="disabled"
      :append-icon="disabled ? 'mdi-lock' : ''"
  >
    <template v-slot:prepend>
      <base-input-icon v-if="icon" :required="required">
        {{icon}}
      </base-input-icon>
    </template>
    <template v-slot:selection="{item, index}">
      <slot name="selection" :item="item">
        <span class="mr-1" v-if="index > 0">,</span>
        <span>{{ item[$attrs['item-text'] || 'text']}}</span>
      </slot>
    </template>
  </v-select>
</template>

<script>
import BaseInputIcon from "@/components/Base/Form/BaseInputIcon";
import validations from "@/plugins/validations";
export default {
  name: "BaseSelect",
  components: {BaseInputIcon},
  props: {
    hideDetails: {
      type: Boolean,
      default: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String
    },
    required: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    rules() {
      const checks = []
      if (this.required) checks.push("req")

      return checks
          .map(check => check.split(':'))
          .map(([rule, param]) => {
            const func = validations[rule]
            if (func && param) return func(param)

            return func
          })
          .filter(rule => !!rule)
    }
  }
}
</script>

<style scoped>

</style>