<template>
  <base-input
      v-model.trim="password"
      label="Пароль"
      name="password"
      :type="visible ? 'text' :'password'"
      :icon="icon"
      :required="required"
      :check="check"
      autocomplete="current-password"
      @paste="onPaste"
  >
    <template v-slot:append>
      <v-btn icon @click="visible = !visible" small>
        <input-icon btn-mode v-if="visible">mdi-eye</input-icon>
        <input-icon btn-mode v-if="!visible">mdi-eye-off</input-icon>
      </v-btn>
    </template>
  </base-input>
</template>

<script>
import BaseInput from "@/components/Base/Form/BaseInput";
import InputIcon from "@/components/Base/Form/BaseInputIcon";
export default {
  name: "BaseInputPassword",
  components: {InputIcon, BaseInput},
  props: {
    value: {
      type: String
    },
    icon: {
      type: String,
      default: "mdi-form-textbox-password"
    },
    required: {
      type: Boolean,
      default: true
    },
    equal: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      visible: false
    }
  },
  computed: {
    password: {
      get: function () { return this.value },
      set: function (val) { this.$emit('input', val) }
    },
    check() {
      let check = ["min:6"]
      if (this.equal) check.push(`passEqual:${this.equal}`)

      return check.join('|')
    }
  },
  methods: {
    onPaste(e) {
      if (this.equal) e.preventDefault()
    }
  }
}
</script>

<style scoped>

</style>