<template>
  <div class="d-flex">
    <base-input
        v-model="number"

        v-on="$listeners"
        v-bind="$attrs"

        :disabled="lock && showLock || disabled"
        type="number"
        :min="min"
        :max="max"
        :check="`minN:${min}|maxN:${max}`"
        dense
        :outlined="outlined"
        class="num-input"
        :hint="`От ${min} до ${max}`"
    >
      <template v-slot:prepend-inner>
        <v-btn v-if="!disabled" icon @click="number--" :disabled="lock && showLock || number <= min" color="error" tile>
          <v-icon>mdi-minus</v-icon>
        </v-btn>
      </template>
      <template v-slot:append>
        <v-btn v-if="!disabled" icon @click="number++" :disabled="lock && showLock || number >= max" color="success" tile>
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
    </base-input>
    <div class="d-flex" style="max-height: 40px !important" v-if="showLock">
      <v-slide-y-reverse-transition leave-absolute>
        <v-btn v-if="lock" icon color="error" class="align-self-start" x-small @click="lock=!lock">
          <v-icon>mdi-lock</v-icon>
        </v-btn>
      </v-slide-y-reverse-transition>
      <v-slide-y-transition leave-absolute>
        <v-btn v-if="!lock" icon color="success" class="align-self-end" x-small @click="lock=!lock">
          <v-icon>mdi-lock-open</v-icon>
        </v-btn>
      </v-slide-y-transition>
    </div>
  </div>
</template>

<script>
import BaseInput from "@/components/Base/Form/BaseInput";

export default {
  name: "BaseInputNumeric",
  components: {BaseInput},
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    min: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: 10
    },
    value: {
      type: [Number, String]
    },
    showLock: {
      type: Boolean,
      default: false
    },
    outlined: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      lock: true
    }
  },
  computed: {
    number: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', +val)
      }
    }
  },
  methods: {
    reset() {
      this.lock = true
    }
  }
}
</script>

<style lang="scss">

</style>