<template>
  <v-text-field
      v-bind="$attrs"
      v-on="$listeners"

      :rules="rules"
      :name=" $attrs.name || $attrs.label || ''"
      :title="title"
      :disabled="disabled"
      :append-icon="disabled ? 'mdi-lock' : ''"
      @change.once="$emit('change')"
      class="text-overflow"
  >
    <template v-slot:prepend v-if="icon || required">
      <base-input-icon v-if="icon" :required="required">
        {{icon}}
      </base-input-icon>
    </template>
    <template v-slot:prepend-inner>
      <slot name="prepend-inner" />
    </template>
    <template v-slot:append>
      <slot name="append" />
    </template>
    <template v-slot:append-outer>
      <slot name="append-outer" />
    </template>
  </v-text-field>
</template>

<script>
import InputIcon from "@/components/Base/Form/BaseInputIcon";
import validations from "@/plugins/validations"
import BaseInputIcon from "@/components/Base/Form/BaseInputIcon";

export default {
  name: "BaseInput",
  components: {BaseInputIcon, InputIcon},
  props: {
    icon: {
      type: String
    },
    required: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    check: {
      type: String,
      default: ""
    }
  },
  computed: {
    title() {
      const title = this.$attrs.value || ''
      if (this.$attrs.type === 'password') return

      return title
    },
    rules() {
      const checks = this.check.split("|")

      if (this.required) checks.push("req")

      return checks
          .map(check => check.split(':'))
          .map(([rule, param]) => {
            const func = validations[rule]
            if (func && param) return func(param)

            return func
          })
          .filter(rule => !!rule)
    }
  }
}
</script>

<style scoped>

</style>