@keyframes shake {
  59% {
    margin-left: 0;
  }
  60%, 80% {
    margin-left: 4px;
  }
  70%, 90% {
    margin-left: -4px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




@keyframes flareAnimation {
  0% {
    left: -150%;
  }
  40%, 100% {
    left: 150%;
  }
}

.flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 70px;
  transform: skewX(-45deg);
  left: -150%;
  pointer-events: none;
  //background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  background: linear-gradient(90deg, rgba(73, 206, 255, 0.1), rgba(63, 215, 210, 0.3), rgba(73, 206, 255, 0.1));
  animation: flareAnimation 4s linear infinite 4.5s forwards;
}


.expanded-btn {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  border: $unit / 2 solid currentColor;

  &,
  &__text,
  &__icon, {
    transition: all .3s ease-in-out !important;
    color: currentColor !important;
  }

  &__text {
    color: currentColor !important;
    max-width: 0 !important;
  }

  &:hover &__text {
    padding-left: 2 * $unit;
    padding-right: 4 * $unit;
    max-width: 150px !important;
  }

  &__icon {
    font-size: 2em !important;
  }

  &:hover &__icon {
    transform: rotate(-90deg);
  }
}