.auth-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 100vw !important;
  //background-color: #97cfdb;
  //background: linear-gradient(335deg, #e0e18b, #97cfdb);

}

.auth {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 12px;

  &-action {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.org-input {
  &-group {
    position: relative;
  }

  &-item {

  }

  &-enter-active,
  &-leave-active {
    transition: all .7s ease;
  }

  &-enter-from {
    opacity: 0;
    transform: translateY(-15px) rotateX(90deg);
  }

  &-leave-to {
    opacity: 0;
    transform: translateY(15px) rotateX(90deg);
  }

  &-leave-active {
    position: absolute;
  }
}


.fade-in-h1 {
  animation: fadeIn 2s ease-in .5s backwards;
}
.fade-in-h2 {
  animation: fadeIn 2s ease-in 2s backwards;
}

.fade-in-btn {
  animation: fadeIn .5s ease-in 4s backwards;
}

