
$side-width: 250px;
$borderGrey: #e0e0e0;

$gridColSizes: (
        "chip": 100px,
        "xs": 250px,
        "sm": 325px,
        "md": 400px,
        "lg": 475px
);



.b-sheet {
  display: block;
  padding: $unit * 3 $unit * 3 $unit * 3 $unit * 3;
  border-radius: $unit * 2;
  position: relative;

  &-dense {
    padding: 0 !important;
  }

  //&::after {
  //  content: "";
  //  display: block;
  //  position: absolute;
  //  left: 0; top: 0;
  //  width: 100%;
  //  height: 100%;
  //  //background: rgba(23, 126, 0, 0.17);
  //  border-radius: $unit * 2;
  //  pointer-events: none;
  //}
}

.d-grid {
  display: grid !important;
}

@each $state, $col_width in $gridColSizes {
  .grid-cols-#{$state} {
    grid-template-columns: repeat(auto-fill, minmax($col_width, 1fr));
  }
}

.opacity-0 {
  opacity: 0;
}

.main-block {
  grid-template-columns: 1fr $side-width;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0;
  grid-row-gap: $unit * 2;

  &-left {
    grid-template-columns: $side-width 1fr;
  }

  &_only-main &__main {
    grid-column: span 2;
  }

  &__header {
    grid-column: span 2;
  }

  &__main {
    overflow: auto;
    padding-bottom: $unit * 2 !important;
    //max-width: calc(100% - #{$side-width}) !important;
    //max-width: 100% !important;
  }

  &__side {
    padding-left: $unit * 2 !important;
    //min-width: $side-width !important;
  }
}


.expand-btn {
  .v-btn__content {
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  }

  &_closed .v-icon {
    transform: rotate(-90deg);
  }

  &_closed.expand-btn--reverse .v-icon {
    transform: rotate(90deg);
  }
}

.b-avatar {
  &__label {
    line-height: .75rem !important;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.full-width {
  width: 100%;
}

.fit-content {
  width: fit-content;
}

.outlined {
  border: thin solid $borderGrey !important;

  &-dark{
    border: thin solid darken($borderGrey, 40%) !important;
  }
}

.border-left {
  border-left: thin solid $borderGrey !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.relative{
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.no-transition {
  &,
  &:before,
  &:after,
  &:hover {
    transition: none !important;
  }
}

.text-overflow{
  &, & > input, & input {
    text-overflow: ellipsis !important;
  }
}

.required-icon:after {
  content: "*";
  position: absolute;
}

.base-link {
  display: inline-block;
  position: relative;
  cursor: pointer;

  &--disabled {
    cursor: default !important;
    text-decoration: none;
    color: #5e5e5e !important;

    &:hover::after,
    &:hover::before {
      left: 50% !important;
      right: 50% !important;
    }
  }

  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 4px;
    border-bottom: 1px solid;
    transition: left .2s ease-in-out, right .2s ease-in-out;
  }

  &::before {
    border-bottom: 2px solid;
    transition: left .4s ease-in-out, right .4s ease-in-out;
  }

  &:hover::after,
  &:hover::before {
    left: 0;
    right: 0;
  }
}

.breadcrumbs {
  position: absolute;
  margin-top: -22px;
}

.comment-block {
  background-color: #f7f7f7;
  padding: 0 2 * $unit;
  display: flex;
  gap: 2 * $unit;
  border-radius: $unit;
  align-items: flex-start;
  text-align: left;
}


.b-card {
  display: flex;
  flex-direction: column;
  gap: 2 * $unit;
  padding: 0 2 * $unit;
  color: rgba(0,0,0,.6);

  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    color: rgba(0,0,0,.87);
  }

  &__title {
  }

  &__content {
  }

  &__action {
  }
}