
.vc-day-box-right-center,
.vc-day-box-center-center,
.vc-day-box-left-center {
  /*padding: 2px;*/
  align-items: start !important;
  width: 100%;
  & div {
    height: 100% !important;
    width: 100% !important;
  }
}

.vc-weeks {
  gap: 2px;

  & .vc-weekday:nth-child(6),
  & .vc-weekday:nth-child(7) {
    color: #da3e3e !important;
  }
}

$highlight-border-w: 2px;
$highlight-border-clr: rgba(19, 63, 26, 0.37);
$highlight-border-style: solid;

$selection-border-clr: rgba(21, 62, 89, 0.37);


.vc-day-content {
  box-sizing: border-box !important;
  border: 1px dashed #cccccc !important;
  border-radius: 4px !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 38px !important;
  overflow: hidden !important;

  &__highlights {
    border-top: $highlight-border-w $highlight-border-style $highlight-border-clr !important;
    border-bottom: $highlight-border-w $highlight-border-style $highlight-border-clr !important;
    border-radius: 0 !important;
    border-left: none !important;
    border-right: none !important;

    &-start {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
      border-left: $highlight-border-w $highlight-border-style $highlight-border-clr !important;
    }


    &-end {
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
      border-right: $highlight-border-w $highlight-border-style $highlight-border-clr !important;
    }
  }

  &__selection {
    border-top: $highlight-border-w $highlight-border-style $selection-border-clr !important;
    border-bottom: $highlight-border-w $highlight-border-style $selection-border-clr !important;
    border-radius: 0 !important;
    border-left: none !important;
    border-right: none !important;

    &-start {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
      border-left: $highlight-border-w $highlight-border-style $selection-border-clr !important;
    }


    &-end {
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
      border-right: $highlight-border-w $highlight-border-style $selection-border-clr !important;
    }
  }
}

.vc-highlight {
  //border: 1px dashed #ccc !important;
  border-radius: 4px !important;
  width: 100% !important;
  height: 100% !important;
}

.vc-dots {
  align-items: flex-start !important;
  flex-direction: column !important;
  margin-left: auto !important;
  padding: 2px;
  gap: 2px;
}

.vc-dot {
  width: 10px !important;
  height: 10px !important;
  margin-right: 0 !important;
}

$bar-border-clr: #5d5d5d;

.vc-bars {
  flex-direction: row !important;
  width: 100% !important;
  height: 5px !important;
  gap: 1px;
  margin: 2px 4px;
  background-color: $bar-border-clr !important;
  border: 1px solid $bar-border-clr !important;
  border-radius: 2px !important;

  transition: all .2s ease-in-out !important;
  .vc-day:hover &{
    height: 30% !important;
  }
}

.vc-bar {
  width: 100% !important;
  height: 100% !important;
  flex-grow: 0;
}

.popover-pointer-none .vc-popover-content-wrapper {
  pointer-events: none !important;
}

.sh-viewer__list {

  & tr, {
    & td:first-child,
    & td:nth-child(2),
    & th:first-child,
    & th:nth-child(2) {
      padding: 0 !important;
      padding-left: $unit !important;
    }
  }
}