.side-navigation .v-list-item {
  padding-left: 20px !important;

  .v-navigation-drawer--mini-variant.v-navigation-drawer--custom-mini-variant &{
    justify-content: start;
  }


  .v-application--is-ltr .v-list-item__action:first-child, .v-application--is-ltr & .v-list-item__icon:first-child {
    margin-right: 20px !important;
  }
}

.link-group-header {
  position: relative;
  width: calc(100% + 12px);
  transform: translateX(-6px);
  margin: 4 * $unit 0 2 * $unit;

  &__text {
    position: absolute;
    transform: translateY(-55%) translateX(-50%);
    padding: $unit;
    margin-left: 38px;
    background-color: white;
  }

  .v-navigation-drawer--mini-variant.v-navigation-drawer--custom-mini-variant &{

    &__divider {
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: opacity;
    }
  }
}