$unit: 4px;
$color-pack: false;
$selected-border-color: #9bd0d6;
$selected-bg-color: lighten($selected-border-color, 10%);

//$color-pack: false;
//@import '~vuetify/src/styles/main.sass';

@import "Base";
@import "@/assets/Colors.scss";
@import "Animation";
@import "Auth";
@import "CalendarCustom";
@import "layout";

@import "OrgStyles";
@import "@/_modules/planner/assets";
@import "@/_modules/performance/assets";

@import "RedefineVuetify";

@mixin magic-border($width, $color, $duration, $direction){
  position:relative;
  &:before{
    content:'';
    position:absolute;
    width:calc(100% + #{$width * 2});
    height:calc(100% + #{$width * 2});
    top:calc(#{$width}/-1);
    left:calc(#{$width}/-1);
    background:linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to left, $color 0%, $color 100%);
    background-size:100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
    background-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat:no-repeat, no-repeat;
    transition:transform $duration ease-in-out, background-position $duration ease-in-out, background-size $duration ease-in-out;
    transform:scaleX(0) rotate(180deg * $direction);
    transition-delay:$duration*2, $duration, 0s;

    border-radius: 4px;
    pointer-events: none;
  }
}

@mixin magic-border-hover($width, $color, $duration, $direction){
  @include magic-border($width, $color, $duration, $direction);

  &:hover{
    &:before{
      background-size:200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
      background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
      transform:scaleX(1) rotate(180deg * $direction);
      transition-delay:0s, $duration, $duration*2;
    }
  }
}

@mixin magic-border-focus($width, $color, $duration, $direction){
  @include magic-border($width, $color, $duration, $direction);

  &:focus,
  &:focus-visible,
  &:focus-within{
    outline: none;
    &:before{
      background-size:200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
      background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
      transform:scaleX(1) rotate(180deg * $direction);
      transition-delay:0s, $duration, $duration*2;
    }
  }
}


.v-window,
.v-window__container,
.v-window * {
  overflow: initial !important;
  overflow-x: clip !important;
}



#RTE__toolbar header {
  box-shadow: none;
  border-bottom: 1px solid #e0e0e0 !important;
}

#RTE__edition__field {
  transition: box-shadow .3s ease-in-out;
  padding: 12px !important;
  border: 2px solid transparent !important;

  @include magic-border-focus(2px, #45b2f8, .2s, 2);

}

#RTE__footer__actions {
  display: none !important;
}

.draw {
  @include magic-border-hover(3px, darken($selected-border-color, 8%), 0.1s, 2);

  &.selected {
    border-color: $selected-border-color;
    background-color: $selected-bg-color;
  }
}


.droppable::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  margin: 3px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-width: 2px;

  background-color: rgba(138, 255, 255, 0.1);
  border-radius: 5px;
  border-style: dashed;
  border-color: rgba(58, 247, 247, .5);
  z-index: 10;

  &:hover {
    background-color: rgba(138, 255, 255, 0.25);
  }
}

.droppable--active::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  margin: 3px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(138, 255, 255, 0.45);
  border-radius: 5px;
  border-style: dashed;
  border-color: rgba(58, 247, 247, .5);
  z-index: 10;

  &:hover {
    background-color: rgba(138, 255, 255, 0.45);
  }
}



// Цикл для генерации классов
@for $i from 1 through 10 { // здесь можно указать нужное количество классов
  .gap-#{$i} {
    gap: $unit * $i;
  }
}

@for $i from 0 through 100 { // здесь можно указать нужное количество классов
  .max-w-#{$i} {
    width: $i * 1% !important;
    max-width: $i * 1% !important;
  }
}

@for $i from 0 through 100 { // здесь можно указать нужное количество классов
  .min-w-#{$i * $unit} {
    min-width: $i * $unit !important;
  }
}

@for $i from 1 through 10 { // здесь можно указать нужное количество классов
  .border-radius-#{$i} {
    border-radius: $unit * $i;
  }
}

@for $i from 1 through 10 { // здесь можно указать нужное количество классов
  .rotated-#{$i * 90}  {
    &:hover .v-icon {
      transform: rotateZ(#{$i * 90}deg);
    }
  }
}

.rotatedX {
  &:hover {
    transform: scaleX(-1);
  }
}

.scale-anim{
  //transition: .2s ease-in-out;
  &:hover  .v-btn__content{
    //transform: translateY(-3px) scaleX(1.2) scaleY(1.2);
    //transition: transform .3s cubic-bezier(0.77, 0.11, 0.14, 3);
    //transition: .2s ease-in-out;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}








