<template>
  <div class="d-grid grid-cols-md gap-1">
    <user-goals-card
        v-for="period in periods"
        :key="period.id"

        :title="period.title"
        :period-id="period.id"
        :user="user"
    />
  </div>
</template>

<script>
import User from "@/models/User";
import {mapGetters} from "vuex";
import UserGoalsCard from "@/_modules/performance/components/UserGoalsCard";

export default {
  name: "UserPeriodList",
  components: {UserGoalsCard},
  props: {
    user: {
      type: User,
      required: true
    }
  },
  computed: {
    ...mapGetters('performance/periods', {'periods': "get"}),
  }
}
</script>

<style scoped>

</style>