<template>
  <v-app id="vuetify-app">
<!--    <v-system-bar v-if="sandboxMode" app class="justify-center" color="error">-->
<!--      <span class="mr-2">Выбор роли:</span>-->
<!--      <v-btn-toggle v-model="sandBoxRole" class="mr-2" color="warning" mandatory>-->
<!--        <v-btn v-for="role in $options.ROLES" :key="role.id" outlined text x-small>-->
<!--          {{ role.text }}-->
<!--        </v-btn>-->
<!--      </v-btn-toggle>-->
<!--      <v-btn class="white&#45;&#45;text font-weight-bold" small text @click="sandBoxOff">-->
<!--        ЗАРКЫТЬ-->
<!--        <v-icon color="white">mdi-close</v-icon>-->
<!--      </v-btn>-->
<!--    </v-system-bar>-->

    <component :is="layout" :loading="!isAppReady" :title="title">
      <router-view></router-view>
    </component>
    <app-message/>
  </v-app>
</template>

<script>
import LayoutApp from "@/layouts/LayoutApp"
import LayoutAuth from "@/layouts/LayoutAuth";
import AppMessage from "@/components/Message";
import {MessageService} from "@/services/MessageService";
import LayoutEmpty from "@/layouts/LayoutEmpty";
import {mapGetters} from "vuex";

export default {
  components: {
    LayoutEmpty,
    LayoutAuth,
    LayoutApp,
    AppMessage
  },
  data() {
    return {
      sandBoxRole: -1,
    }
  },
  computed: {
    ...mapGetters("app", {isAppReady: 'isReady'}),
    layout() {
      return this.$route.meta && this.$route.meta.layout || ""
    },
    title() {
      return this.$route.meta && this.$route.meta.title || ""
    },
  },
  errorCaptured(err, vm, info) {
    this.$ability.update()
    MessageService.errorMessage(err)
    return true
  },
};
</script>

<style lang="css">
#vuetify-app {
  background: rgb(139,214,225);
  background: linear-gradient(154deg, rgba(1, 87, 155, 0.35), rgba(3, 155, 229, 0.75)), url("./assets/bg-pattern.png") fixed;
  background-color: #A5E5FF;
  background-position: center center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
</style>

