<template>
  <base-sheet>
    <div class="period-content">
      <div class="period-header justify-space-between">
        {{ title || user.displayName }}
        <icon-btn-with-tip
            tag="a"
            icon="mdi-open-in-new"
            x-small
            :to="{name: 'PeriodUserView', params: {id: periodId, uid: user.id}}"
        >
          Просмотр
        </icon-btn-with-tip>
      </div>
      <v-divider />
      <div class="mt-2 px-1" v-if="goals.length">
        <ol>
          <li
              v-for="goal in goals"
              :key="goal.id"
              class="user-goals-card__item mt-2"
          >
            <div class="full-width d-flex justify-space-between">
              <span v-html="goal.title" />
              <icon-btn-with-tip
                  btn-class="ml-2 cursor-pointer"
                  tag="div"
                  tile
                  v-if="!!goal.description"
                  x-small
                  icon="mdi-comment-outline"
              >
                <span v-html="goal.description" />
              </icon-btn-with-tip>
            </div>
            <v-divider />
          </li>
        </ol>
      </div>
      <base-data-empty-label flat text="Цели не добавлены" v-else />
    </div>
  </base-sheet>
</template>

<script>
import User from "@/models/User";
import IconBtnWithTip from "@/components/IconBtnWithTip";
import BaseDataEmptyLabel from "@/components/Base/Labels/BaseDataEmptyLabel";
import BaseSheet from "@/components/Base/BaseSheet";

export default {
  name: "UserGoalsCard",
  components: {BaseSheet, BaseDataEmptyLabel, IconBtnWithTip},
  props: {
    periodId: {
      type: [String, Number],
      required: true
    },
    user: {
      type: User,
      required: true
    },
    title: {
      type: String,
      default: ''
    }
  },
  computed: {
    goals() {
      const goals = this.$store.getters["performance/goals/getByPeriodAndUserId"](this.periodId, this.user.id)
      return goals.sort((a, b) => a.position > b.position ? 0:-1)
    }
  }
}
</script>

<style scoped>

</style>