<template>
  <div>
    <app-header :title="title" app @expand="isExpand = !isExpand"/>
    <app-navigation v-model="isExpand" :is-mobile="isMobile"/>
    <app-loader v-if="loading"/>
    <v-main v-else>
      <div class="pt-8 pt-md-6 px-0 px-md-8">
        <v-breadcrumbs
            v-if="breadcrumbs.length > 1"
            divider=">"
            class="pa-0 pl-4 breadcrumbs"
            :items="breadcrumbs"
        >
          <template v-slot:item="{item}">
            <router-link
                class="base-link text-body-2"
                :class="{'base-link--disabled': item.disabled}"
                :to="getPath(item.to)"
            >
              {{ getBreadcrumb(item.meta.breadcrumb) }}
            </router-link>
          </template>
        </v-breadcrumbs>
        <router-view/>
      </div>
    </v-main>
  </div>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import AppLoader from "@/components/layout/AppLoader";
import AppNavigation from "@/components/layout/AppNavigation";
import AppHeader from "@/components/layout/AppHeader";

const expandLocalKey = 'navbarIsOpened'

export default {
  name: "LayoutApp",
  components: {
    AppHeader,
    AppNavigation,
    AppLoader,
    BaseSheet,
  },
  props: {
    title: String,
    loading: Boolean
  },
  data() {
    return {
      isExpand: true,
    }
  },
  created() {
    const wasExpanded = localStorage.getItem(expandLocalKey)
    this.isExpand = !this.isMobile && wasExpanded !== 'false'
  },
  computed: {
    isMobile() {
      return this.$vuetify.breakpoint.mobile
    },
    breadcrumbs() {
      const visibleBreadcrumbs = this.$breadcrumbs.filter(item => item.meta.breadcrumb !== 'hidden')
          return visibleBreadcrumbs.map((to, idx) => {
            return {
              disabled: idx === visibleBreadcrumbs.length - 1,
              to,
              meta: to.meta
            }
          })
    }
  },
  methods: {
    getBreadcrumb(bc) {
      var name = bc;
      if (typeof name === 'function') {
        name = name.call(this, this.$route.params);
      }
      if (typeof name === 'object') {
        name = name.label;
      }
      return name;
    },
    getPath(crumb) {
      var path = crumb.path;
      for (var _i = 0, _a = Object.entries(this.$route.params); _i < _a.length; _i++) {
        var _b = _a[_i],
            key = _b[0],
            value = _b[1];
        path = path.replace(":" + key, value);
      }
      return path;
    },
  },
  watch: {
    isExpand(newVal) {
      localStorage.setItem(expandLocalKey, '' + newVal)
    }
  }
};
</script>
