<template>
  <v-container class="fill-height auth-layout bg-color">
    <h1 class="grey--text text--lighten-4 text-h3 mb-2">{{getAppName}}</h1>
    <v-card elevation="8" max-width="450px" width="100%">
      <v-card-title class="justify-center" style="word-break: break-word;">
        {{ title }}
      </v-card-title>
      <v-card-text>
        <router-view />
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  props: {
    title: String,
    loading: Boolean
  },
  computed: {
    ...mapGetters('app', ["getAppName"])
  }
};
</script>


<style>
</style>
