<template>
  <v-container class="fill-height auth-layout">
    <router-view />
  </v-container>
</template>

<script>
export default {
  name: "LayoutEmpty",
  props: {
    title: String
  }
}
</script>

<style scoped>

</style>