<template>
  <div class="d-grid main-block" :class="{'main-block_only-main': !isSideVisible}">
    <div class="main-block__header" v-if="!hideHeader">
      <slot name="header" />
    </div>
    <div class="main-block__main">
      <slot name="main"/>
    </div>
    <div class="pl-2" v-if="isSideVisible">
      <slot name="sidebar"/>
    </div>

    <v-navigation-drawer
        v-if="!isSideVisible"
        v-model="drawer"
        app
        right
        temporary
        touchless
        class="pt-3"
        style="z-index: 100;"
    >
      <slot name="sidebar"/>
    </v-navigation-drawer>

    <slot name="default" />
  </div>
</template>

<script>
import IconBtnWithTip from "@/components/IconBtnWithTip";
import BaseSheet from "@/components/Base/BaseSheet";

export default {
  name: 'MainBlock',
  props: {
    hideHeader: {
      type: Boolean,
      default: false
    },
    hideSide: {
      type: Boolean,
      default: false
    },
    mainEmpty: {
      type: Boolean,
      default: false
    },
  },
  components: {BaseSheet, IconBtnWithTip},
  data() {
    return {
      drawer: false,
    }
  },
  provide() {
    return {openSidebar: this.openSidebar}
  },
  computed: {
    isSideVisible() {
      return !this.hideSide && !this.isMobile;
    },
    isMobile() {
      return this.$vuetify.breakpoint.smAndDown
    },
  },
  methods: {
    openSidebar() {
      this.drawer = true
    }
  }
}
</script>

<style lang="scss" scoped>
.main-block {
  max-width: 100%;
}

.side-block {
  position: sticky;
  position: -webkit-sticky;
  top: 56px;
}

</style>