.goal-card{
  display: grid;
  grid-template-columns: 10% auto 20%;
  grid-template-rows: repeat(2, auto);
  grid-gap: 4px;

  &__header-item{
    display: block;
    border-radius: $unit;
    border: 1px solid $border-color;
  }

  &__description {
    grid-column: span 3;
  }

  &__num {
    border: 1px solid #9e9e9e;
    flex-basis: 40px;
    font-size: x-large;
    text-align: center;
  }
  &__close {
    transform: translateX(20%) translateY(-20%) scale(0.75);
    color: red !important;
  }
}