.user-goals {
  $gap: 4px;

  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(400px - #{$gap}), 1fr));
  gap: $gap;

  &__progress {
    box-sizing: border-box;
    grid-column: span 2;
    border: $unit solid transparent !important;

    &-error {
      border: $unit solid #ff5252 !important;
      transition: all .1s cubic-bezier(.77,.11,.14,2.5);
      & .progress__label {
        animation: shake 0.6s cubic-bezier(0.25, 0.8, 0.5, 1);
      }
    }
  }
}



.goal-progress {
  border: 1px solid #444444;
  border-radius: 4px;
  overflow: hidden;
}