.period-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 6px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
  }

  &__add {
    $add-border-clr: #4c7e94;

    display: flex;
    align-items: center;
    justify-content: center;
    border: $unit dashed $add-border-clr !important;
    background: rgba($add-border-clr, 20%) !important;

    & .add-icon {
      color: $add-border-clr !important;
      transform: scale(1.35);
    }

    transition: all .2s;

    &:hover {
      cursor: pointer;
      background-color: rgba($add-border-clr, 50%);

      & .add-icon {
        color: darken($add-border-clr, 20%) !important;
        transition: all .4s cubic-bezier(0.77, 0.11, 0.14, 1);
        transform: scale(1.85);
      }
    }

    &:active {
      & .add-icon {
        transition: all .1s cubic-bezier(0.77, 0.11, 0.14, 1);
        transform: scale(1.45);
      }
    }
  }
}

.period {
  &-content {
    color: rgba(0, 0, 0, 0.87);
  }

  &-header {
    position: relative;
    display: flex;
    justify-content: left;
    margin-left: 12px;
    font-size: 1.25em;
  }

  &-status {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 4px 4px 0 4px !important;
  }

  &-details {
    text-decoration: none;
    list-style-type: none;
    padding: 0 4px  !important;

    &__item {
      display: flex;
      padding-top: 4px;
      align-items: baseline;
      justify-content: space-between;
    }

    &__spacer {
      margin: 0 4px;
      flex-grow: 1;
      border-bottom: thin dotted #ccc;
    }
  }

  &-action {
    display: flex;
    justify-content: space-between;

  }
}

.period-view {
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr)) !important;
}

.user-period-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-gap: 6px;
}

.user-goals-card {
  &__item {
    font-size: .9em;
    color: rgba(0,0,0);
  }
}

$p-height: 8px;
.pp {
  &__bar {
    position: relative;
    min-height: $p-height !important;
    max-height: $p-height !important;
    background-color: #e1e1e1;
    border: 1px solid #757575;
  }

  &__progress {
    $currColor: currentColor;
    border-radius: $unit;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    &-running {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__icon {
    &_run-wrapper {
      position: absolute;
      left: 0;
      right: 0;
    }
    &-start,
    &-end {
      display: block;
      overflow: hidden;
      background-color: white;
    }

    &-run {
      position: absolute;
      transform: translateX(-50%);
    }
  }
}

