<template>
  <button
      class="rounded-xl font-weight-medium expanded-btn elevation-2"
      :class="getColorClass"
      v-ripple
      @click="$emit('click')"
  >
    <v-icon class="expanded-btn__icon" v-text="icon" />
    <span
        class="expanded-btn__text text-no-wrap"
    >
      <slot />
    </span>
  </button>
</template>

<script>
export default {
  name: "BaseBtnExpanded",
  props: {
    color: {
      type: String,
      default: 'primary'
    },
    icon: {
      type: String,
      default: 'mdi-plus'
    },
  },
  computed: {
    getColorClass() {
      'light-green'
      const [clr, mod] = this.color.split(' ')
      let cls = clr + '--text'
      if (mod) cls += ' text--' + mod
      return cls
    }
  }
}
</script>

<style scoped>

</style>