<template>
  <v-icon v-if="disabled" :color="value ? 'error' : 'success'" v-text="value ? closeIcon : openIcon" />
  <v-btn
      v-else
      tile
      :color="value ? 'error' : 'success'"
      :disabled="disabled"
      icon
      @click="toggle"
  >
    <v-slide-x-transition leave-absolute>
      <v-icon key="lockOpen" v-if="!value" v-text="openIcon" />
    </v-slide-x-transition>
    <v-slide-x-reverse-transition leave-absolute>
      <v-icon key="lockClose" v-if="value" v-text="closeIcon" />
    </v-slide-x-reverse-transition>
  </v-btn>
</template>

<script>
export default {
  name: "BaseBtnLock",
  props: {
    value: {
      type: Boolean,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      openIcon: "mdi-lock-open",
      closeIcon: "mdi-lock"
    }
  },
  methods: {
    toggle() {
      if (!this.disabled) this.$emit('input', !this.value)
    }
  }
}
</script>

<style scoped>

</style>