<template>
  <v-btn
      @click="open = !open"
      class="expand-btn"
      :class="{
        'expand-btn--reverse': reverse,
        'expand-btn_closed': !open}"
      icon
      small
  >
    <v-icon>
      mdi-chevron-down
    </v-icon>
  </v-btn>
</template>

<script>
export default {
  name: "BaseBtnExpand",
  props: {
    value: {
      type: Boolean,
    },
    reverse: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    open: {
      get() {return this.value},
      set(val) {this.$emit('input', val)}
    }
  }
}
</script>

<style scoped>

</style>