<template>
  <div
      class="overflow-hidden relative pa-1 rounded"
      :class="{'full-width': $attrs.block}"
  >
    <v-btn
        v-on="$listeners"
        v-bind="$attrs"

        color="success"
        type="submit"
        class="px-6 white--text"
        :class="{'float-right': right, 'mx-auto': center}"
    >
      <slot>
      {{text}}
      </slot>
    </v-btn>
    <span v-if="!$attrs.disabled" class="flare" />
  </div>
</template>
<script>
export default {
  name: 'BaseBtnSubmit',
  props: {
    text: {
      type: String,
      default: "Сохранить"
    },
    right: {
      type: Boolean,
      default: false
    },
    center: {
      type: Boolean,
      default: false
    }
  }
}
</script>