<template>
  <icon-btn-with-tip
      :color="sort !== 0 ? 'primary' : 'blue-grey darken-2'"
      :icon="icon"
      @click="toggle"

      v-bind="$attrs"
      v-on="$listeners"
  >
    Сортировка
  </icon-btn-with-tip>
</template>

<script>
import IconBtnWithTip from "@/components/IconBtnWithTip";
export default {
  name: "BaseBtnSort",
  components: {IconBtnWithTip},
  props: {
    value: {
      type: Number,
      default: 0
    },
    iconNone: {
      type: String,
      default: ""
    },
    iconAsc: {
      type: String,
      default: "mdi-sort-alphabetical-ascending"
    },
    iconDesc: {
      type: String,
      default: "mdi-sort-alphabetical-descending"
    }
  },
  computed: {
    sort: {
      get() {return this.value},
      set(val){this.$emit('input', val)}
    },
    icon() {
      const iNone = this.iconNone || this.iconAsc
      switch (this.sort) {
        case 0: return iNone;
        case 1: return this.iconAsc;
        case -1: return this.iconDesc;
      }
    }
  },
  methods: {
    toggle() {
      this.sort = (this.sort + 2) % 3 - 1
    }
  }
}
</script>

<style scoped>

</style>