<template>
  <v-btn
      v-if="$vuetify.breakpoint.smAndDown && openSidebar !== undefined"
      icon
      @click.stop="openSidebar"
  >
    <v-icon>mdi-tune-variant</v-icon>
  </v-btn>
</template>

<script>
export default {
  name: "BaseBtnOpenSidebar",
  inject: ['openSidebar'],
}
</script>