<template>
  <span v-if="id">
      {{ title }}
 </span>
  <small v-else class="text--secondary font-italic">
    Не назнчена
  </small>
</template>
<script>

export default {
  name: 'BaseEmployeePosition',
  props: {
    id: {
      type: String,
      default: ""
    }
  },
  computed: {
    title() {
      return this.$store.getters['position/getById'](this.id)?.displayTitle
    }
  }
}
</script>