<template>
  <v-chip label outlined :color="roleItem.color" small>
    {{ roleItem.title.short }}
  </v-chip>
</template>

<script>
import {USER_GROUPS} from "@/plugins/CONSTANTS";

export default {
  name: "BaseEmployeeRole",
  props: {
    role: {
      type: [String, Number],
      required: true
    }
  },
  computed: {
    roleItem() {
      return USER_GROUPS.find(role => role.key === this.role)
    }
  }
}
</script>

<style scoped>

</style>