<template>
  <div class="d-flex flex-column justify-start fill-height" :class="{'justify-center': !descriptionVisible}">
    <div class="subtitle-1 text-truncate font-weight-medium pl-2 fill-height d-flex align-center">
        {{ simple ? user.displayName : user.fullName }}
        <base-chip-self v-if="user.id === currentUserId" class="align-self-start"/>
    </div>
    <div class="text--secondary pl-3" v-if="descriptionVisible">
      <div v-if="showPosition">
        <span class="font-weight-bold">Должность: </span>
        <base-employee-position :id="user.post"/>
      </div>
      <div v-if="showTeam">
        <span class="font-weight-bold">Команда: </span>
        <base-employee-team :id="user.team"/>
      </div>
      <span v-if="showEmail">
        <base-employee-email :email="user.email" />
      </span>
    </div>
  </div>
</template>
<script>
import BaseEmployeePosition from "@/components/Base/Employee/BaseEmployeePosition";
import BaseEmployeeTeam from "@/components/Base/Employee/BaseEmployeeTeam";
import BaseEmployeeEmail from "@/components/Base/Employee/BaseEmployeeEmail";
import BaseChipSelf from "@/components/Base/Labels/BaseChipSelf";
import {currentUserId} from "@/mixins";

export default {
  name: 'BaseEmployeeInfo',
  components: {
    BaseChipSelf,
    BaseEmployeeEmail,
    BaseEmployeeTeam,
    BaseEmployeePosition
  },
  mixins: [currentUserId],
  props: {
    user: {
      type: Object,
      required: true
    },
    simple: {
      type: Boolean,
      default: false
    },
    showEmail: {
      type: Boolean,
      default: true
    },
    showTeam: {
      type: Boolean,
      default: false
    },
    showPosition: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    descriptionVisible() {
      return !this.simple && this.showEmail || this.showTeam || this.showPosition
    }
  }
}
</script>