<template>
  <icon-btn-with-tip
      v-if="user.isActive"
      color="success"
      icon="mdi-check-decagram"
      tile
  >
    Зарегистрирован
  </icon-btn-with-tip>
  <icon-btn-with-tip
      v-else-if="user.isInviting"
      color="accent"
      icon="mdi-email-fast"
      tile
      :disabled="!$can('invite', user)"
      @click="invite"
      :loading="loading"
  >
    Приглашение отправлено:<br>
    <i>{{getDateAndTimeLabel()}}</i>
  </icon-btn-with-tip>
  <icon-btn-with-tip
      v-else
      tile
      :disabled="!$can('invite', user)"
      color="primary"
      icon="mdi-account-plus"
      @click="invite"
      :loading="loading"
  >
    Пригласить
  </icon-btn-with-tip>
</template>
<script>
import IconBtnWithTip from "@/components/IconBtnWithTip"
import {MessageService} from "@/services/MessageService";
import User from "@/models/User";

export default {
  name: 'BaseEmployeeStatus',
  components: {IconBtnWithTip},
  props: {
    user: {
      type: User,
      required: true
    }
  },
  data() {
    return {
      loading: false
    }
  },
  methods: {
    getDateAndTimeLabel() {
      return this.$moment(this.user.invitedAt).getDateAndTime()
    },
    async invite() {
      this.loading = true
      await this.user.invite()
      this.loading = false
    },
  }
}
</script>