<template>
  <div class="full-width">
    На email: <b>{{ email }}</b> было направлено письмо для подтверждения регисрации.
    <v-divider/>
    <div class="mt-3">
      Если письмо не пришло, проверьте папку спам
    </div>

    <div class="d-flex flex-row justify-space-between">
      <base-link text="На страницу входа" :to="{name: 'Login'}" />
      <div>
        <span v-if="disabled">
          {{ progress }}
        </span>
        <span v-else class="base-link cursor-pointer primary--text" @click="sendEmail">
          отправить повторно
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import authService from "@/services/AuthService";
import BaseLink from "@/components/Base/BaseLink";
import {mapGetters} from "vuex";
import {MessageService} from "@/services/MessageService";

export default {
  name: 'EmailSending',
  components: {BaseLink},
  data() {
    return {
      currTime: 0,
      timeout: 18000,
      interval: null,
    }
  },
  created() {
    if (!this.email) {
      return this.$router.push({name: 'Login'})
    }

    this.startTimer()
  },
  beforeDestroy() {
    this.clear()
  },
  computed: {
    ...mapGetters("auth", ["email"]),
    disabled() {
      return this.currTime < this.timeout
    },
    progress() {
      const {currTime, timeout} = this

      if (currTime < timeout) {
        return this.$moment(timeout - currTime).format("mm:ss")
      }

      this.clear()
      return ""
    },
  },
  methods: {
    async sendEmail() {
      try {
        await authService.sendActivationMail({email: this.email})
        this.startTimer()
      }catch (e) {
        MessageService.errorMessage("Не удалось отправить")
      }
    },
    startTimer() {
      this.currTime = 0
      this.interval = setInterval(this.tick, 1000);
    },
    clear() {
      clearInterval(this.interval)
    },
    tick() {
      this.currTime += 1000
    },
  }
};
</script>
