<template>
  <v-form v-model="valid" @submit.prevent="onSubmit" class="auth">
    <base-input
        v-model.trim="authData.email"
        label="Email"
        name="email"
        icon="mdi-account"
        check="email"
        autocomplete="username"
    />
    <base-input-password
        v-model="authData.password"
        icon="mdi-lock"
        :required="false"
    />
    <v-checkbox
        v-model="authData.remember" dense hide-details label="Запомнить меня">
    </v-checkbox>
    <div class="d-flex flex-column gap-2">
      <div class="d-flex flex-row justify-space-between px-2">
        <base-link
            :to="{name: 'Register'}"
            class="justify-self-start"
            text="Регистрация"
        />
        <base-link
            :to="{name: 'Reset'}"
            class="justify-self-end"
            text="Забыли пароль?"
        />
      </div>
      <base-btn-submit class="align-self-center" :disabled="!valid" :loading="loading" text="Войти"/>
    </div>
  </v-form>
</template>

<script>
import BaseInput from "@/components/Base/Form/BaseInput";
import BaseInputPassword from "@/components/Base/Form/BaseInputPassword";
import BaseBtnSubmit from "@/components/Base/Buttons/BaseBtnSubmit";
import BaseLink from "@/components/Base/BaseLink";
import authService from "@/services/AuthService";

export default {
  name: 'Login',
  components: {BaseLink, BaseBtnSubmit, BaseInputPassword, BaseInput},
  data() {
    return {
      visiblePassword: false,
      valid: false,
      loading: false,
      authData: {
        email: "",
        password: "",
        remember: true
      },
    }
  },
  methods: {
    async onSubmit() {
      this.loading = true;
      await authService.login(this.authData)
      this.loading = false;
    }
  },
};
</script>