<template>
  <v-overlay opacity="1" color="bg-color">
    <v-slide-x-transition hide-on-leave leave-absolute>
      <div key="step-1" v-if="step === 0">
        <h1 class="text-h1 fade-in-h1">Добро пожаловать!</h1>
        <h2 class="text-h2 fade-in-h2">{{ appName }}</h2>

        <div class="d-flex justify-center mt-12 fade-in-btn">
          <base-btn-submit large @click="step++">
            Продолжить
          </base-btn-submit>
        </div>
      </div>

      <v-form
          key="step-2"
          v-if="step === 1"
          v-model="valid"
          @submit.prevent="onSubmit"
          class="d-flex flex-column align-center justify-center"
      >
        <v-card light elevation="8" max-width="450px" min-width="450px" width="100%">
          <v-card-title class="justify-center">
            Придумайте пароль
          </v-card-title>
          <v-card-text>
            <base-input-password v-model="password"/>
            <base-input-password :equal="password" v-model="repeatPassword"/>
          </v-card-text>
          <v-card-actions class="justify-center">
            <base-btn-submit :loading="loading" :disabled="!valid">
              войти
            </base-btn-submit>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-slide-x-transition>
  </v-overlay>

</template>

<script>
import RegisterOrgTypeSelect from "@/components/Auth/RegisterOrgTypeSelect";
import BaseInput from "@/components/Base/Form/BaseInput";
import BaseInputPassword from "@/components/Base/Form/BaseInputPassword";
import BaseBtnSubmit from "@/components/Base/Buttons/BaseBtnSubmit";
import BaseLink from "@/components/Base/BaseLink";
import authService from "@/services/AuthService";

export default {
  name: 'RegistrationByLink',
  components: {
    BaseLink,
    BaseBtnSubmit,
    BaseInputPassword,
    BaseInput,
    RegisterOrgTypeSelect,
  },
  data() {
    return {
      password: "",
      code: "",

      valid: false,
      loading: false,
      step: 0,
      repeatPassword: ""
    }
  },
  mounted() {
    this.code = this.$route.query.c
  },
  computed: {
    appName() {
      return this.$store.getters['app/getAppName']
    }
  },
  methods: {
    async onSubmit() {
      console.log()
      this.loading = true
      const {password, code} = this
      await authService.loginByLink({code, password})
      this.loading = false
    },
  },
};
</script>

<style lang="scss">
</style>