<template>
  <v-form v-model="valid" @submit.prevent="onSubmit" class="auth">
    <base-input v-model.trim="authData.email" label="Email" name="email" icon="mdi-email" required check="email"
                autocomplete="username"/>
    <base-input-password v-model="authData.password"/>
    <base-input v-model="authData.fullName" label="ФИО" name="name" icon="mdi-form-textbox" required check="fio"/>

    <register-org-type-select v-model="authData.org.isNew"/>

    <transition-group name="org-input" tag="div" class="org-input-group">
      <base-input
          v-if="!authData.org.isNew"
          :key="1"
          v-model.trim="authData.org.id"
          label="ID организации"
          icon="mdi-sitemap"
          required
          class="org-input-item"
      />
      <base-input
          v-else
          :key="2"
          v-model.trim="authData.org.title"
          label="Название организации"
          icon="mdi-sitemap"
          required
          class="org-input-item"
      />
    </transition-group>

    <div class="auth-action">
      <span class="align-self-center">
        Уже есть аккаунт?
        <base-link :to="{name: 'Login'}" text="Войти"/>
      </span>

      <base-btn-submit
          :disabled="!valid"
          :loading="loading"
          text="Зарегестрироваться"
          class="align-self-center"
      />
    </div>
  </v-form>
</template>

<script>
import RegisterOrgTypeSelect from "@/components/Auth/RegisterOrgTypeSelect";
import BaseInput from "@/components/Base/Form/BaseInput";
import BaseInputPassword from "@/components/Base/Form/BaseInputPassword";
import BaseBtnSubmit from "@/components/Base/Buttons/BaseBtnSubmit";
import BaseLink from "@/components/Base/BaseLink";
import authService from "@/services/AuthService";

export default {
  name: 'RegistrationByPassword',
  components: {
    BaseLink,
    BaseBtnSubmit,
    BaseInputPassword,
    BaseInput,
    RegisterOrgTypeSelect,
  },
  data() {
    return {
      valid: false,
      loading: false,

      authData: {
        email: "",
        password: "",
        fullName: "",

        org: {
          isNew: true,
          title: "",
          id: ""
        }
      },
    }
  },
  methods: {
    async onSubmit() {
      this.loading = true;
      await authService.registrationByEmail(this.authData)
      this.loading = false
    },
  },
};
</script>

<style lang="scss">
</style>