<template>
  <v-form v-model="valid" class="auth" @submit.prevent="onSubmit">
    <base-input v-model.trim="email" required label="Email" name="email" icon="mdi-account" check="email"/>
    <div>
      <span>
        На страницу
        <base-link text="входа" :to="{name: 'Login'}"/>
      </span>
    </div>
    <base-btn-submit
        text="Восстановить"
        block
        :disabled="!valid"
        :loading="loading"
    />
  </v-form>
</template>

<script>
import BaseLink from "@/components/Base/BaseLink";
import BaseInput from "@/components/Base/Form/BaseInput";
import BaseBtnSubmit from "@/components/Base/Buttons/BaseBtnSubmit";
import authService from "@/services/AuthService";

export default {
  name: 'ForgetPassword',
  components: {BaseBtnSubmit, BaseInput, BaseLink},
  data() {
    return {
      loading: false,
      valid: false,
      email: "",
    }
  },
  methods: {
    async onSubmit() {
      this.loading = true
      await authService.resetPassword({email: this.email})
      this.loading = false
    }
  }
};
</script>
