<template>
  <base-modal
      ref="modal"
      :title="title"
      x-large
  >
    <setting-row description="" label="Название">
      <template v-slot:header>
        <base-input
            v-model="schedule.title"
            label="Название графика"
            name="title"
            icon="mdi-calendar-edit-outline"
            required
            class="px-2"
        />
      </template>
      <template v-slot:default>
        <base-select
            v-model="schedule.year"
            :items="years"
            label="Год"
            :disabled="!isCreateNew"
            name="year"
            required
            icon="mdi-calendar"
            class="px-2"
        />
      </template>
    </setting-row>
    <setting-row
        description="Дни будут автоматически начислены при активации графика"
        label="Количество отпускных дней"
    >
      <base-input-numeric class="ml-2" :outlined="false" icon="mdi-numeric" v-model="schedule.addVacationDays" :max="100"/>
      <base-checkbox class="ml-2 mt-0" dense v-model="schedule.addIndividualDays" label="Применить дополнительные дни" icon="mdi-plus-minus" />
    </setting-row>
    <setting-row
        label="Праздничные дни"
        description="Укажите праздничные дни, они будут автоматически исключаться из расчета.<br>
        <span class='error--text mr-1'>* Не все праздничыне дни могут быть загружены автоматически. Сверьтесь с производственным календарём</span>"
    >
      <div class="d-flex align-center">
        <div v-if="holidays.length" class="flex-shrink-0">Праздничных дней: <span class="font-weight-bold">{{holidays.length}}</span></div>
        <v-spacer />
        <modal-schedule-edit-actions
            @reload="exceptionReload"
            @removeHolidays="exceptionClear()"
            @remove="exceptionClear()"
        />
      </div>
      <modal-schedule-edit-date-chips
          :items="holidays"
          color="#2196f3"
          :loading="loadingChips"
          @delete="exceptionDelete"
          @goto="gotoDate"
      />
    </setting-row>
    <modal-schedule-edit-calendar
        ref="calendar"
        class="mt-1"
        :year="schedule.year"
        :holidays="holidays"
        @delete="exceptionDelete"
        @add="exceptionAdd"
    />
  </base-modal>
</template>

<script>
import BaseModal from "@/components/Base/BaseModal";
import BaseInput from "@/components/Base/Form/BaseInput";
import BaseSelect from "@/components/Base/Form/BaseSelect";
import SettingRow from "@/components/Settings/SettingRow";
import Schedule from "@/_modules/planner/models/Schedule";
import ModalScheduleEditDateChips from "@/_modules/planner/components/Modals/ModalScheduleEditDateChips";
import ModalScheduleEditActions from "@/_modules/planner/components/Modals/ModalScheduleEditActions";
import ModalScheduleEditCalendar from "@/_modules/planner/components/Modals/ModalScheduleEditCalendar";
import {getHolidayList} from "@/plugins/utils";
import BaseInputNumeric from "@/components/Base/Form/BaseInputNumeric";
import BaseCheckbox from "@/components/Base/Form/BaseCheckbox";

export default {
  name: "ModalScheduleEdit",
  components: {
    BaseCheckbox,
    BaseInputNumeric,
    ModalScheduleEditCalendar,
    ModalScheduleEditActions,
    ModalScheduleEditDateChips,
    SettingRow,
    BaseSelect,
    BaseInput,
    BaseModal
  },
  data() {
    return {
      isCreateNew: true,
      schedule: new Schedule(),
      title: "",
      loadingChips: false
    }
  },
  computed: {
    years() {
      const year = (new Date()).getFullYear()
      const count = 10
      return [...Array(count).keys()].map(v => {
        const currYear = year + v - +(count / 2)
        return {
          text: `От ${currYear} года`,
          value: currYear
        }
      })
    },
    holidays() {
      return [...this.schedule.holidayList].sort()
    },
  },
  methods: {
    async open({id}) {
      this.title = id ? "Редактирование" : "Новый график";

      if (id) {
        this.isCreateNew = false
        this.schedule =this.$store.getters['planner/schedules/getById'](id)
        if (!this.schedule) return
      } else {
        this.schedule = new Schedule()
        this.schedule.year = (new Date()).getFullYear() + 1
        await this.exceptionReload()
      }

      const res = await this.$refs.modal.open()
      if (res) {
        await this.saveSchedule()
      }
      this.reset()
    },
    gotoDate(date) {
      this.$refs.calendar.goto(date)
    },
    exceptionAdd(type, date) {
      this.schedule.holidayList.push(this.$moment(date).format('YYYY-MM-DD'))
    },
    exceptionDelete(date) {
      const formattedDate = this.$moment(date).toText()
      this.schedule.holidayList = this.schedule.holidayList.filter(holiday => this.$moment(holiday).toText() !== formattedDate)
    },
    exceptionClear() {
      this.schedule.holidayList = []
    },
    async exceptionReload() {
      this.loadingChips = true
      this.schedule.holidayList = await getHolidayList(this.schedule.year)
      this.loadingChips = false
    },
    async saveSchedule() {
      if (this.schedule.id) {
        await this.schedule.update()
      }else {
        await this.schedule.create()
      }
    },
    reset() {
      this.$nextTick(() => {
        this.schedule = new Schedule()
        this.isCreateNew = true
      })
    }
  },
  watch: {
    "schedule.year"(newVal, oldVal) {
      if (oldVal !== '' && oldVal !== undefined) {
        this.exceptionReload(newVal)
      }
    }
  }
}
</script>

<style scoped>

</style>