<template>
  <div>
    <vc-date-picker
        ref="datePicker"
        v-model="selectedDate"
        :attributes="attributes"
        :columns="columns"
        :min-date="minDate"
        :max-date="maxDate"
        is-expanded
    >
      <template v-slot:day-popover="{day, attributes, dayTitle }">
        <modal-schedule-edit-calendar-day-popover
            :day-title="dayTitle"
            :holiday="!!day.attributesMap.holidays"

            @delete="$emit('delete', day.date)"
            @add="onAddException(day.date)"
        />
      </template>
    </vc-date-picker>
    <calendar-legend class="mt-1"/>
  </div>
</template>

<script>
import CalendarLegend from "@/components/CalendarLegend";
import {Exception, HoverableAll, Weekends} from "@/_modules/planner/helper/CalendarHelpers";
import ModalScheduleEditCalendarDayPopover
  from "@/_modules/planner/components/Modals/ModalScheduleEditCalendarDayPopover";

export default {
  name: "ModalScheduleEditCalendar",
  components: {ModalScheduleEditCalendarDayPopover, CalendarLegend},
  props: {
    year: {
      type: [String, Number],
      required: true
    },
    holidays: {
      type: Array,
      required: true
    }
  },
  mounted() {
    this.gotoCurrentYear()
  },
  data() {
    return {
      selectedDate: null,
    }
  },
  computed: {
    minDate() {
      return `${this.year}-01-01`
    },
    maxDate() {
      return `${this.year}-12-31`
    },
    columns() {
      switch (true) {
        case this.$vuetify.breakpoint.lgAndUp: return 4;
        case this.$vuetify.breakpoint.md: return 3;
        default: return 1
      }
    },
    attributes() {
      return [
          HoverableAll,
          Weekends,
          Exception('holidays', this.holidays)
      ]
    }
  },
  methods: {
    goto(date) {
      this.$nextTick(() => {
        this.$refs.datePicker.focusDate(new Date(date), {position: 1})
      })
    },
    gotoCurrentYear() {
      this.goto(this.minDate)
    },
    onAddException(date) {
      this.$emit('add', 'holiday', date)
    }
  },
  watch: {
    year() {
      this.gotoCurrentYear()
    }
  }
}
</script>

<style scoped>

</style>