<template>
  <div>
    <div>
      {{ dayTitle }}
    </div>
    <v-btn
        v-if="holiday"
        color="warning"
        small
        text
        class="font-weight-bold"
        @click.stop="$emit('delete')"
    >
      Удалить из исключений
    </v-btn>
    <v-btn
        v-else
        color="white"
        small
        text
        class="font-weight-bold"
        @click.stop="$emit('add')"
    >
      Добавить в исключения
    </v-btn>
  </div>
</template>

<script>
export default {
  name: "ModalScheduleEditCalendarDayPopover",
  props: {
    dayTitle: {
      type: String,
      required: true
    },
    holiday: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>

</style>