<template>
  <base-modal
      ref="modal"
      :title="title"
      x-large
  >
    <div class="d-flex gap-4 flex-wrap">
      <div>
        <modal-vacation-edit-calendar
            class="flex-grow-1"
            v-model="dates"

            :other-user-vacations="otherUserVacations"
            :holiday-list="schedule.holidayList"

            :userId="vacation.userId"
            :scheduleId="schedule.id"
            :year="schedule.year"
        />
        <modal-vacation-edit-footer />
      </div>
      <modal-vacation-edit-side
          v-model="vacation.comment"
          :dates="dates"
          :schedule-id="schedule.id"
          :holiday-list="schedule.holidayList"
          style="flex-basis: 200px"
      />
    </div>

  </base-modal>
</template>

<script>
import Vacation from "@/_modules/planner/models/Vacation";
import BaseModal from "@/components/Base/BaseModal";
import ModalVacationEditCalendar from "@/_modules/planner/components/Modals/ModalVacationEditCalendar";
import Schedule from "@/_modules/planner/models/Schedule";
import ModalVacationEditSide from "@/_modules/planner/components/Modals/ModalVacationEditSide";
import ModalVacationEditFooter from "@/_modules/planner/components/Modals/ModalVacationEditFooter";

export default {
  name: "ModalVacationEdit",
  components: {
    ModalVacationEditFooter,
    ModalVacationEditCalendar,
    ModalVacationEditSide,
    BaseModal,
  },
  data() {
    return {
      title: "",
      vacation: new Vacation(),
      dates: {
        start: null,
        end: null
      },
      schedule: {},
      otherUserVacations: [],
    }
  },
  methods: {
    async open({userId, scheduleId, vacationId}) {
      if (!scheduleId) {
        return
      }

      this.schedule = this.$store.getters['planner/schedules/getById'](scheduleId)
      if (!this.schedule) {
        return
      }

      const vacations = this.$store.getters['planner/vacations/getByScheduleId'](scheduleId)

      this.title = vacationId ? "Редактирование" : "Новый отпуск"
      if (vacationId) {
        const vacation = vacations.find(vacation => vacation.id === vacationId)
        if (!vacation) {
          return
        }

        this.vacation = vacation
        this.dates = {
          start: new Date(vacation.start),
          end: new Date(vacation.end),
        }
      } else {
        this.vacation = new Vacation({
          scheduleId,
          userId,
        })
      }

      this.otherUserVacations = vacations
          .filter(v => v.userId === userId && v.id !== vacationId)
          .filter(v => !v.rejected)

      const res = await this.$refs.modal.open()
      if (res) {
        this.saveVacation()
      }
      this.reset()
    },
    saveVacation() {
      this.vacation.start = this.dates.start
      this.vacation.end = this.dates.end

      if (this.vacation.id) {
        this.vacation.update()
      } else {
        this.vacation.create()
      }
    },
    reset() {
      this.vacation = new Vacation()
      this.schedule = new Schedule()
      this.dates = {
        start: null,
        end: null
      }
    }
  }
};
</script>