<template>
  <div
      class="full-width vc-day-content vc-focusable in-month vc-day-box-center-center font-weight-medium align-start"
      v-on="item.dayEvents"
      :class="classes"
      :style="color"
  >
    <span
        aria-disabled="false"
        class=""
        role="button"
        tabindex="-1"
    >
      {{ item.day.day }}
    </span>
  </div>
</template>

<script>

import {colors} from "@/_modules/planner/helper/CalendarHelpers";

export default {
  name: "ModalVacationEditCalendarDay",
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  computed: {
    color() {
      const attrs = this.item.attributesMap
      if (!attrs) return ''

      let color = ''
      const keys = ['weekends', 'holidays']

      keys.map(key => {
        if (attrs.hasOwnProperty(key) && colors.hasOwnProperty(key)) color = colors[key]
      })

      if (!color) return ''

      return `color: ${color} !important;`
    },
    classes() {
      const attrs = this.item.attributesMap
      if (!attrs) return ''

      const cls = []

      const keySelector = {
        'OtherExistsVacation': 'highlights',
        'select-drag': 'selection'
      }
      const keys = Object.keys(keySelector)
      const existingKey = []
      Object.keys(attrs).forEach(attr => {
        keys.forEach(key => {
          if (attr.includes(key)) {
            existingKey.push(attr)
          }
        })
      })

      if (!existingKey.length) return

      existingKey.forEach(attr => {
        const key = keys.find(key => attr.includes(key))
        const selector = keySelector[key]

        const {start, end} = attrs[attr].dates[0]
        const currentDate = this.item.day.date

        const isStart = this.$moment(currentDate).toText() === this.$moment(start).toText()
        const isEnd = this.$moment(currentDate).toText() === this.$moment(end).toText()

        cls.push(`vc-day-content__${selector}`)
        if (isStart) cls.push(`vc-day-content__${selector}-start`)
        if (isEnd) cls.push(`vc-day-content__${selector}-end`)
      })

      return cls
    },
  }
}
</script>

<style scoped>

</style>