<template>
  <div class="d-flex flex-column gap-1">
    <calendar-legend :items="levels" icon="mdi-calendar-minus"/>
    <calendar-legend/>
  </div>
</template>

<script>
import CalendarLegend from "@/components/CalendarLegend";
export default {
  name: "ModalVacationEditFooter",
  components: {CalendarLegend},
  data() {
    return {
      levels: [
        {id: 2, text: 'Руководители', color: '#e53e3e'},
        {id: 1, text: 'Коллеги по команде', color: '#805ad5'},
        {id: 0, text: 'Коллеги по задачам', color: '#319795'},
      ],
    }
  }
}
</script>

<style scoped>

</style>