<template>
  <div class="d-flex flex-column flex-shrink-1 flex-grow-1">
    <div>
      <span class="d-inline-block text-subtitle-1 font-weight-bold min-w-50px">
        Даты:
      </span>
      <span class="ml-4">
        <span class="text-subtitle-1" v-html="rangeLabel" />
      </span>
    </div>

    <div>
      <span class="d-inline-block text-subtitle-1 font-weight-bold min-w-50px">
        Дней:
      </span>
      <span class="ml-4">
        <span class="text-subtitle-1"> <b>{{ rangeLength }}</b></span>
        <base-input
            :value="rangeLength"
            class="d-none"
            required
            check="isPositiveNumber"
        />
      </span>
    </div>

    <span>
      <span class="error--text">Внимание!</span> Праздничные дни не учитываются в подсчете отпускных дней и в заявлении. Они будут исключены <b>автоматически</b>.
    </span>
    <v-textarea
        v-model="comment"
        hide-details
        no-resize
        label="Комментарий"
        outlined
    >
    </v-textarea>
    <small>
      Выбранные Вами даты будут видны другим пользователям только после отправки на
      утверждение
    </small>
    <v-divider/>
    <small class="error--text">
        * Обратите внимание, что окончательно даты будут зарезервированы
        за Вами только после утверждения руководителем
      </small>
  </div>
</template>

<script>
import BaseInput from "@/components/Base/Form/BaseInput";
import Vacation from "@/_modules/planner/models/Vacation";

export default {
  name: "ModalVacationEditSide",
  components: {BaseInput},
  props: {
    dates: {
      type: Object,
      required: true,
      validator: obj => obj.hasOwnProperty('start') && obj.hasOwnProperty('end')
    },
    value: {
      type: String
    },
    scheduleId: {
      type: String
    },
    holidayList: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      rangeLength: "-"
    }
  },
  computed: {
    comment: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    },
    rangeLabel() {
      const dates = this.dates
      if (!dates.start || !dates.end) {
        return "<b>-</b>"
      }

      const formattedStart = this.$moment(dates.start).toText()
      const formattedEnd = this.$moment(dates.end).toText()

      return `C <b>${formattedStart}</b> по <b>${formattedEnd}</b>`

    }
  },
  methods: {
    async calculate() {
      const dates = this.dates
      if (!dates.start || !dates.end || !this.scheduleId) {
        this.rangeLength = "-"
        return
      }
      this.rangeLength = await Vacation.getDaysCount(dates.start, dates.end, this.scheduleId)
    }
  },
  watch: {
    "dates"() {
      this.calculate()
    },
  }
}
</script>

<style scoped>

</style>