<template>
  <div class="full-width d-flex justify-end">
    <icon-btn-with-tip
        v-for="action in actions"
        :key="action.key"

        :icon="action.icon"
        :color="action.color"
        :btn-class="action.class"
        @click="$emit(action.key)"
    >
      {{ action.text }}
    </icon-btn-with-tip>
  </div>
</template>

<script>
import IconBtnWithTip from "@/components/IconBtnWithTip";

export default {
  name: "ModalScheduleEditActions",
  components: {IconBtnWithTip, },
  data() {
    return {
      actions: [
        {key: "reload", text: "Загрузить даты по умолчанию", icon: "mdi-refresh", color: "", class: "rotated-360"},
        {
          key: "removeHolidays",
          text: "Очистить праздничные дни",
          icon: "mdi-calendar-remove-outline",
          color: "#2196f3"
        },
      ],
    }
  }
}
</script>

<style scoped>

</style>