<template>
  <div v-if="loading" class="">
    <v-progress-linear indeterminate class="rounded"/>
  </div>
  <div
      v-else-if="items && items.length"
      class="d-grid grid-cols-chip gap-1"
  >
    <v-chip
        v-for="item in dates"
        :key="item.text"
        :color="color"
        close
        label
        link
        small
        outlined
        @click:close="$emit('delete', item.date)"
        @click="$emit('goto', item.date)"
        class="px-1 elevation-2"
    >
      <span class="font-weight-bold mr-1">
        {{ item.short }}
      </span>
      <span>
        {{ item.text }}
      </span>
    </v-chip>
  </div>
  <base-data-empty-label
      v-else
      flat
      text="Нет праздничных дней"
  />
</template>
<script>
import BaseDataEmptyLabel from "@/components/Base/Labels/BaseDataEmptyLabel";

export default {
  name: "ModalScheduleEditDateChips",
  components: {BaseDataEmptyLabel},
  props: {
    items: {
      type: Array,
      required: true
    },
    color: {
      type: String,
      default: ''
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    dates() {
      const items = [...this.items].sort((a, b) => a > b ? 0 : -1)

      return items.map(date => {
        const day = this.$moment(date)
        return {
          date,
          short: day.weekDay().toLowerCase(),
          text: day.toText()
        }
      })
    }
  }
}
</script>

<style lang="scss">

</style>