<template>
  <div>
    <vc-date-picker
        v-model="dates"
        class="popover-pointer-none"
        :attributes="[
          ...exceptions,
          ...otherExistsVacation,
          ...bars
          ]"
        :columns="$vuetify.breakpoint.mdAndUp ? 2 : 1"
        :max-date="new Date(`${year}-12-31`)"
        :min-date="new Date(`${year}-01-01`)"
        :disabled-dates="disableDates"
        :select-attribute="{highlight: {fillMode: 'light'}}"
        is-range
        is-expanded
        :step="1"
    >
      <template v-slot:day-content="item">
        <modal-vacation-edit-calendar-day :item="item"/>
      </template>
      <template v-slot:day-popover="{dayTitle, attributes}">
        <div class="text-xs text-gray-300 font-semibold text-center">
          {{ dayTitle }}
        </div>
        <popover-row
            v-for="attr in attributes"
            :key="attr.key"
            :attribute="attr"
        >
          {{ attr.customData.name }}{{ attr.customData.tasks }}:
          {{ dateToText(attr.customData.dates.start) }} - {{ dateToText(attr.customData.dates.end) }}
        </popover-row>
      </template>
    </vc-date-picker>
    <v-btn block color="primary" text @click="clearSelection">Сбросить</v-btn>
  </div>
</template>
<script>
import PopoverRow from 'v-calendar/lib/components/popover-row.umd.min'
import {
  Exception,
  getUsersVacationsBar,
  getUsersVacationsPopovers,
  OtherExistsVacation,
  Weekends
} from "@/_modules/planner/helper/CalendarHelpers";
import ModalVacationEditCalendarDay from "@/_modules/planner/components/Modals/ModalVacationEditCalendarDay";
import Task from "@/models/Task";

const colors = ['teal', 'purple', 'red']
export default {
  name: 'ModalVacationEditCalendar',
  components: {ModalVacationEditCalendarDay, PopoverRow},
  props: {
    value: {},
    year: {
      type: [String, Number],
      required: true
    },
    holidayList: {
      type: Array,
      default: () => []
    },
    otherUserVacations: {
      type: Array,
      default: () => []
    },
    userId: {
      type: String,
      required: true
    },
    scheduleId: {
      type: String,
      required: true
    }
  },
  mounted() {
    this.update()
  },
  data() {
    return {
      bars: []
    }
  },
  computed: {
    exceptions() {
      return [
        Weekends,
        Exception('holidays', this.holidayList),
      ]
    },
    dates: {
      get() {
        return this.value
      },
      set(val) {
        const dates = {
          start: val && val.start,
          end: val && val.end
        }
        this.$emit('input', dates)
      }
    },
    disableDates() {
      return this.otherUserVacations.map(x => ({
        start: new Date(x.start),
        end: new Date(x.end)
      }))
    },
    otherExistsVacation() {
      return this.otherUserVacations.map(OtherExistsVacation)
    }
  },
  methods: {
    dateToText(date) {
      return this.$moment(date).toText()
    },
    async update() {
      const user = this.$store.getters['users/getUserById'](this.userId)
      const userManagers = user.getManagers()
      const userManagersIds = userManagers.map(x => x.id)

      const userTaskmates = user.getTaskmates().filter(user => userManagersIds.indexOf(user.id) === -1)
      const userTaskmatesIds = userTaskmates.map(x => x.user.id)

      const userTeammates = user.getTeammates()
          .filter(user => userManagersIds.indexOf(user.id) === -1 && userTaskmatesIds.indexOf(user.id) === -1)

      const scheduleId = this.scheduleId
      const tasks = Task.getAll()

      const managersBar = getUsersVacationsBar(userManagers, scheduleId, 'vManagers', colors[2])

      const teammatesBar = getUsersVacationsBar(userTeammates, scheduleId, 'vTeammates', colors[1])
      const taskmatesBar = getUsersVacationsBar(userTaskmates.map(u => u.user), scheduleId, 'vTaskmates', colors[0])

      const managersPopovers = getUsersVacationsPopovers(userManagers, scheduleId, 'vManagers', colors[2])
      const teammatesPopovers = getUsersVacationsPopovers(userTeammates, scheduleId, 'vTeammates', colors[1])
      const taskmatesPopovers = getUsersVacationsPopovers(
          userTaskmates.map(u => u.user), scheduleId, 'vTaskmates', colors[0],
          userTaskmates.map(u => '[ ' + u.tasks.map(task => tasks.find(t => t.id === task).title).join(', ') + ' ]')
      )

      const attributes = [managersBar, teammatesBar, taskmatesBar]

      managersPopovers.map(arr => attributes.push(...arr))
      teammatesPopovers.map(arr => attributes.push(...arr))
      taskmatesPopovers.map(arr => attributes.push(...arr))

      this.bars = attributes
    },
    clearSelection() {
      this.dates = null
    },
  }
}
</script>

<style lang="scss">

</style>
