<template>
  <base-select
      v-model="selectedRoles"
      :items="roles"
      :label="label"
      item-value="key"
      icon="mdi-account-group"
      multiple
      :disabled="disabled"
  >
    <template v-slot:selection="{item}">
      <v-chip label outlined :disabled="disabled || item.disabled" :color="item.color" small style="pointer-events: none">
        {{ item.title.short }}
      </v-chip>
    </template>
  </base-select>
</template>
<script>
import {ROLES, USER_GROUPS} from "@/plugins/CONSTANTS";
import BaseSelect from "@/components/Base/Form/BaseSelect";


export default {
  name: 'SettingSelectRoles',
  components: {BaseSelect},
  props: {
    value: {},
    label: {
      type: String,
      default: "Кто может"
    },
    ownerDisable: {
      type: Boolean,
      default: false
    },
    hideUser: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    roles() {
      const roles = USER_GROUPS
      .map(group => {
        group.text = group.title.short
        if (group.key === ROLES.OWNER) group.disabled = true
        return group
      })

      return this.hideUser ? roles.filter(role => role.key !== ROLES.USER) : roles
    },
    selectedRoles: {
      get() {return this.value},
      set(val) {
        const arr = []
        if (this.ownerDisable && val.indexOf(ROLES.OWNER) === -1) arr.push(ROLES.OWNER)
        arr.push(...val)
        this.$emit('input', arr)
      }
    }
  }
}
</script>
