<template>
  <base-sheet>
    <v-list subheader>
      <v-list-item-group
          mandatory
          color="primary"
      >
        <setting-nav-item v-for="(link, idx) in $options.links" :key="idx" :item="link"/>
      </v-list-item-group>
    </v-list>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import SettingNavItem from "@/components/Settings/SettingNavItem";
import {plannerSettingsLinks} from "@/_modules/planner";

export default {
  name: "SettingNav",
  components: {SettingNavItem, BaseSheet},
  links: [
    {header: 'Основыне'},
    {text: 'Аккаунт', to: {name: 'SettingProfile'}, icon: ''},
    {text: 'Организация', to: {name: 'SettingOrg'}, icon: ''},
    // {text: 'Разрешения', to: {name: 'SettingAccessPermission'}, icon: ''},
    {divider: true},
    ...plannerSettingsLinks
  ]
}
</script>

<style scoped>

</style>