<template>
  <setting-block title="Данные аккаунта" @submit="onSubmit" :submit-disable="!wasChanged || disabled" :no-action="disabled">
    <user-account-email :hide-details="true" v-model="user.email" @change="wasChanged = true" :disabled="disabled"/>
    <user-account-position :dep-id="user.depId" v-model="user.job.position" @change="wasChanged = true" :disabled="disabled"/>
    <user-account-team :dep-id="user.depId" v-model="user.job.team" @change="wasChanged = true" :disabled="disabled"/>
    <user-account-task :dep-id="user.depId" v-model="user.job.taskList" @change="wasChanged = true" :disabled="disabled"/>
    <user-account-tabid  :hide-details="true" :disabled="disabled" v-model="user.job.tabId" />
    <user-account-roles v-model="user.role" @change="wasChanged = true" :disabled="disabled" />
  </setting-block>
</template>

<script>
import SettingBlock from "@/components/Settings/SettingBlock";
import UserAccountEmail from "@/components/User/UserAccountEmail";
import UserAccountPosition from "@/components/User/UserAccountPosition";
import UserAccountTeam from "@/components/User/UserAccountTeam";
import UserAccountTask from "@/components/User/UserAccountTask";
import UserAccountRoles from "@/components/User/UserAccountRole";
import UserAccountTabid from "@/components/User/UserAccountTabid";
export default {
  name: "SettingProfileAccountBlock",
  components: {
    UserAccountTabid,
    UserAccountRoles, UserAccountTask, UserAccountTeam, UserAccountPosition, UserAccountEmail, SettingBlock},
  props: {
    user: {
      type: Object,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      wasChanged: false
    }
  },
  methods: {
    onSubmit() {
      this.wasChanged = false
    }
  }
}
</script>

<style scoped>

</style>