<template>
  <div class="d-flex align-top">
    <v-text-field
        :value="id"
        dense
        disabled
        label="ID пространства"
        name="workspace"
        single-line
    >
      <template v-slot:prepend>
        <base-input-icon>mdi-identifier</base-input-icon>
      </template>
    </v-text-field>
    <v-fab-transition>
      <icon-btn-with-tip
          v-if="!copied"
          icon="mdi-content-copy"
          @click="copy"
      >
        Копировать
      </icon-btn-with-tip>
      <icon-btn-with-tip
          v-else
          color="success"
          icon="mdi-check-all"
          tooltipcolor="success"
      >
        Успешно
      </icon-btn-with-tip>
    </v-fab-transition>
  </div>
</template>

<script>
import BaseInputIcon from "@/components/Base/Form/BaseInputIcon";
import IconBtnWithTip from "@/components/IconBtnWithTip";
import Tools from "@/plugins/Tools";
export default {
  name: "SettingOrgId",
  components: {IconBtnWithTip, BaseInputIcon},
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      copied: false
    }
  },
  methods: {
    copy() {
      this.copied = true
      Tools.copyText(this.id)
      setTimeout(() => {
        this.copied = false
      }, 3000)
    }
  }
}
</script>

<style scoped>

</style>