<template>
  <base-sheet class="d-flex justify-center gap-2">
    <v-btn outlined color="error">
      Сменить пароль
    </v-btn>
    <v-btn outlined color="error">
      Удалить аккаунт
    </v-btn>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import User from "@/models/User";
export default {
  name: "SettingProfileAction",
  components: {BaseSheet},
  props: {
    user: User,
    required: true
  }
}
</script>

<style scoped>

</style>