<template>
  <setting-block
      title="Личные данные"
      @submit="onSubmit"
      :loading="loading"
      :submit-disable="!wasChanged"
  >
    <setting-row description="" label="Полное ФИО">
      <user-personal-full-name v-model="user.fullName" @change="wasChanged = true"/>
    </setting-row>
    <setting-row
       description="Соращенный вариант ФИО или любой другой удобный вариант, который будет отображаться в большинстве мест программы"
       label="Имя для отображения"
    >
      <user-personal-display-name v-model="user.displayName" @change="wasChanged = true"/>
    </setting-row>
  </setting-block>
</template>

<script>
import SettingBlock from "@/components/Settings/SettingBlock";
import UserPersonalFullName from "@/components/User/UserPersonalFullName";
import UserPersonalDisplayName from "@/components/User/UserPersonalDisplayName";
import SettingRow from "@/components/Settings/SettingRow";
export default {
  name: "SettingProfilePersonalBlock",
  components: {SettingRow, UserPersonalDisplayName, UserPersonalFullName, SettingBlock},
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      loading: false,
      wasChanged: false
    }
  },
  methods: {
    async onSubmit() {
      this.loading = true
      await this.user.save()

      this.loading = false
      this.wasChanged = false
    }
  }
}
</script>

<style scoped>

</style>