<template>
  <base-sheet>
    <v-card flat height="100%">
      <v-form
          ref="form"
          @submit.prevent="$emit('submit')"
          class="d-flex flex-column"
      >
        <v-card-title>
          <span>{{ title }}</span>
          <v-spacer/>
          <slot name="actions"/>
          <base-btn-expand v-if="expanding" reverse v-model="isExpanded"/>
        </v-card-title>
        <v-card-text>

          <v-slide-y-transition leave-absolute group v-if="expanding">
            <slot :isCollapse="!isExpanded"/>
          </v-slide-y-transition>
          <slot v-else />
        </v-card-text>
        <v-fade-transition leave-absolute>
          <v-card-actions class="justify-center" v-if="!noAction && (!expanding || isExpanded)">
            <base-btn-submit :disabled="submitDisable" :loading="loading"/>
          </v-card-actions>
        </v-fade-transition>
      </v-form>
    </v-card>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import BaseBtnSubmit from "@/components/Base/Buttons/BaseBtnSubmit";
import BaseBtnExpand from "@/components/Base/Buttons/BaseBtnExpand";

export default {
  name: "SettingBlock",
  components: {BaseBtnExpand, BaseBtnSubmit, BaseSheet},
  props: {
    noAction: {
      type: Boolean,
      default: false
    },
    submitDisable: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    },
    expanding: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      isExpanded: false
    }
  }
}
</script>

<style scoped>

</style>