<template>
  <v-divider v-if="item.divider"/>
  <v-subheader v-else-if="item.header">
    {{ item.header }}
  </v-subheader>
  <v-list-item v-else-if="!item.header" :value="item.id" link :to="item.to">
    <v-list-item-content>
      <v-list-item-title>
        {{ item.text }}
      </v-list-item-title>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
export default {
  name: "SettingNavItem",
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>