<template>
  <v-row no-gutters>
    <v-col cols="12" class="pa-0 ma-0 mt-1" :class="{'mt-0 pt-0': doubleRows}" v-if="!noDivider">
      <v-divider/>
    </v-col>
    <v-col  cols="12" :md="doubleRows ? 12 : simple ? 4 : 6" :class="{'mt-0 pt-1': !doubleRows}">
      <slot name="header">
        <div :class="{'pl-1 pl-md-3': !doubleRows}">
          <div class="text-subtitle-1 font-weight-medium text--primary">{{ label }}</div>
          <div v-if="!simple" class="text-caption text--secondary" v-html="description"></div>
        </div>
      </slot>
    </v-col>
    <v-col cols="12" :md="doubleRows ? 12 : simple ? 8 : 6" class="mt-0 "  :class="{'pt-1 pr-md-3 pr-1': !doubleRows}" >
      <slot name="default"/>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "SettingRow",
  props: {
    label: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    expanded: {
      type: Boolean,
      default: false
    },
    simple: {
      type: Boolean,
      default: false
    },
    noDivider: {
      type: Boolean,
      default: false
    },
    doubleRows: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      expand: false
    }
  }
}
</script>

<style scoped lang="scss">

</style>