<template>
  <v-row class="flex-wrap">
    <v-col cols="12" md="">
      <base-page-header :title="schedule.title" :sub-title="user.fullName"/>
    </v-col>
    <v-col
        cols="4"
        md="auto"
        class="flex-shrink-1 pl-md-2"
        v-for="item in stats"
        :key="item.id"
    >
     <user-vacations-header-stat-sheet :item="item"/>
    </v-col>
  </v-row>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import ScheduleHeader from "@/_modules/planner/components/ScheduleHeader";
import Schedule from "@/_modules/planner/models/Schedule";
import User from "@/models/User";
import Vacation from "@/_modules/planner/models/Vacation";
import UserVacationsHeaderStatSheet from "@/_modules/planner/components/UserVacationsView/UserVacationsHeaderStatSheet";
import IUVStatus from "@/_modules/planner/helper/intarfaces/IUVStatus";
import BasePageHeader from "@/components/Base/BasePageHeader";

export default {
  name: "UserVacationsHeader",
  components: {BasePageHeader, UserVacationsHeaderStatSheet, ScheduleHeader, BaseSheet},
  props: {
    schedule: {
      type: Schedule,
      required: true
    },
    user: {
      type: User,
      required: true
    },
    vacations: {
      type: Array,
      required: true,
      validator: (arr) => arr.every(item => item instanceof Vacation)
    }
  },
  computed: {
    stats() {
      let stats = []

      let daysApproved = 0
      let daysSent = 0
      let daysDraft = 0
      let daysActive = 0
      let daysAll = 0

      this.vacations.forEach(v => {
        const days = v.days

        daysAll += days
        if (v.approved) daysApproved += days
        if (v.sent) daysSent += days
        if (v.draft) daysDraft += days
        if (v.active) daysActive += days
      })

      stats.push(new IUVStatus({days: daysApproved, limit: daysActive, title: "Утверждено", description: "Утвержено / Активных"}))
      stats.push(new IUVStatus({
        days: daysActive + daysDraft,
        title: "Всего",
        description: `
            Из них: <br>
                ${daysSent} - на утверждении<br>
                ${daysApproved} - утверждено<br>
                ${daysDraft} - в черновике<br>
                 `
      }))

      stats.push(new IUVStatus({days: this.user.planner.rest, title: "Остаток"}))

      return stats
    }
  }
}
</script>

<style scoped>

</style>