<template>
  <base-sheet
      class="d-flex flex-column relative justify-space-between flex-grow-1"
      :class="{'min-w-132px': $vuetify.breakpoint.smAndUp}"
  >
    <div class="absolute-top-right mr-1"  v-if="item.description">
      <v-tooltip bottom open-on-hover>
        <template  v-slot:activator="{ on, attrs }">
          <v-icon
              v-bind="attrs"
              v-on="on"
              small
          >
            mdi-help-circle-outline
          </v-icon>
        </template>
        <template v-slot:default>
          <span v-html="item.description" />
        </template>
      </v-tooltip>
    </div>
    <div>
      <span class="text-h4 ml-1">{{item.days}}</span>
      <template v-if="item.limit !== undefined">
        <span> / </span>
        <span>{{item.limit}}</span>
      </template>
    </div>
    <span class="text-subtitle-2 font-italic">{{item.title}}</span>
  </base-sheet>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import IUVStatus from "@/_modules/planner/helper/intarfaces/IUVStatus";
export default {
  name: "UserVacationsHeaderStatSheet",
  components: {BaseSheet},
  props: {
    item: {
      type: IUVStatus,
      required: true
    }
  }
}
</script>

<style scoped>

</style>