<template>
  <div
      class="org-type_item draw elevation-2"
      :class="{selected}"
      v-ripple="{class: 'info--text'}"
  >
    <v-icon x-large>{{ icon }}</v-icon>
    <span>
      {{ description }}
    </span>
  </div>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";

export default {
  name: "RegisterOrgTypeSelectItem",
  components: {BaseSheet},
  props: {
    icon: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    selected: {
      type: Boolean,
      required: false
    },
  }
}
</script>

<style lang="scss">

.org-type_item {
  flex-basis: 40%;
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;

  padding: 5px 10px;
  border: 3px solid transparent;
  border-radius: 4px;


  & span {
    color: rgb(102, 102, 102);
  }
}

</style>