<template>
  <div class="org-type d-flex flex-row justify-space-around">
    <template v-for="type in types">
      <register-org-type-select-item
          :key="type.id"
          :icon="type.icon"
          :description="type.description"
          :selected="!!type.id === value"
          @click.native="onClick(type.id)"
      />
      <v-divider v-if="type.id === 0" vertical class="org-type_divider"/>
    </template>
  </div>
</template>

<script>
import BaseSheet from "@/components/Base/BaseSheet";
import RegisterOrgTypeSelectItem from "@/components/Auth/RegisterOrgTypeSelectItem";
export default {
  name: "RegisterOrgTypeSelect",
  components: {RegisterOrgTypeSelectItem, BaseSheet},
  props: ['value'],
  data() {
    return {
      types: [
        {id: 0, icon: "mdi-office-building-plus-outline", description: "Присоедениться к существующей"},
        {id: 1, icon: "mdi-office-building-outline", description: "Создать организацию"},
      ]
    }
  },
  methods: {
    onClick(id) {
      this.$emit('input', !!id)
    }
  }
}
</script>

<style lang="scss">
.org-type {
  &_divider {
    position: relative;
    &::after {
      content: "ИЛИ";
      display: flex;
      position: absolute;
      font-size: 0.5rem;
      width: 25px;
      height: 25px;

      justify-content: center;
      align-items: center;

      border-radius: 50%;
      background-color: white;
      border: 1px solid grey;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
    }
  }
}
</style>
